.delete {
    display: block;
    text-align: center;
    width: 100%;
    /* border: 1px solid grey; */
}

p {
    font-size: 18px;
    color: rgb(220, 20, 110);
}

td {
    text-align: left;
    vertical-align: top;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
}

@media (max-width: 550px) {
    h2 {
        margin: 0;
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .buttons {
        margin-top: 10px;
    }
}