<div class="filters-lap">
    <!-- available filter ----------------------------------------------------------- -->
    <div class="available">
        <h3><strong>Disponibilitate</strong></h3>

        <div class="filter-group">
            <input type="checkbox" id="1" name="STOCK" value="AVAILABLE" [(ngModel)]="stock_chk"
                (change)="onClick($event)">
            <label for="1"> In Stoc ({{stock_count}})</label>
        </div>

        <div class="filter-group">
            <input type="checkbox" id="2" name="DEPOSIT" value="AVAILABLE" [(ngModel)]="deposit_chk"
                (change)="onClick($event)">
            <label for="2"> In Depozit ({{deposit_count}})</label>
        </div>
    </div>

    <!-- price filter ---------------------------------------------------------------- -->
    <div class="price">
        <h3><strong>Pret</strong></h3>

        <div>
            <div class="filter-group">
                <input type="checkbox" id="101" name="UNDER1000" value="0,1000" [(ngModel)]="under1000_chk"
                    (change)="onClick($event)">
                <label for="101">Sub 1000 ({{under1000_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="102" name="UNDER2000" value="1000,2000" [(ngModel)]="under2000_chk"
                    (change)="onClick($event)">
                <label for="102">1000 - 2000 ({{under2000_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="103" name="UNDER3000" value="2000,3000" [(ngModel)]="under3000_chk"
                    (change)="onClick($event)">
                <label for="103">2000 - 3000 ({{under3000_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="104" name="UNDER4000" value="3000,4000" [(ngModel)]="under4000_chk"
                    (change)="onClick($event)">
                <label for="104">3000 - 4000 ({{under4000_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="105" name="OVER4000" value="4000,1000000" [(ngModel)]="over4000_chk"
                    (change)="onClick($event)">
                <label for="105">Peste 4000 ({{over4000_count}})</label>
            </div>
        </div>

    </div>

    <!-- brand filter --------------------------------------------------------------- -->
    <div class="brand">
        <h3><strong>Brand</strong></h3>
        <!-- 0 - 10 -->
        <div class="filter-group">
            <input type="checkbox" id="201" name="ACER" value="BRAND" [(ngModel)]="acer_chk" (change)="onClick($event)">
            <label for="201">ACER ({{acer_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="202" name="ADATA" value="BRAND" [(ngModel)]="adata_chk"
                (change)="onClick($event)">
            <label for="202">ADATA ({{adata_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="203" name="ALLVIEW" value="BRAND" [(ngModel)]="allview_chk"
                (change)="onClick($event)">
            <label for="203">ALLVIEW ({{allview_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="204" name="APPLE" value="BRAND" [(ngModel)]="apple_chk"
                (change)="onClick($event)">
            <label for="204">APPLE ({{apple_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="205" name="ASUS" value="BRAND" [(ngModel)]="asus_chk" (change)="onClick($event)">
            <label for="205">ASUS ({{asus_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="206" name="DELL" value="BRAND" [(ngModel)]="dell_chk" (change)="onClick($event)">
            <label for="206">DELL ({{dell_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="207" name="HAMA" value="BRAND" [(ngModel)]="hama_chk" (change)="onClick($event)">
            <label for="207">HAMA ({{hama_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="208" name="HP" value="BRAND" [(ngModel)]="hp_chk" (change)="onClick($event)">
            <label for="208">HP ({{hp_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="209" name="IPHONE" value="BRAND" [(ngModel)]="iphone_chk"
                (change)="onClick($event)">
            <label for="209">IPHONE ({{iphone_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="210" name="LENOVO" value="BRAND" [(ngModel)]="lenovo_chk"
                (change)="onClick($event)">
            <label for="210">LENOVO ({{lenovo_count}})</label>
        </div>
        <!-- 10 - 20 -->
        <div class="filter-group">
            <input type="checkbox" id="211" name="KINGSTON" value="BRAND" [(ngModel)]="kingston_chk"
                (change)="onClick($event)">
            <label for="211">KINGSTON ({{kingston_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="212" name="PROMATE" value="BRAND" [(ngModel)]="promate_chk"
                (change)="onClick($event)">
            <label for="212">PROMATE ({{promate_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="213" name="RIVACASE" value="BRAND" [(ngModel)]="rivacase_chk"
                (change)="onClick($event)">
            <label for="213">RIVACASE ({{rivacase_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="214" name="SAMSONITE" value="BRAND" [(ngModel)]="samsonite_chk"
                (change)="onClick($event)">
            <label for="214">SAMSONITE ({{samsonite_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="215" name="SAMSUNG" value="BRAND" [(ngModel)]="samsung_chk"
                (change)="onClick($event)">
            <label for="215">SAMSUNG ({{samsung_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="216" name="SANDISK" value="BRAND" [(ngModel)]="sandisk_chk"
                (change)="onClick($event)">
            <label for="216">SANDISK ({{sandisk_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="217" name="SEAGATE" value="BRAND" [(ngModel)]="seagate_chk"
                (change)="onClick($event)">
            <label for="217">SEAGATE ({{seagate_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="218" name="TUMI" value="BRAND" [(ngModel)]="tumi_chk" (change)="onClick($event)">
            <label for="218">TUMI ({{tumi_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="219" name="WD" value="BRAND" [(ngModel)]="wd_chk" (change)="onClick($event)">
            <label for="219">WD ({{wd_count}})</label>
        </div>
        <div class="filter-group">
            <input type="checkbox" id="220" name="XTORM" value="BRAND" [(ngModel)]="xtorm_chk"
                (change)="onClick($event)">
            <label for="220">XTORM ({{xtorm_count}})</label>
        </div>
    </div>

    <!-- category filter ----------------------------------------------------------- -->
    <div class="category">
        <h3><strong>Categorie</strong></h3>

        <div>
            <div class="filter-group">
                <input type="checkbox" id="301" name="LAPTOP_BUSINESS" value="CATEGORY" [(ngModel)]="business_chk"
                    (change)="onClick($event)">
                <label for="301">Business ({{business_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="302" name="LAPTOP_GAMING" value="CATEGORY" [(ngModel)]="gaming_chk"
                    (change)="onClick($event)">
                <label for="302">Gaming ({{gaming_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="303" name="LAPTOP_HOME" value="CATEGORY" [(ngModel)]="home_chk"
                    (change)="onClick($event)">
                <label for="303">Home ({{home_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="304" name="LAPTOP_ULTRA" value="CATEGORY" [(ngModel)]="ultra_chk"
                    (change)="onClick($event)">
                <label for="304">Ultraportabil ({{ultra_count}})</label>
            </div>
        </div>

        <div>
            <div class="filter-group">
                <input type="checkbox" id="401" name="BRIEFCASE" value="CATEGORY" [(ngModel)]="briefcase_chk"
                    (change)="onClick($event)">
                <label for="401">BRIEFCASE ({{briefcase_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="402" name="SLEEVE" value="CATEGORY" [(ngModel)]="sleeve_chk"
                    (change)="onClick($event)">
                <label for="402">SLEEVE ({{sleeve_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="403" name="BACKPACK" value="CATEGORY" [(ngModel)]="backpack_chk"
                    (change)="onClick($event)">
                <label for="403">BACKPACK ({{backpack_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="404" name="PLUG_IN" value="CATEGORY" [(ngModel)]="plug_in_chk"
                    (change)="onClick($event)">
                <label for="404">PLUG_IN ({{plug_in_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="405" name="CAR" value="CATEGORY" [(ngModel)]="car_chk"
                    (change)="onClick($event)">
                <label for="405">CAR ({{car_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="406" name="HDD" value="CATEGORY" [(ngModel)]="hdd_chk"
                    (change)="onClick($event)">
                <label for="406">HDD ({{hdd_count}})</label>
            </div>
            <div class="filter-group">
                <input type="checkbox" id="407" name="SSD" value="CATEGORY" [(ngModel)]="ssd_chk"
                    (change)="onClick($event)">
                <label for="407">SSD ({{ssd_count}})</label>
            </div>

        </div>
    </div>
</div>