.side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid black; */
}

.products {
    display: flex;
    flex-direction: column;   
    padding-top: 10px;
    width: 600px;
    height: 660px;
    border: 1px solid rgb(217, 217, 217);
    background: white;
}

.filters {
    display: flex;
    flex-direction: column;
    height: 50px;
    /* border: 1px solid black; */
}

.filterName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    /* border: 1px solid black; */
}

.filterName label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 2px 2px 8px;
    color: white;
    background: rgb(220, 20, 110);
}

.filterName label:hover {
    cursor: pointer;
}

.filterName h4 {
    cursor: pointer;
    color: rgb(220, 20, 110);    
    margin: 0;
    padding: 0;    
    background: none;

}

.filterName h4:hover {
    text-shadow: 0 0 1px rgb(220, 20, 110);
    text-decoration: underline;
}

.filterName mat-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    padding: 0;
    font-size: 18px;
}


/*  filters -------------------------------------------- */
.filters-lap {
    width: 290px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 1px solid black; */
}

.available,
.price,
.brand,
.category {
    margin-bottom: 24px;
}

.filters-lap h3 {
    margin: 0 4px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 16px;
    padding-left: 16px;
}

.filter-group {
    display: flex;
    align-items: center;
    margin: 12px 0;
    padding-left: 20px;
    /* border: 1px solid black; */
}

.filter-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: rgb(220, 20, 110);
}

.filter-group label {
    font-size: 14px;
    margin-left: 4px;
}

.filter-group input:hover,
.filter-group label:hover {
    cursor: pointer;
}