<app-navbar-main></app-navbar-main>

<app-navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></app-navbar-desktop>

<div class="container-favorites">
  <div class="content-favorites">

    <div class="empty" *ngIf="isFavoritesEmpty()">
      "Lista produselor favorite este goala !!!"
    </div>

    <table class="row-favorites" style="width: 100%;" *ngIf="!isFavoritesEmpty()">
      <thead>
        <tr class="back">
          <td colspan="3">
            <button class="btn-goBack" (click)="goBack()">BACK</button>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <h3>Favorite: {{favorites.items.length}} produse</h3>
          </td>
        </tr>
        <tr>
          <th colspan="7" class="livration">Livrare: 1-5 zile lucratoare</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let cartItem of favorites.items; index as ind">

          <td>{{ind+1}}</td>
          <td>
            <a (click)="getProductLinkName(cartItem)">
              <img [src]="cartItem.product.image" [alt]="cartItem.product.name">
            </a>
          </td>
          <td class="name">
            <strong>{{cartItem.product.description}}</strong>
          </td>
          <td>
            {{cartItem.price | number: '1.2-2'}} Lei
          </td>
          <td class="addToCart">
            <mat-icon (click)="addToCart(cartItem)">shopping_cart</mat-icon>
          </td>
          <td>
            <button class="btn-remove" (click)="removeFromFavorites(cartItem)">
              Sterge
            </button>
          </td>

        </tr>
      </tbody>

    </table>


    <table class="column-favorites" style="width: 100%;" *ngIf="!isFavoritesEmpty()">

      <thead>
        <tr>
          <td colspan="2">
            <h3>Cosul meu de cumparaturi:</h3>
          </td>
        </tr>
        <tr>
          <th colspan="7" class="livration">Livrare: 1-5 zile lucratoare</th>
        </tr>
      </thead>

      <tbody *ngFor="let cartItem of favorites.items; index as ind">
        <tr class="index">
          <th colspan="2">{{ind+1}}</th>
        </tr>
        <tr>
          <th>Imagine</th>
          <td>
            <a (click)="getProductLinkName(cartItem)">
              <img [src]="cartItem.product.image" [alt]="cartItem.product.name">
            </a>
          </td>
        </tr>
        <tr>
          <th>Nume</th>
          <td><strong>{{cartItem.product.name}}</strong></td>
        </tr>
        <tr>
          <th>Descriere</th>
          <td>{{cartItem.product.description}}</td>
        </tr>
        <tr>
          <th>Pret</th>
          <td>
            {{cartItem.price | number: '1.2-2'}} Lei
          </td>
        </tr>
        <tr>
          <th>Sterge</th>
          <td>
            <button class="btn-remove" (click)="removeFromFavorites(cartItem)">
              Sterge
            </button>
          </td>
        </tr>

      </tbody>

    </table>


  </div>
</div>