.my-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;    
    padding: 0;
    margin-top: 40px;
    background: black;
}

.my-content {
    min-height: 0;
    padding: 0;
    /* border: 2px solid red; */
}

.footer-wide {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    /* border: 2px solid rgb(54, 159, 1); */
}

.title h3 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
    transition: 200ms;
    /* border: 2px solid rgb(255, 0, 0); */
}

.underline {
    width: 25%;
    margin: 10px 0;
    height: 4px;
    box-sizing: border-box;
    background-color: rgb(220, 20, 110);
}

.subtitle {
    display: flex;
    flex-direction: column;
}

.subtitle a {
    font-size: 14px;
    line-height: 14px;
    color: rgb(179, 179, 179);
    padding: 4px 0;
    /* border: 2px solid rgb(255, 0, 0); */
}

/* mat-accordeon ============================================== */
.footer-accordion {
    display: none;
    width: 100%;
    padding: 10px 0;
}

.mat-expansion-panel {
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.mat-expansion-panel-header {
    padding: 0;
}

.mat-expansion-panel-header-title {
    font-size: 16px;
    color: white;
}

.mat-expansion-panel-header.mat-expanded {
    height: fit-content;
}

.mat-accordion .mat-expansion-panel {
    border-radius: 0 !important;
    /* border: 2px solid rgb(255, 0, 0) !important; */
}

.mat-expansion-panel-body {
    padding: 10px 20px !important;
    /* border: 2px solid rgb(255, 0, 0) !important; */
}

.mat-expansion-indicator {
    margin-right: 4px;
}

.mat-expansion-indicator::after {
    color: rgb(232, 232, 232);
    translate: 0 -2px !important;
}


@media (max-width: 1020px) {
    .my-content {
        padding: 0 10px;
    }
}

@media (max-width: 550px) {
    .footer-wide {
        display: none;
    }

    .footer-accordion {
        display: block;
    }

    .subtitle a {
        padding: 6px 0;
    }
}