<footer class="my-container">
  <div class="my-content">

    <div class="footer-wide">
      <div class="title" *ngFor="let title of titles">

        <h3>{{title.name}}</h3>

        <div class="underline"></div>

        <div class="subtitle" *ngFor="let subtitle of title.subtitles">
          <a (click)="noRoute()">{{subtitle.name}}</a>
        </div>

      </div>
    </div>

    <mat-accordion class="footer-accordion">

      <mat-expansion-panel *ngFor="let title of titles">

        <mat-expansion-panel-header>

          <mat-panel-title> {{title.name}} </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="subtitle" *ngFor="let subtitle of title.subtitles">

          <a (click)="noRoute()">{{subtitle.name}}</a>

        </div>

      </mat-expansion-panel>

    </mat-accordion>

  </div>