footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    padding: 0;
    background: rgb(40, 40, 40);
}

.content-footer {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 1500px;
    /* border: 2px solid red; */
}

.title {
    display: flex;
    flex-direction: column;
    padding: 30px 0 ;
    /* border: 2px solid rgb(54, 159, 1); */
}

.title>h3 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
    transition: 200ms;
    /* border: 2px solid rgb(255, 0, 0); */
}

.line {
    background-color: rgb(220, 20, 110);
    box-sizing: border-box;
    margin: 10px 0;
    width: 25%;
    height: 4px;
}

.subtitle {
    display: flex;
    flex-direction: column;
}

.subtitle>a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    color: rgb(179, 179, 179);
    padding: 4px 0;
    /* border: 2px solid rgb(255, 0, 0); */
}

/* mat-accordeon ============================================== */
.example-headers-align {
    display: none;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.mat-expansion-panel {
    padding-top: 10px;
    background: rgb(40, 40, 40);
}

.mat-expansion-panel-header {
    padding: 0 10px;
}

.mat-expansion-panel-header-title {
    color: white;
    padding: 6px 0;
    border-bottom: 1px solid rgba(220, 20, 110, 0.5);
}

.mat-expansion-panel-header.mat-expanded {
    height: fit-content;
}

.mat-expansion-panel-spacing {
    margin: 0 !important;
}


@media (max-width: 1530px) {
    .content-footer {
        width: 1200px;
    }
}

@media (max-width: 1260px) {
    .content-footer {
        width: 980px;
    }
}

@media (max-width: 1020px) {
    .content-footer {
        margin: 0 10px;
    }
}

@media (max-width: 766px) {
    .title>h3 {
        font-size: 14px;
        line-height: 14px;
    }

    .subtitle>li>a {
        font-size: 12px;
        line-height: 12px;
    }
}

@media (max-width: 550px) {
    .content-footer {
        display: none;
    }

    .example-headers-align {
        display: block;
    }
}