<table class="row-item">
  <thead>
    <tr>
      <td colspan="6">Sumar comanda:</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of order.items; index as ind">
      <td> {{ind+1}} </td>
      <td>
        <img [src]="item.product.image" [alt]="item.product.image">
      </td>
      <td class="description"> {{item.product.description}} </td>
      <td class="price"> {{item.product.price}} Lei </td>
      <td class="quantity"> x {{item.quantity}} buc </td>
      <td class="price"> {{item.price | number: '1.2-2'}} Lei</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="subtotal">
      <th colspan="3"></th>
      <td colspan="2"> Subtotal </td>
      <td> {{order.subtotal}} Lei </td>
    </tr>
    <tr class="delivery">
      <th colspan="3"> </th>
      <td colspan="2"> Taxa livrare </td>
      <td> {{order.delivery}} Lei </td>
    </tr>
    <tr class="total">
      <th colspan="3"></th>
      <td colspan="2"> <strong> TOTAL </strong> </td>
      <td> <strong> {{order.totalPrice | number: '1.2-2'}} Lei </strong> </td>
    </tr>
  </tfoot>

</table>


<table class="column-item">
  <thead>
    <tr>
      <td colspan="6">Sumar comanda:</td>
    </tr>
  </thead>

  <tbody *ngFor="let item of order.items; index as ind">
    <tr class="index">
      <td colspan="2"><strong>{{ind+1}}</strong></td>
    </tr>
    <tr>
      <th><img [src]="item.product.image"></th>
      <td>{{item.product.description}}</td>
    </tr>
    <tr>
      <th>{{item.quantity}} buc</th>
      <td><strong>{{item.price | number: '1.2-2'}} Lei</strong></td>
    </tr>
  </tbody>

  <tfoot>
    <tr class="footer">
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><strong>Subtotal: </strong></td>
      <td><strong>{{order.subtotal}} Lei</strong>
      </td>
    </tr>

    <tr>
      <td><strong>Delivery: </strong></td>
      <td><strong>{{order.delivery}} Lei</strong>
      </td>
    </tr>

    <tr>
      <td><strong>TOTAL: </strong></td>
      <td><strong>{{order.totalPrice | number: '1.2-2'}} Lei</strong></td>
    </tr>
  </tfoot>
</table>