table {
  width: 100%;
  border-collapse: collapse;
  /* border: 2px solid grey; */
}

a:hover {
  opacity: 0.9;
}

.row-item tr {
  height: 50px;
  border-bottom: 1px solid grey;
}

thead th {
  text-align: left;
  font-size: 24px;
  padding: 16px;
  /* border: 1px solid rgb(255, 0, 0); */
}

.row-item tbody th,
.row-item tbody td {
  font-size: 18px;
  padding: 0 16px;
  text-align: left;
}

.row-item tbody tr:last-child {
  border-bottom: none;
}

img {
  width: 46px;
  height: 46px;
  margin: 4px;
  border-radius: 4px;
  /* border: 1px solid rgb(255, 0, 0); */
}

.column-item {
  display: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(0, 0, 0); */
}

.column-item tbody {
  width: 100%;
  /* border: 1px solid rgb(255, 0, 0); */
}

.column-item tr {
  height: 50px;
  border-bottom: 1px solid grey;
}

.index {
  height: 30px;
  background: rgb(206, 206, 206);
}

.column-item tbody th,
.column-item tbody td {
  padding: 0 10px;
  font-size: 16px;  
  border: 1px solid rgb(206, 206, 206);
}

.column-item tbody th {
  text-align: center;
}

.column-item tbody td {
  width: 100%;
  text-align: left;
}

.footer {
  height: 24px;
  background: rgb(160, 159, 159);
}

.column-item tfoot th,
.column-item tfoot td {
  padding: 0 16px;
  font-size: 16px;
}

@media (max-width: 1280px) {
  
}

@media (max-width: 1040px) {
  
}

@media (max-width: 760px) {
  .row-item {
    display: none;
  }

  thead th {
    font-size: 22px;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 2px;
  }

  .column-item {
    display: block;
  }

}

@media (max-width: 550px) {
  thead th {
    font-size: 20px;
  }

  .column-item tr {
    height: 30px;
  }

  .column-item tbody th,
  .column-item tbody td {
    font-size: 13px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .column-item tfoot th,
  .column-item tfoot td {
    font-size: 14px;
  }
}