<div class="row-item">
  <h1>Sumar comanda:</h1>


  <div class="item" *ngFor="let item of order.items;">
    <div class="image">
      <img [src]="item.product.image" [alt]="item.product.image">
    </div>
    <div>
      <div>
        <label class="description"> {{item.product.description}} </label>
      </div>
      <div class="item-price-quantity-price">
        <label class="item-price"> {{item.product.price}} Lei </label>
        <label class="quantity"> {{item.quantity}} buc </label>
        <label class="price"> {{item.price | number: '1.2-2'}} Lei</label>
      </div>
    </div>
  </div>

  <div class="sum">
    <div>
      <span>Subtotal: </span>
      <span>Taxa livrare: </span>
      <span class="total"> <strong>TOTAL: </strong> </span>
    </div>
    <div>
      <span> {{order.subtotal}} Lei </span>
      <span> {{order.delivery}} Lei </span>
      <span class="total"> <strong> {{order.totalPrice | number: '1.2-2'}} Lei </strong> </span>
    </div>
  </div>

</div>