<owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging">

    <ng-container *ngFor="let laptopCard of laptopCards">

        <ng-template carouselSlide>
            
            <div class="card">

                <a [owlRouterLink]="laptopCard.link" [stopLink]="isDragging">
                    <img class="image" [src]="laptopCard.src" [alt]="laptopCard.alt">

                    <span style="background: rgb(0, 154, 230)">
                        {{laptopCard.alert === "Top Favorite" ? laptopCard.alert : ""}}
                    </span>

                    <span style="background: rgb(220, 20, 110)">
                        {{laptopCard.alert === "Super Pret" ? laptopCard.alert : ""}}
                    </span>

                    <h3>{{laptopCard.name}}</h3>

                    <p>{{laptopCard.price}} Lei</p>
                </a>
            </div>

        </ng-template>

    </ng-container>

</owl-carousel-o>