<div class="container-admin">
  <div class="content-admin">

    <div class="title">
      <h1><strong>ITEMS</strong></h1>
      <h3>Items number: {{items.length}}</h3>
    </div>

    <table class="table-row">
      <thead>
        <tr>
          <th>Id</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Order Id</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <th>{{item.id}}</th>
          <td><strong>{{item.productName}}</strong></td>
          <td>{{item.quantity}} buc</td>
          <td>{{item.price}} Lei</td>
          <td>{{item.orderIdFk}}</td>
          <td>
            <button class="btn-delete" (click)="deleteItemDialog(item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table-col"  *ngFor="let item of items">
      <tbody>
        <tr>
          <th colspan="2">{{item.id}}</th>
        </tr>
        <tr>
          <th>Product Name</th>
          <td>{{item.productName}}</td>
        </tr>
        <tr>
          <th>Quantity</th>
          <td>{{item.quantity}} buc</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{item.price}} Lei</td>
        </tr>
        <tr>
          <th>Order Id</th>
          <td>{{item.orderIdFk}}</td>
        </tr>
        <tr>
          <th>Action</th>
          <td>
            <button class="btn-delete" (click)="deleteItemDialog(item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>