<div class="cards-container">
    <div class="card" *ngFor="let product of productsOut">

        <div class="favorite-compare">
            <mat-icon class="favorite-black" *ngIf="!product.favorite" (click)="addToFavorites(product)">
                favorite_border
            </mat-icon>
            <mat-icon class="favorite-red" *ngIf="product.favorite" (click)="removeFromFavorites(product)">
                favorite
            </mat-icon>

            <mat-icon class="favorite-black" *ngIf="!compare" (click)="addToCompares(product)">
                check_box_outline_blank
            </mat-icon>
            <mat-icon class="favorite-red" *ngIf="compare" (click)="removeFromCompares(product)">
                check_box
            </mat-icon>
        </div>

        <a [routerLink]="'/prod/' + product.linkName">

            <span style="background: rgb(0, 154, 230)">
                {{product.badge === "TOP_FAVORITE" ? "Top Favorit" : ""}}
            </span>
            <span style="background: rgb(220, 20, 110)">
                {{product.badge === "SUPER_PRICE" ? "Super Pret" : ""}}
            </span>

            <img [src]="product.image" [alt]="product.image" />

            <p>{{product.description}}</p>
        </a>

        <p class="stock" *ngIf="product.available==='STOCK'">in stoc</p>
        <p class="deposit" *ngIf="product.available==='DEPOSIT'">in depozit</p>

        <h1><strong>{{product.price}} Lei</strong></h1>

        <button (click)="addToCart(product)">Adauga in cos</button>

    </div>
</div>