<form #f="ngForm" (ngSubmit)="f.form.valid && updateLaptopSsd()">

    <div class="form-group">
        <label for="id">Id: {{laptopSsd.laptopId}}</label>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="name">Nume</label>
        <input type="text" name="name" [(ngModel)]="laptopSsd.name" #name="ngModel" minlength="1" maxlength="100" required>
        <div class="alert-container">
            <div class="alert" *ngIf="!name.valid && f.submitted">Camp gol!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" [(ngModel)]="laptopSsd.description" #description="ngModel" minlength="1" maxlength="200"
            required>
        <div class="alert-container">
            <div class="alert" *ngIf="!description.valid && f.submitted">Camp gol!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>
        <select name="brand" #brandSelect [(ngModel)]="laptopSsd.brand">
            <option value="ADATA">ADATA</option>
            <option value="WD">WD</option>
            <option value="SANDISK">SANDISK</option>
            <option value="KINGSTON">KINGSTON</option>
            <option value="SAMSUNG">SAMSUNG</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" #categorySelect [(ngModel)]="laptopSsd.category">            
            <option value="HARD_SSD">HARD_SSD</option>
            <option value="HARD_HDD">HARD_HDD</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <li class="dropdown">
            <label for="image">Image: </label>
            <div class="select-line" (click)="toggleDropdownMenu()">
                <input type="text" name="src" [(ngModel)]="laptopSsd.src1">
                <mat-icon>expand_more</mat-icon>
            </div>
            <div class="dropdown-menu" [style]="isDropdownMenuOpen">
                <div class="list-option" *ngFor="let image of laptopSsdImages;" (click)="getImage(image)">
                    <img [src]="image.src1" [alt]="image.alt">
                    <span>{{image.alt}}</span>
                </div>
            </div>
        </li>
        <div class="image-display">
            <img class="image" [src]="laptopSsd.src1" [alt]="laptopSsd.alt">
        </div>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="available">Available</label>
        <select name="available" #availableSelect [(ngModel)]="laptopSsd.available">
            <option value="STOCK">STOCK</option>
            <option value="DEPOSIT">DEPOSIT</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="capacity">Capacity</label>
        <select name="capacity" #capacitySelect [(ngModel)]="laptopSsd.capacity">
            <option value="GB120">GB120</option>
            <option value="GB240">GB240</option>
            <option value="GB480">GB480</option>
            <option value="GB500">GB500</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="connect">Connect</label>
        <select name="connect" #connectSelect [(ngModel)]="laptopSsd.connect">
            <option value="SATA3">SATA3</option>
            <option value="PCI_EXPRESS">PCI_EXPRESS</option> 
            <option value="M_SATA3">M_SATA3</option>                       
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="price">Pret</label>
        <input type="number" name="price" [(ngModel)]="laptopSsd.price" #price="ngModel" min="0.1" max="1000000" required>
        <div class="alert-container">
            <div class="alert" *ngIf="!price.valid && f.submitted">Valuare: 1 - 1.000.000!</div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn-submit" type="submit">Submit</button>
    </div>

</form>

