<ul class="dropdown-nav">

    <li *ngFor="let department of departments">

        <a routerLink={{department.link}} (click)="closeDesktopMenu()">
            <span class="icon">
                <img class="department-icon" src="{{department.icon}}" alt="icon">
                <span [ngStyle]="{'color': department.color}">{{department.name}}</span>
            </span>
            <span class="icon">
                <img class="chevron-icon" src="{{department.chevron}}" alt="chevron-right">
            </span>
        </a>

        <div class="dropdown-menu-nav">
            <div class="column-nav">
                <div class="department-titles" *ngFor="let title of department.titles">

                    <a class="title" routerLink={{title.link}} [ngStyle]="{'color': title.color}"
                        (click)="closeDesktopMenu()">
                        {{title.name}}
                    </a>

                    <ul *ngFor="let subtitle of title.subtitles">
                        <li>
                            <a class="subtitle" routerLink={{subtitle.link}} [ngStyle]="{'color': subtitle.color}"
                                (click)="closeDesktopMenu()">
                                {{subtitle.name}}
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </li>

</ul>