.content-info {
    display: flex;
    flex-direction: row;
    /* border: 2px solid rgb(0, 0, 0); */
}

.left-side {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 50%;
}

.right-side {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 50%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    cursor: default;
    width: 100%;
    margin: 0 6px;
    padding: 20px;
    background: white;
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    /* border: 2px solid rgb(0, 132, 255); */
}

.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.card-icon mat-icon {
    color: rgb(220, 20, 110);
    opacity: .8;
    font-size: 50px;
    width: 50px;
    height: 50px;
    /* border: 2px solid red; */
}

.card-info {
    box-sizing: border-box;
    margin-left: 16px;
    /* border: 2px solid red; */
}

.row1 {
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
}

.row2 {
    font-size: 16px;
}

@media(max-width: 1600px) {}

@media(max-width: 1280px) {
    .card {
        padding: 16px;
    }

    .card-info {
        margin-left: 10px;
    }

    .card-icon mat-icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
        /* border: 2px solid red; */
    }

    .row1 {
        font-size: 16px;
    }

    .row2 {
        font-size: 14px;
    }
}

@media(max-width: 1040px) {
    .card {
        width: 100%;
        padding: 14px;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

    .card-icon mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
    }

    .row1 {
        font-size: 15px;
        margin-bottom: 0;
    }

    .row2 {
        font-size: 13px;
    }
}

@media(max-width: 760px) {
    .content-info {
        flex-direction: column;
    }
}

@media(max-width: 550px) {
    .left-side {
        flex-direction: column;
    }

    .right-side {
        flex-direction: column;
    }

    .card {
        width: auto;
        padding: 10px;
    }

    .card-icon mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
    }

    .row1 {
        font-size: 14px;
    }

    .row2 {
        font-size: 12px;
    }
}