h2 {
    width: 100%;
    text-align: center;
    color: rgb(220, 20, 110);
}

.row-categ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    gap: 12px;
    width: 100%;
    /* border: 2px solid rgb(2, 35, 250); */
}

.col-categ {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

@media(max-width: 1020px) {
    .row-categ {
        gap: 0;
    }
}