<div class="my-container">
    <div class="my-content">

        <div class="progress-bar" *ngIf="!foundProducts">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div style="width: 100%" *ngIf="foundProducts && !products.length">
            <h2>Nu s-a gasit nici un produs</h2>
        </div>

        <div class="row-categ" *ngIf="foundProducts && products.length">

            <app-product-filter></app-product-filter>

            <div class="col-categ">

                <app-product-sorter [searchResult]="searchResult" [displayType]="displayType">
                </app-product-sorter>

                <app-product-display [displayType]="displayType"></app-product-display>

            </div>

        </div>

    </div>
</div>

<app-compare-nav></app-compare-nav>