.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(242, 242, 247);
  width: 1500px;
  margin: auto;
  /* border: 2px solid rgb(0, 0, 0); */
}

/* LEFT SIDE ========================================================================== */
.row1-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  /* border: 1px solid blue; */
}

.row1-nav>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* border: 1px solid rgb(148, 246, 2); */
}

.row2-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* border: 1px solid blue; */
}

.row2-nav>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
  width: 100%;
  /* border: 1px solid rgb(3, 119, 253); */
}

.row2-nav .search-bar {
  display: none;
}

.burger-nav {
  display: none;
  /* border: 1px solid rgb(236, 217, 1); */
}

.burger-nav label {
  margin: 0;
}

mat-icon {
  color: rgb(220, 20, 110);
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(0, 0, 0); */
}

.burger-nav mat-icon {
  font-size: 30px;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(0, 0, 0); */
}

/* MEGA MENU ========================================================= */
/* MEGA MENU ========================================================= */



/* ==================================================================== */
/* ==================================================================== */

.logo-nav {
  margin: 0;
}

.logo-nav a {
  display: flex;
  align-items: center;
  /* border: 2px solid rgb(0, 0, 0); */
}

.logo-nav img {
  width: 210px;
  margin: auto;
  /* border: 2px solid rgb(3, 119, 253); */
}

.search-bar {
  margin-left: 10px;
  width: 350px;
}

.search-icon {
  color: rgb(208, 208, 208);
}

.drop-nav {
  display: inline-block;
  position: relative;
  /* border: 1px solid rgb(3, 74, 255); */
}

.drop-nav:hover .drop-menu-nav {
  display: block;
}

.drop-nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 12px;
  color: rgb(39, 39, 39);
  text-decoration: none;
  /* border: 1px solid red; */
}

.drop-nav:last-child a {
  padding: 12px 0 12px 12px;
}

.drop-nav a.active {
  color: white;
  background: rgb(220, 20, 110);
}

.drop-nav a:hover {
  color: black;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 100%;
  border: 2px solid rgb(208, 208, 208);
  border-radius: 4px;
}

input {
  font-size: 14px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}

::placeholder {
  color: grey;
}

.search-bar button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

/* RIGHT SIDE ========================================================================== */
.admin {
  font-size: 18px;
  /* border: 2px solid rgb(0, 0, 0); */
}

#username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 2px solid black;
  border-radius: 50%;
}

.drop-menu-nav {
  display: none;
  position: absolute;
  right: 0;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
  z-index: 3;
}

table {
  border-collapse: collapse;
  width: 400px;
}

table tr {
  border-bottom: 1px solid lightgray;
}

table tr:hover {
  background: rgba(220, 20, 110, 0.1);
}

table tr:last-child:hover {
  background: none;
}

td {
  padding: 2px 10px;

  /* border: 1px solid black; */
}

.subtotal td {
  margin: 0;
  padding: 6px;
}

table span {
  cursor: pointer;
}

.drop-menu-nav img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.drop-menu-nav a {
  display: block;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

.drop-menu-nav a:last-child {
  border-bottom: none;
}

.drop-menu-nav a:hover {
  background: rgba(220, 20, 110, 0.1);
}

.quantity {
  color: gray;
  font-size: 16px;
  height: 100%;
}

.price {
  color: rgb(220, 20, 110);
  font-size: 16px;
  height: 100%;
}

.price.total {
  font-weight: 600;
}

table mat-icon {
  color: gray;
  height: 100%;
  /* border: 1px solid black; */
}

table mat-icon:hover {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.drop-menu-nav button {
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(220, 20, 110);
}

.drop-menu-nav button:hover {
  background: rgb(255, 50, 143);
}

#check {
  display: none;
}

.checkbtn {
  /* display: none; */
  margin: 14px;
  color: rgb(39, 39, 39);
  font-size: 30px;
  cursor: pointer;
}

/* M E D I A ========================================================================== */
@media (max-width: 1600px) {
  .container-nav {
    width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container-nav {
    width: 990px;
  }

  .search-bar {
    width: 230px;
  }
}

@media (max-width: 1040px) {
  .row1-nav>ul {
    margin: 0 10px;
  }

  .container-nav {
    width: auto;
  }

  .drop-nav a {
    padding: 10px;
  }

  .mega-menu-nav {
    display: block;
    margin: auto;
    /* border: 2px solid rgb(0, 127, 254); */
  }

  .row1-nav {
    height: 60px;
  }

  .row1-nav .search-bar {
    display: none;
  }

  .row2-nav .search-bar {
    display: block;
    width: 100%;
    /* border: 3px solid rgb(0, 0, 0); */
  }

  .search-bar {
    margin: 0;
  }

  .burger-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-nav {
    margin-left: 14px;
  }

  .logo-nav img {
    width: 160px;
  }

  td {
    font-size: 13px;
    line-height: 16px;
    padding: 2px 4px;
  }

  .quantity,
  .price {
    font-size: 15px;
  }
}

@media (max-width: 760px) {
  .hide {
    display: none;
  }
}

@media (max-width: 550px) {
  .row1-nav>ul {
    padding: 10px 0;
  }

  .dropdown-nav>li>a {
    font-size: 13px;
    line-height: 13px;
    padding: 10px;
  }

  .drop-nav a {
    font-size: 13px;
    line-height: 13px;
    padding: 10px;
  }

  mat-icon {
    font-size: 22px;
    width: 24px;
    height: 24px;
  }

  table {
    max-width: 280px;
  }

  .title {
    font-size: 13px;
    line-height: 13px;
  }

  .subtitle {
    font-size: 13px;
    line-height: 13px;
  }

  #username {
    font-size: 10px;
    width: 18px;
    height: 18px;
  }

  .logo-nav img {
    width: 130px;
  }

  .admin {
    font-size: 16px;
  }

  td {
    font-size: 12px;
    line-height: 14px;
  }

  .quantity,
  .price {
    font-size: 13px;
  }

  td mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  .drop-menu-nav img {
    width: 24px;
    height: 24px;
  }

  .drop-menu-nav button {
    font-size: 13px;
    padding: 8px;
  }
}

@media (max-width: 380px) {
  table {
    max-width: 240px;
  }  

  .dropdown-nav>li>a {
    font-size: 12px;
    line-height: 12px;
    padding: 8px;
  }

  .title {
    font-size: 12px;
    line-height: 12px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 12px;
  }
}