<div class="container-nav">

  <!-- ROW 1 ======================================================================================================= -->
  <!-- ============================================================================================================= -->
  <!-- ============================================================================================================= -->
  <div class="row1">

    <!-- LEFT SIDE -------------------------------------------------------------------------------------------->
    <!-- ------------------------------------------------------------------------------------------------------>
    <ul>
      <!-- M E G A - M E N U ------------------------------------------------------ -->
      <li #txt class="burger">
        <label for="check" class="check-btn" (click)="displayMobileMenu()">
          <mat-icon>{{isMobileMenuOpen ? "close": "menu" }}</mat-icon>
        </label>

        <div class="mega-menu" *ngIf="isMobileMenuOpen">
          <div class="background-menu" (click)="displayMobileMenu()">
          </div>

          <div class="departaments">
            <mega-menu-mobile [isMobileMenuOpen]="isMobileMenuOpen"></mega-menu-mobile>
          </div>
        </div>
      </li>

      <!-- LOGO -------------------------------------------------------------------- -->
      <li class="logo">
        <a routerLink="/">
          <img src="assets/logo/electro-room-red-small.png" alt="logo">
        </a>
      </li>

      <!-- SEARCH BAR -------------------------------------------------------------- -->
      <li class="search-bar">
        <form>
          <input #s type="text" placeholder="Cauta produsul aici!" (keyup.enter)="getProduct(s.value)" name="searchTerm"
            [(ngModel)]="searchTerm">
          <button (click)="getProduct(s.value)">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </li>

    </ul>



    <!-- RIGHT SIDE ---------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------------------------------------------------>
    <ul>

      <!-- ADMIN ------------------------------------------------------------------- -->
      <li class="dropdown" *ngIf="isAdmin()">
        <a>
          <!-- <mat-icon class="admin">settings</mat-icon> -->
          <span><strong>Admin</strong></span>
        </a>
        <div class="dropdown-menu list-menu">
          <a routerLink="/admin/products/laptops" routerLinkActive="active">Laptops</a>
          <a routerLink="/admin/products/laptop-accessory" routerLinkActive="active">Accessories</a>

          <a routerLink="/admin/electro-orders" routerLinkActive="active">Orders</a>
          <a routerLink="/admin/electro-items" routerLinkActive="active">Items</a>
          <a routerLink="/admin/users" routerLinkActive="active">Users</a>
          <a routerLink="/admin/tokens" routerLinkActive="active">Tokens</a>
        </div>
      </li>


      <!-- ADMIN ------------------------------------------------------------------- -->
      <li class="dropdown" *ngIf="!isAdmin()">
        <a>
          <!-- <mat-icon class="admin">settings</mat-icon> -->
          <span>Admin</span>
        </a>
        <div class="dropdown-menu list-menu">
          <a routerLink="/admin/demo/products/laptops" routerLinkActive="active">Laptops</a>
          <a routerLink="/admin/demo/products/laptop-accessory" routerLinkActive="active">Accessories</a>

          <a routerLink="/admin/demo/electro-orders" routerLinkActive="active">Orders</a>
          <a routerLink="/admin/demo/users" routerLinkActive="active">Users</a>
        </div>
      </li>


      <!-- CART -------------------------------------------------------------------- -->
      <li #crt class="dropdown">
        <a (click)="goToCart()">
          <div class="badge" matBadge="{{cartQuantity}}" matBadgeColor="primary" matBadgeSize="medium">
            <mat-icon>add_shopping_cart</mat-icon>
          </div>
          <span class="hide">&nbsp; Cosul meu</span>
          <mat-icon class="hide">expand_more</mat-icon>
        </a>
        <div class="dropdown-menu" [style]="displayCart">
          <a *ngIf="isEmpty()">Cosul este gol</a>

          <div class="cart" *ngIf="!isEmpty()">

            <div class="cart-items">
              <table>
                <tr *ngFor="let item of cart.items">
                  <td>
                    <img class="cart-image" src={{item.product.image}} alt={{item.product.image}}
                      (click)="getProductLinkName(item)">
                  </td>
                  <td class="name">
                    <span (click)="getProductLinkName(item)">{{item.productName}}</span>
                  </td>
                  <td class="quantity">x{{item.quantity}}</td>
                  <td class="price">{{item.price}} Lei</td>
                  <td>
                    <mat-icon (click)="removeFromCart(item)">close</mat-icon>
                  </td>
                </tr>
              </table>
            </div>

            <div class="total">
              <div class="total-items">
                <span><strong>Subtotal: </strong>{{cartQuantity}} produse</span>
                <h4><strong>{{cart.subtotal | number: '1.2-2'}} Lei</strong></h4>
              </div>

              <button routerLink="/cart">Vezi detalii cos!</button>
            </div>

          </div>

        </div>
      </li>


      <!-- FAVORITE ---------------------------------------------------------------- -->
      <li class="dropdown">
        <a>
          <div class="badge" matBadge="0" matBadgeColor="accent" matBadgeSize="medium">
            <mat-icon>favorite_border</mat-icon>
          </div>
          <span class="hide">&nbsp; Favorite</span>
          <mat-icon class="hide">expand_more</mat-icon>
        </a>
        <div class="dropdown-menu list-menu">
          <a>under construction</a>
          <button (click)="goToFavorites()">Vezi aici!</button>
        </div>
      </li>


      <!-- LOGGED OUT (login, register) -------------------------------------------------- -->
      <li class="dropdown" *ngIf="!currentUser?.userId">
        <a>
          <mat-icon>perm_identity</mat-icon>
          <span class="hide">Cont</span>
          <mat-icon class="hide">expand_more</mat-icon>
        </a>
        <div class="dropdown-menu list-menu">
          <a routerLink="/auth/login">Intra in cont!</a>
          <a routerLink="/auth/register">Inregistrare!</a>
        </div>
      </li>


      <!-- LOGGED IN (profile, order, logout) ------------------------------------------- -->
      <li class="dropdown" *ngIf="currentUser?.userId">
        <a>
          <span id="username">{{userFirstChar}}</span>
          <mat-icon class="hide">expand_more</mat-icon>
        </a>
        <div class="dropdown-menu list-menu">
          <a routerLink="/profile" routerLinkActive="active">Profile</a>
          <a routerLink="/my-orders" routerLinkActive="active">My Orders</a>
          <a routerLink="/" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>


  <!-- ROW 2 ======================================================================================================= -->
  <!-- ============================================================================================================= -->
  <div class="row2">
    <ul>
      <li class="search-bar">
        <form>
          <input #s type="text" placeholder="Cauta produsul aici!" (keyup.enter)="getProduct(s.value)" name="searchTerm"
            [(ngModel)]="searchTerm">
          <button (click)="getProduct(s.value)">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </form>
      </li>
    </ul>
  </div>

</div>