.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(242, 242, 247);
  width: 1500px;
  height: 100px;
  margin: auto;
  /* border: 2px solid rgb(0, 0, 0); */
}

/* LEFT SIDE ========================================================================== */
.container-nav .row1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /* border: 2px solid blue; */
}

.container-nav .row1 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* border: 2px solid rgb(117, 195, 0); */
}

.container-nav .row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* border: 1px solid blue; */
}

.container-nav .row2 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  /* border: 1px solid rgb(3, 119, 253); */
}

.container-nav .row1 ul .burger {
  display: none;
  /* border: 1px solid rgb(236, 217, 1); */
}

.container-nav .row1 ul .burger .check-btn {
  /* display: none; */
  margin: 0;
  color: rgb(39, 39, 39);
  font-size: 30px;
  cursor: pointer;
  /* border: 1px solid rgb(236, 60, 1); */
}

#check {
  display: none;
}

.container-nav .row1 ul .search-bar {
  margin-left: 10px;
  width: 450px;
}

.container-nav ul .search-bar form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 100%;
  border: 2px solid rgb(208, 208, 208);
  border-radius: 4px;
}

.container-nav ul .search-bar form input {
  font-size: 14px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}

.container-nav ul .search-bar form input::placeholder {
  color: grey;
}

.container-nav ul .search-bar button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

mat-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(220, 20, 110);
  font-size: 24px;
  width: 30px;
  height: 30px;
  /* border: 1px solid rgb(0, 0, 0); */
}

.container-nav ul .search-bar button mat-icon {
  color: rgba(220, 20, 110, 0.5);
}

.container-nav .row2 ul .search-bar {
  display: none;
}

.container-nav .row1 ul .burger mat-icon {
  font-size: 34px;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(0, 0, 0); */
}

/* MEGA MENU ========================================================= */
/* MEGA MENU ========================================================= */
.container-nav .row1 ul .burger .mega-menu {
  z-index: 3;
}

.container-nav .row1 ul .burger .mega-menu .background-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.container-nav .row1 ul .burger .mega-menu .departaments {
  position: absolute;
  top: 60px;
  left: 0;
  float: left;
  overflow-y: scroll;
  margin: 0;
  width: 80vw;
  max-height: 80vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgb(199, 199, 199);
  /* border: 1px solid rgb(0, 102, 255); */
}


/* ==================================================================== */
/* ==================================================================== */

.container-nav .row1 ul .logo {
  margin: 0;
  /* border: 1px solid rgb(0, 0, 0); */
}

.container-nav .row1 ul .logo a {
  display: flex;
  align-items: center;
  /* border: 2px solid rgb(0, 0, 0); */
}

.container-nav .row1 ul .logo img {
  width: 210px;
  margin: auto;
  /* border: 2px solid rgb(3, 119, 253); */
}

.container-nav .row1 ul .dropdown {
  display: inline-block;
  position: relative;
  /* border: 1px solid rgb(3, 74, 255); */
}

.container-nav .row1 ul .dropdown:hover .dropdown-menu {
  display: block;
}

.container-nav .row1 ul .dropdown a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  margin-left: 22px;
  font-weight: 500;
  color: rgb(39, 39, 39);
  text-decoration: none;
  /* border: 1px solid red; */
}

.container-nav .row1 ul .dropdown:first-child a {
  margin-left: 0;
}

.container-nav .row1 ul .dropdown a.active {
  color: white;
  background: rgb(220, 20, 110);
}

.container-nav .row1 ul .dropdown a:hover {
  color: black;
  cursor: pointer;
}

/* RIGHT SIDE ========================================================================== */


#username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 2px solid black;
  border-radius: 50%;
}

.container-nav .row1 ul .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
  z-index: 4;
}

.container-nav .row1 ul .dropdown .dropdown-menu a {
  display: block;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

.container-nav .row1 ul .dropdown .dropdown-menu a:last-child {
  border-bottom: none;
}

.container-nav .row1 ul .dropdown .dropdown-menu a:hover {
  background: rgba(220, 20, 110, 0.1);
}

.container-nav .row1 ul .dropdown .dropdown-menu table {
  border-collapse: collapse;
  width: 400px;
  font-size: 14px;
}

.container-nav .row1 ul .dropdown .dropdown-menu table tr {
  border-bottom: 1px solid lightgray;
}

.container-nav .row1 ul .dropdown .dropdown-menu table tr:hover {
  background: rgba(220, 20, 110, 0.1);
}

.container-nav .row1 ul .dropdown .dropdown-menu table tr:last-child {
  border-bottom: none;
}

.container-nav .row1 ul .dropdown .dropdown-menu table tr:last-child:hover {
  background: none;
}

.container-nav .row1 ul .dropdown .dropdown-menu table td {
  padding: 2px 10px;

  /* border: 1px solid black; */
}

.container-nav .row1 ul .dropdown .dropdown-menu table .subtotal td {
  margin: 0;
  padding: 10px;
}

.container-nav .row1 ul .dropdown .dropdown-menu table span {
  cursor: pointer;
}

.container-nav .row1 ul .dropdown .dropdown-menu table .cart-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container-nav .row1 ul .dropdown .dropdown-menu table .quantity {
  color: gray;
  font-size: 16px;
  height: 100%;
}

.container-nav .row1 ul .dropdown .dropdown-menu table .price {
  color: rgb(220, 20, 110);
  height: 100%;
}

.container-nav .row1 ul .dropdown .dropdown-menu table .price.total {
  font-weight: 600;
}

.container-nav .row1 ul .dropdown .dropdown-menu table mat-icon {
  color: gray;
  cursor: pointer;
  height: 100%;
  /* border: 1px solid black; */
}

.container-nav .row1 ul .dropdown .dropdown-menu table mat-icon:hover {
  color: rgb(0, 0, 0);
}

.container-nav .row1 ul .dropdown .dropdown-menu table button {
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(220, 20, 110);
}

.container-nav .row1 ul .dropdown .dropdown-menu table button:hover {
  background: rgb(255, 50, 143);
}

/* M E D I A ========================================================================== */
@media (max-width: 1530px) {
  .container-nav {
    width: 1200px;
  }
}

@media (max-width: 1260px) {
  .container-nav {
    width: 990px;
  }

  .hide {
    display: none;
  }
}

@media (max-width: 1020px) {
  .container-nav {
    width: auto;
    height: auto;
    padding: 0 10px;
  }

  .container-nav .row1 ul .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-nav .row1 ul .logo {
    margin-left: 14px;
  }

  .container-nav .row1 ul .logo img {
    width: 160px;
  }

  .mega-menu-nav {
    display: block;
    margin: auto;
    /* border: 2px solid rgb(0, 127, 254); */
  }

  .container-nav .row1 ul .search-bar {
    display: none;
  }

  .container-nav .row2 ul .search-bar {
    display: block;
    margin: 0;
    width: 100%;
    /* border: 3px solid rgb(0, 0, 0); */
  }

  td {
    font-size: 13px;
    line-height: 16px;
    padding: 2px 4px;
  }

  .container-nav .row1 ul .dropdown a {
    margin-left: 14px;
  }

}

@media (max-width: 766px) {
  .dropdown-nav>li>a {
    font-size: 13px;
    line-height: 13px;
    padding: 10px;
  }

  table {
    max-width: 280px;
  }

  .title {
    font-size: 13px;
    line-height: 13px;
  }

  .subtitle {
    font-size: 13px;
    line-height: 13px;
  }

  #username {
    font-size: 10px;
    width: 18px;
    height: 18px;
  }
  
  td {
    font-size: 12px;
    line-height: 14px;
  }

  .quantity,
  .price {
    font-size: 13px;
  }

  td mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  .container-nav .row1 ul .dropdown .dropdown-menu img {
    width: 24px;
    height: 24px;
  }

  .drop-menu-nav button {
    font-size: 13px;
    padding: 8px;
  }
}

@media (max-width: 550px) {
  .container-nav .row1 ul .logo {
    margin-left: 10px;
  }  

  .container-nav .row1 ul .logo img {
    width: 130px;
  }

  .container-nav .row1 ul .dropdown a {
    margin-left: 10px;
  }
}

@media (max-width: 380px) {
  table {
    max-width: 240px;
  }

  .dropdown-nav>li>a {
    font-size: 12px;
    line-height: 12px;
    padding: 8px;
  }

  .title {
    font-size: 12px;
    line-height: 12px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 12px;
  }
}