<div class="container-nav">
  <div class="content-nav">

    <!-- ROW 1 ======================================================================================================= -->
    <!-- ============================================================================================================= -->
    <!-- ============================================================================================================= -->
    <div class="row1">

      <!-- LEFT SIDE -------------------------------------------------------------------------------------------->
      <!-- ------------------------------------------------------------------------------------------------------>
      <ul>
        <!-- M E G A - M E N U ------------------------------------------------------ -->
        <li #brg class="burger">
          <label for="check" class="check-btn" (click)="toggleMobileMenu()">
            <mat-icon>{{handleWindow.isMobileMenuOpen ? "close": "menu" }}</mat-icon>
          </label>

          <div class="mega-menu" *ngIf="handleWindow.isMobileMenuOpen">
            <mega-menu-mobile (closeMobMenuEvent)="closeMobileMenu($event)"></mega-menu-mobile>
          </div>
        </li>

        <!-- LOGO -------------------------------------------------------------------- -->
        <li class="logo">
          <a routerLink="/">
            <img src="assets/logo/electro-room-red-small.png" alt="logo">
          </a>
        </li>

        <!-- SEARCH BAR -------------------------------------------------------------- -->
        <li class="search-bar">
          <form>
            <input #left type="text" placeholder="Cauta produsul aici!" (keyup.enter)="goToSearch(left.value)">
            <button (click)="goToSearch(left.value)">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </li>

      </ul>



      <!-- RIGHT SIDE ---------------------------------------------------------------------------------------- -->
      <!-- ------------------------------------------------------------------------------------------------------>
      <ul>

        <!-- ADMIN ------------------------------------------------------------------- -->
        <li class="dropdown" *ngIf="isAdmin()">
          <div #adm class="elements" (click)="toggleAdmin()">
            <!-- <mat-icon class="admin">settings</mat-icon> -->
            <span><strong>Admin</strong></span>
          </div>
          <div class="dropdown-menu" *ngIf="isAdminMenuOpen">
            <a routerLink="/admin/products/laptops" routerLinkActive="active">Laptops</a>
            <a routerLink="/admin/products/laptop_accessory" routerLinkActive="active">Accessories</a>

            <a routerLink="/admin/orders" routerLinkActive="active">Orders</a>
            <a routerLink="/admin/items" routerLinkActive="active">Items</a>
            <a routerLink="/admin/users" routerLinkActive="active">Users</a>
            <a routerLink="/admin/tokens" routerLinkActive="active">Tokens</a>
          </div>
        </li>


        <!-- ADMIN ------------------------------------------------------------------- -->
        <li class="dropdown" *ngIf="!isAdmin()">
          <div #adm class="elements" (click)="toggleAdmin()">
            <!-- <mat-icon class="admin">settings</mat-icon> -->
            <span>Admin</span>
          </div>
          <div class="dropdown-menu" *ngIf="isAdminMenuOpen">            
            <a routerLink="/admin/demo/products/laptops" routerLinkActive="active">Laptops</a>
            <a routerLink="/admin/demo/products/laptop_accessory" routerLinkActive="active">Accessories</a>

            <a routerLink="/admin/demo/orders" routerLinkActive="active">Orders</a>
            <a routerLink="/admin/demo/users" routerLinkActive="active">Users</a>
          </div>
        </li>


        <!-- CART -------------------------------------------------------------------- -->
        <li class="dropdown">
          <div #crt class="elements" (click)="toggleCartNav()">
            <div class="badge" matBadge="{{cart.totalCount}}" matBadgeColor="primary" matBadgeSize="medium">
              <mat-icon>add_shopping_cart</mat-icon>
            </div>
            <span class="hide">&nbsp; Cosul meu</span>
            <mat-icon class="hide">expand_more</mat-icon>
          </div>

          <div class="dropdown-menu" *ngIf="handleWindow.isCartNavOpen">
            <a class="emptyList" *ngIf="isCartEmpty()">Cosul este gol</a>
            <cart-nav *ngIf="!isCartEmpty()" [cart]="cart"></cart-nav>
          </div>
        </li>


        <!-- FAVORITE ---------------------------------------------------------------- -->
        <li class="dropdown">
          <div #fav class="elements" (click)="toggleFavNav()">
            <div class="badge" matBadge="{{favorites.length}}" matBadgeColor="accent" matBadgeSize="medium">
              <mat-icon>favorite_border</mat-icon>
            </div>
            <span class="hide">&nbsp; Favorite</span>
            <mat-icon class="hide">expand_more</mat-icon>
          </div>
          <div class="dropdown-menu" *ngIf="handleWindow.isFavNavOpen">
            <a class="emptyList" *ngIf="isFavoritesEmpty()">Adauga un produs favorit</a>
            <app-favorite-nav *ngIf="!isFavoritesEmpty()" [favorites]="favorites"></app-favorite-nav>
          </div>
        </li>


        <!-- LOGIN (login, register) -------------------------------------------------- -->
        <li class="dropdown" *ngIf="!currentUser?.id">
          <div #log class="elements" (click)="toggleLog()">
            <mat-icon>perm_identity</mat-icon>
            <span class="hide">Cont</span>
            <mat-icon class="hide">expand_more</mat-icon>
          </div>
          <div class="dropdown-menu" *ngIf="isLogMenuOpen">
            <a routerLink="/admin">Admin</a>
            <a routerLink="/auth/login">Intra in cont!</a>
            <a routerLink="/auth/register">Inregistrare!</a>
          </div>
        </li>


        <!-- LOGOUT (profile, order, logout) ------------------------------------------- -->
        <li class="dropdown" *ngIf="currentUser?.id">
          <div #log class="elements" (click)="toggleLog()">
            <span id="username">{{userFirstChar}}</span>
            <mat-icon class="hide">expand_more</mat-icon>
          </div>
          <div class="dropdown-menu" *ngIf="isLogMenuOpen">
            <a routerLink="/admin">Admin</a>
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
            <a routerLink="/my-orders" routerLinkActive="active">My Orders</a>
            <a routerLink="/" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>


    <!-- ROW 2 ======================================================================================================= -->
    <!-- ============================================================================================================= -->
    <div class="row2">
      <ul>
        <li class="search-bar">
          <form>
            <input #right type="text" placeholder="Cauta produsul aici!" (keyup.enter)="goToSearch(right.value)">
            <button (click)="goToSearch(right.value)">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </li>
      </ul>
    </div>

  </div>
</div>