.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(242, 242, 247);
  width: 1500px;
  height: 100px;
  margin: auto;
  /* border: 2px solid rgb(0, 0, 0); */
}

/* LEFT SIDE ------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
.container-nav .row1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /* border: 2px solid blue; */
}

.container-nav .row1 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* border: 2px solid rgb(117, 195, 0); */
}

.container-nav .row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* border: 1px solid blue; */
}

.container-nav .row2 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  /* border: 1px solid rgb(3, 119, 253); */
}

.container-nav .row1 ul .burger {
  display: none;
  /* border: 1px solid rgb(236, 217, 1); */
}

.container-nav .row1 ul .burger .check-btn {
  margin: 0;
  color: rgb(39, 39, 39);
  font-size: 30px;
  cursor: pointer;
  /* border: 1px solid rgb(236, 60, 1); */
}

.container-nav .row1 ul .search-bar {
  width: 450px;
}

.container-nav ul .search-bar form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 100%;
  border: 2px solid rgb(208, 208, 208);
  border-radius: 4px;
}

.container-nav ul .search-bar form input {
  font-size: 14px;
  border: none;
  outline: none;
  width: 100%;
  background: none;
}

.container-nav ul .search-bar form input::placeholder {
  color: grey;
}

.container-nav ul .search-bar button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

mat-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(220, 20, 110);
  width: 28px;
  height: 28px;
  font-size: 28px;
  /* border: 1px solid rgb(0, 0, 0); */
}

/* mat-icon => BADGE PROPERTIES */
.mat-badge-content {
  width: 22px;
  height: 22px;
  line-height: 22px;
}

.container-nav .row1 ul .burger mat-icon {
  font-size: 34px;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(0, 0, 0); */
}

.container-nav ul .search-bar button mat-icon {
  color: rgba(220, 20, 110, 0.5);
}

.container-nav .row2 ul .search-bar {
  display: none;
}

/* MEGA MENU ======================================================================= */
/* v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v v */
.container-nav .row1 ul .burger .mega-menu {
  z-index: 3;
}

.container-nav .row1 ul .burger .mega-menu .background-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.container-nav .row1 ul .burger .mega-menu .departaments {
  position: absolute;
  top: 60px;
  left: 0;
  float: left;
  overflow-y: scroll;
  margin: 0;
  width: 80vw;
  max-height: 80vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgb(199, 199, 199);
  /* border: 1px solid rgb(0, 102, 255); */
}

/* A A A A A A A A A A A A A A A A A A A A A A A A A A A A A  A A A A A A A A A A A */
/* ================================================================================ */

.container-nav .row1 ul .logo {
  margin: 0;
  /* border: 1px solid rgb(0, 0, 0); */
}

.container-nav .row1 ul .logo a {
  display: flex;
  align-items: center;
  /* border: 2px solid rgb(0, 0, 0); */
}

.container-nav .row1 ul .logo img {
  width: 210px;
  margin: auto;
  /* border: 2px solid rgb(3, 119, 253); */
}

.container-nav .row1 ul .dropdown {
  display: inline-block;
  position: relative;
  /* border: 1px solid rgb(3, 74, 255); */
}

.container-nav .row1 ul .dropdown .badge {
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(3, 119, 253); */
}

.container-nav .row1 ul .dropdown a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: rgb(39, 39, 39);
  text-decoration: none;
  /* border: 1px solid red; */
}

.container-nav .row1 ul .dropdown a.active {
  color: white;
  background: rgb(220, 20, 110);
}

.container-nav .row1 ul .dropdown a:hover {
  color: black;
  cursor: pointer;
}

/* RIGHT SIDE ------------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------- */
.container-nav .row1 ul .dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  min-width: 120px;  
  z-index: 4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);  
  border-radius: 6px;
  border-bottom: 1px solid rgb(204, 204, 204);
  background: white;
  /* border: 1px solid red; */
}

.container-nav .row1 ul .dropdown .dropdown-menu a {
  display: block;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  /* border: 1px solid red; */
}

.container-nav .row1 ul .dropdown .dropdown-menu a:last-child {
  border-bottom: none;
}

.container-nav .row1 ul .dropdown .dropdown-menu a:hover {
  background: rgba(220, 20, 110, 0.1);
}

.container-nav .row1 ul .dropdown .list-menu {
  display: none;
}

.container-nav .row1 ul .dropdown:hover .list-menu {
  display: block;
}

/* CART ---------------------------------------------------------------------- */

/* FAVORITES ----------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
#username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: white;
  background: rgb(220, 20, 110);
  border-radius: 50%;
}

/* M E D I A ========================================================================== */
/* M E D I A ========================================================================== */
/* M E D I A ========================================================================== */
@media (max-width: 1530px) {
  .container-nav {
    width: 1200px;
  }

  .container-nav .row1 ul {
    gap: 20px;
  }
}

@media (max-width: 1260px) {
  .container-nav {
    width: 990px;
  }

  .container-nav .row1 ul {
    gap: 18px;
  }

  .container-nav .row1 ul .dropdown .hide {
    display: none;
  }
}

@media (max-width: 1020px) {
  .container-nav {
    width: auto;
    height: auto;
  }

  .container-nav .row1,
  .container-nav .row2 {
    padding: 0 10px;
  }

  mat-icon {
    width: 26px;
    height: 26px;
    font-size: 24px;
  }

  .container-nav .row1 ul .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-nav .row1 ul .logo img {
    width: 160px;
  }

  .container-nav .row1 ul .search-bar {
    display: none;
  }

  .container-nav .row2 ul .search-bar {
    display: block;
    margin: 0;
    width: 100%;
    /* border: 3px solid rgb(0, 0, 0); */
  }

  #username {
    width: 22px;
    height: 22px;
    font-size: 16px;
  }
}

@media (max-width: 766px) {
  
}

@media (max-width: 550px) {
  .container-nav .row1 ul {
    gap: 14px;
  }

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 24px;
  }

  .container-nav .row1 ul .dropdown a {
    font-size: 12px;
  }

  .container-nav .row1 ul .dropdown .dropdown-menu {
    min-width: 90px;
  }

  .container-nav .row1 ul .dropdown .dropdown-menu a {
    padding: 6px;
  }

  .container-nav .row1 ul .burger mat-icon {
    width: 26px;
    height: 26px;
    font-size: 30px;
  }

  /* mat-icon => BADGE PROPERTIES */
  .mat-badge-content {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
  }

  .container-nav .row1 ul .logo img {
    width: 130px;
  }

  #username {
    width: 21px;
    height: 21px;
    font-size: 15px;
  }
}