<app-breadcrumb></app-breadcrumb>

<div class="container-product">
    <div class="column-product">

        <div *ngIf="notFoundProduct">
            <h1>NOT FOUND PRODUCT</h1>
        </div>

        <div *ngIf="!notFoundProduct">

            <app-product-main [product]="product"></app-product-main>

            <app-product-description [product]="product"></app-product-description>
            
            <app-product-specification [product]="product"></app-product-specification>

        </div>

    </div>
</div>

<app-compare-nav></app-compare-nav>

<app-footer></app-footer>