<div class="container-product">
    <div class="column-product">

        <div *ngIf="!foundProduct">
            <h1>Nu s-a gasit produsul</h1>
        </div>

        <div *ngIf="foundProduct">

            <app-product-main [product]="product"></app-product-main>

            <app-product-description [product]="product"></app-product-description>
            
            <app-product-specification [product]="product"></app-product-specification>

        </div>

    </div>
</div>

<app-compare-nav></app-compare-nav>