.descriptions {
    width: 100%;
    margin-top: 16px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgb(255, 0, 0); */
}

h1 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(255, 0, 0); */
}

.description {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.description:nth-child(odd) {
    flex-direction: row-reverse;
}

.description>div {
    margin: 0;
    /* border: 1px solid black; */
}

h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 4px solid rgb(220, 20, 110);
    /* border: 1px solid rgb(255, 0, 0); */
}

p {
    margin-top: 10px;
    font-size: 16px;
}

.text {
    width: 60%;
    color: rgba(0, 0, 0, 0.7);
}

.image {
    width: 40%;
}

img {
    width: 100%;
}

@media(max-width: 1020px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 17px;
        border-bottom: 3px solid rgb(220, 20, 110);
    }

    p {
        font-size: 15px;
    }
}

@media(max-width: 766px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;        
        border-bottom: 2px solid rgb(220, 20, 110);
    }

    p {
        font-size: 14px;
    }
}

@media(max-width: 550px) {
    .description:nth-child(odd) {
        flex-direction: column;
        gap: 0;
    }

    .description:nth-child(even) {
        flex-direction: column;
        gap: 0;
    }

    .text,
    .image {
        width: 100%;
    }

    h2 {
        font-size: 15px;        
    }
}