.container-type {
    width: 100%;
    /* border: 2px solid black; */
}

.content-type {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1500px;
    min-height: 70vh;
    /* border: 6px solid red; */
}

@media(max-width: 1530px) {
    .content-type {
        width: 1200px;
    }
}

@media(max-width: 1260px) {
    .content-type {
        width: 990px;
    }
}

@media(max-width: 1020px) {
    .content-type {
        width: 100%;
        padding: 0 10px;
    }
}