.container-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background: rgb(220, 20, 110);
}

.content-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1500px;
  height: 100%;
  /* border: 2px solid blue; */
}

.content-nav ul {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* border: 2px solid rgb(4, 167, 1); */
}

.content-nav ul .burger {
  position: relative;
  /* border: 2px solid rgb(0, 0, 0); */
}

.content-nav ul .burger button {
  width: 100%;
  height: 42px;
  margin-top: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  background: rgb(251, 245, 245);
  border: none;
  /* border: 2px solid rgb(0, 199, 13); */
}

.content-nav ul .burger button .inside-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  /* border: 2px solid rgb(1, 57, 214); */
}

/* M A T - I C O N -----------------------------------*/
mat-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  /* border: 2px solid rgb(0, 152, 30); */
}

.content-nav ul .burger button .inside-btn span {
  font-size: 16px;
  font-weight: 500;
  margin: 0 4px;
  padding: 0;
  /* border: 2px solid rgb(0, 152, 30); */
}

/* -----------------------------------------------------*/
.content-nav .item-nav {
  display: flex;
  justify-content: center;
  height: 100%;
  /* border: 2px solid black;   */
}

.content-nav .item-nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0 14px;
  color: white;
  text-decoration: none;
  /* border: 2px solid rgb(0, 0, 0); */
}

.content-nav .item-nav a.active {
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.content-nav .item-nav a:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.content-nav .item-nav a span {
  margin: 0;
  padding: 0;
  /* border: 2px solid rgb(0, 0, 0); */
}

.content-nav .item-nav a mat-icon {
  padding-right: 4px;
}

.mega-menu {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: auto;  
  /* border: 1px solid rgb(0, 0, 0); */
}

.departments {
  position: absolute;
  top: auto;
  left: 0;
  width: 301px;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.carousel-nav {
  position: absolute;
  top: auto;
  left: 300px;
  width: 1200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*  M E D I A  ============================================================== */
/*  ========================================================================= */
/*  ========================================================================= */
@media (max-width: 1530px) {
  .content-nav {
    width: 1200px;
  }

  .carousel-nav {
    width: 900px;
  }
}

@media (max-width: 1260px) {
  .content-nav {
    width: 980px;
  }

  .carousel-nav {
    width: 680px;
  }
}

@media (max-width: 1020px) {

  .container-nav,
  .burger {
    width: 100%;
    height: 0;
  }

  .content-nav,
  .mega-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
  }

  .item-nav {
    display: none;
  }

  .carousel-display {
    display: flex;
    justify-content: center;
  }

  .carousel-nav {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 16px;
  }

}