<div class="container-nav">
  <div class="content-nav">

    <!-- LEFT SIDE ======================================================================================= -->
    <!-- ================================================================================================= -->
    <ul class="left-side">

      <!-- PRODUCTS ----------------------------------------------------------------- -->
      <li class="burger">

        <button (click)="toggleDesktopMenu()">
          <div class="inside-btn">
            <mat-icon>menu</mat-icon>
            <span>Produse</span>
          </div>
        </button>

        <!-- MEGA MENU -------------------------------------------------------------- -->
        <div class="dropdown-menu-nav" *ngIf="handleDesktopMenu">
          <div class="left-menu">
            <ul class="d-dropdown">
              <li *ngFor="let department of departments">
                <a>
                  <span class="d-item">
                    <img class="department-icon" src="{{department.icon}}" alt="icon">
                    <span>{{department.name}}</span>
                  </span>
                  <span class="d-item">
                    <img class="chevron-icon" src="{{department.chevron}}" alt="chevron-right">
                  </span>
                </a>
                <div class="d-dropdown-menu">
                  <div class="col-nav">
                    <div class="department" *ngFor="let title of department.titles">
                      <a class="title" routerLink={{title.link}} [ngStyle]="{'color': title.color}"
                        (click)="closeMenu(title)">{{title.name}}
                      </a>
                      <ul *ngFor="let subtitle of title.subtitles">
                        <li>
                          <a class="subtitle" routerLink={{subtitle.link}} [ngStyle]="{'color': subtitle.color}"
                            (click)="closeMenu(subtitle)">
                            {{subtitle.name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- CAROUSEL ---------------------------------------------------------- -->
          <div class="carousel-display">
            <div class="carousel-nav">
              <carousel *ngIf="isCarouselOpen"></carousel>
            </div>
          </div>

        </div>
      </li>

      <!-- ITEMS ------------------------------------------------------------------- -->
      <li class="item-nav">
        <a routerLink="/oferta-speciala" routerLinkActive="active">
          <span>Oferte speciale</span>
        </a>
      </li>

      <li class="item-nav">
        <a routerLink="/magazine" routerLinkActive="active">
          <span>Magazine</span>
        </a>
      </li>

    </ul>

    <!-- RIGHT SIDE ====================================================================================== -->
    <!-- ================================================================================================= -->
    <ul class="right-side">

      <!-- HELP ------------------------------------------------------------------- -->
      <li class="item-nav">
        <a routerLink="/ajutor-clienti" routerLinkActive="active">
          <mat-icon>headset_mic</mat-icon>
          <span>Ajutor</span>
        </a>
      </li>

    </ul>

  </div>
</div>