<div class="my-container">
    <div class="my-content">

        <h1><strong>ADAUGA PRODUS</strong></h1>        

        <form class="admin-form" #c="ngForm" (ngSubmit)="c.form.valid && createProduct()">
        
            <div class="main">
        
                <!-- Nume -------------------------------------------------------------------------------- -->
                <div class="my-form-field">
                    <label for="name">Nume</label>
                    <input type="text" name="name" [(ngModel)]="newProduct.name" #name="ngModel" minlength="4" maxlength="100"
                        required>
                    <div class="my-alert-container">
                        <div class="my-alert" *ngIf="!name.valid && c.submitted">Camp gol!</div>
                    </div>
                </div>
        
                <!-- Description ------------------------------------------------------------------------- -->
                <div class="my-form-field">
                    <label for="description">Description</label>
                    <textarea cols="30" rows="4" name="description" [(ngModel)]="newProduct.description" #description="ngModel"
                        minlength="10" maxlength="200" required>
                </textarea>
                    <div class="my-alert-container">
                        <div class="my-alert" *ngIf="!description.valid && c.submitted">Camp gol!</div>
                    </div>
                </div>
        
                <!-- Brand ------------------------------------------------------------------------------ -->
                <div class="my-form-field">
                    <label for="brand">Brand</label>
                    <select name="brand" [(ngModel)]="newProduct.brand">
                        <option *ngFor="let br of brands " [value]="br">
                            {{br}}
                        </option>
                    </select>
                </div>
        
        
                <!-- Type ------------------------------------------------------------------------------- -->
                <div class="my-form-field">
                    <label class="title" for="type">Type: {{newProduct.type}}</label>
                </div>
        
                <!-- Category --------------------------------------------------------------------------- -->
                <div class="my-form-field">
                    <label for="category">Category</label>
                    <select name="category" #categorySelect [(ngModel)]="newProduct.category" (change)="getFieldsByCategories()">
                        <option *ngFor="let categ of categories " [value]="categ">
                            {{categ}}
                        </option>
                    </select>
                    <div class="my-alert-container">
                        <div class="my-alert"></div>
                    </div>
                </div>
        
                <!-- Subcategory ------------------------------------------------------------------------ -->
                <div class="my-form-field">
                    <label for="subcategory">Subcategory</label>
                    <select name="subcategory" #subcategorySelect [(ngModel)]="newProduct.subcategory">
                        <option *ngFor="let subcateg of selectedSubcategories " [value]="subcateg">
                            {{subcateg}}
                        </option>
                    </select>
                    <div class="my-alert-container">
                        <div class="my-alert"></div>
                    </div>
                </div>
        
                <!-- Image ------------------------------------------------------------------------------ -->
                <div class="my-form-field">
                    <div class="my-dropdown">
                        <label for="image"> Image </label>                        
                        <div #select class="select-line" (click)="toggleSelect()">
                            <input type="text" name="image" [value]="newProduct.image">
                            <mat-icon>expand_more</mat-icon>
                        </div>
                        <div class="my-dropdown-menu" *ngIf="isSelectOpen">
                            <div class="list-option" *ngFor="let img of productImages;" (click)="selectImage(img)">
                                <img [src]="img" [alt]="img">
                                <span>{{img}}</span>
                            </div>
                        </div>
                        <div class="image-display">
                            <img [src]="newProduct.image" [alt]="newProduct.image">
                        </div>
                    </div>            
                </div>
        
                <!-- Available ------------------------------------------------------------------------------ -->
                <div class="my-form-field">
                    <label for="available">Available</label>
                    <select name="available" #availableSelect [(ngModel)]="newProduct.available">
                        <option *ngFor="let av of availables " [value]="av">
                            {{av}}
                        </option>
                    </select>
                    <div class="my-alert-container">
                        <div class="my-alert"></div>
                    </div>
                </div>
        
                <!-- Badge ---------------------------------------------------------------------------------- -->
                <div class="my-form-field">
                    <label for="badge">Badge</label>
                    <select name="badge" #alertSelect [(ngModel)]="newProduct.badge">
                        <option *ngFor="let bd of badges " [value]="bd">
                            {{bd}}
                        </option>
                    </select>
                    <div class="my-alert-container">
                        <div class="my-alert"></div>
                    </div>
                </div>
        
                <!-- Price ---------------------------------------------------------------------------------- -->
                <div class="my-form-field">
                    <label for="price">Price</label>
                    <input type="number" name="price" [(ngModel)]="newProduct.price" #price="ngModel" min="1" max="1000000"
                        required>
                    <div class="my-alert-container">
                        <div class="my-alert" *ngIf="!price.valid && c.submitted">Valuare: 1 - 1.000.000!</div>
                    </div>
                </div>
            </div>
        
            <!-- <pre>Value : {{newProduct | json}} </pre> -->
        
            <!-- S U B M I T  =============================================== -->
            <div class="my-form-field">
                <button class="submit-btn" mat-raised-button color="primary" type="submit">
                    Salveaza
                </button>
            </div>
        
        </form>

    </div>
</div>