.my-content {
    width: 766px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 2px solid black;  */
}

h1 {
    width: 100%;
    text-align: center;
    /* border: 2px solid black; */
}

@media(max-width: 766px) {
    .my-content {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}