<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container-admin">
    <div class="content-admin">
  
      <div class="title">
        <h1><strong>LAPTOPS</strong></h1>
        <h3>Laptops number: {{laptops.length}}</h3>
        <button class="btn-new" type="button" (click)="createLaptopDialog()">NEW</button>
      </div>
  
      <table class="table-row">
        <thead>
          <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Name</th> 
            <th>Description</th>            
            <th>Available</th>
            <th>Category</th>            
            <th>Alert</th>
            <th>Price</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let laptop of laptops;">
            <td><strong>{{laptop.laptopId}}</strong></td>
            <td>
              <a routerLink="/lap/{{laptop.linkName}}">
                <img [src]="laptop.src1" [alt]="laptop.alt">
              </a>
            </td>
            <td><strong>{{laptop.brand}}</strong></td>
            <td>
              <strong>{{laptop.name}}</strong>
            </td>
            <td>{{laptop.description}}</td> 
            <td>{{laptop.available}}</td>
            <td><strong>{{laptop.category.substring(7)}}</strong></td>            
            <td>{{laptop.alert}}</td>
            <td><strong>{{laptop.price}}.Lei</strong></td>
            <td>{{laptop.createTime}}</td>
            <td>
              <button class="btn-edit" (click)="updateLaptopDialog(laptop)">Edit</button>
            </td>
            <td>
              <button class="btn-delete" (click)="deleteLaptopDialog(laptop)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <table class="table-col" *ngFor="let laptop of laptops;">
        <tbody>
          <tr>
            <th colspan="2">{{laptop.laptopId}}</th>
          </tr>
          <tr>
            <th>Image</th>
            <td>
              <a routerLink="/lap/{{laptop.linkName}}">
                <img [src]="laptop.src1" [alt]="laptop.alt">
              </a>
            </td>
          </tr>
          <tr>
            <th>Brand</th>
            <td><strong>{{laptop.brand}}</strong></td>
          </tr>
          <tr>
            <th>Name</th>
            <td><strong>{{laptop.name}}</strong></td>
          </tr>  
          <tr>
            <th>Description</th>
            <td>{{laptop.description}}</td>
          </tr>        
          <tr>
            <th>Available</th>
            <td>{{laptop.available}}</td>
          </tr>
          <tr>
            <th>Category</th>
            <td><strong>{{laptop.category.substring(7)}}</strong></td>
          </tr>          
          <tr>
            <th>Alert</th>
            <td>{{laptop.alert}}</td>
          </tr>
          <tr>
            <th>Price</th>
            <td><strong>{{laptop.price}} Lei</strong></td>
          </tr>          
          <tr>
            <th>Date</th>
            <td>{{laptop.createTime}}</td>
          </tr>
          <tr class="action">
            <th>Action</th>
            <td>
              <button class="btn-edit" (click)="updateLaptopDialog(laptop)">Edit</button>
              <button class="btn-delete" (click)="deleteLaptopDialog(laptop)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>