.container-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 10px; */
  /* border: 2px solid rgb(0, 0, 0); */
}

.content-order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 1500px;
  /* border: 2px solid rgb(0, 0, 0); */
}

/* address --------------------------------------------- */
.address {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  background: white;
}

h1 {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid rgb(220, 20, 110);
}

.line {
  width: 100%;
  padding: 0 20px;
  /* border: 1px solid rgb(0, 0, 0); */
}

.line div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* border: 1px solid rgb(0, 0, 0); */
}

.line h3 {
  width: 100px;
  margin: 0;
  font-size: 18px;
  /* border: 1px solid black; */
}

.line label {
  width: 100%;
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  /* border: 1px solid black; */
}

.edit {
  width: fit-content;
  padding: 0 20px 20px 20px;
  /* border: 1px solid black; */
}

.edit a {
  color: rgb(220, 20, 110);
  text-decoration: none;
}

.edit a:hover {
  text-decoration: underline;
}

/* order -------------------------------------------- */
.order {
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: white;
}

/* payment ---------------------------------------------- */
.payment {
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: white;
}

.money {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  /* border: 1px solid grey; */
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio input {
  width: 16px;
  height: 16px;
  accent-color: rgb(220, 20, 110);
  cursor: pointer;
}

.radio label {
  padding: 0 10px;
  cursor: pointer;
}

/* card ------------------------------------------------ */
.card {
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: white;
}

/* send ------------------------------------------ */
.send {
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: white;
}

.accord {
  padding: 20px;
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.check input {
  width: 16px;
  height: 16px;
  accent-color: rgb(220, 20, 110);
  cursor: pointer;
}

.check label {
  padding-left: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.check a {
  margin-left: 6px;
  color: rgb(223, 33, 119);
  cursor: pointer;
}

.error {
  font-size: 14px;
  margin-left: 26px;
  color: rgb(223, 33, 119);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  padding: 20px;
}

button {
  font-size: 22px;
  padding: 16px 30px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(220, 20, 110);
}

button:hover {
  transition: 0.2s;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  background: rgb(206, 9, 98);
}

@media (max-width: 1530px) {
  .content-order {
    width: 1200px;
  }
}

@media (max-width: 1260px) {
  .content-order {
    width: 990px;
  }
}

@media (max-width: 1020px) {
  .content-order {
    width: 100%;
    margin: 0 10px;
  }

  .conditions label {
    font-size: 16px;
  }

  .conditions a {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 22px;
    padding: 14px;
  }

  .line {
    padding: 0 14px;
  }

  .line div {
    padding: 4px 0;
  }

  .line h3 {
    font-size: 16px;
  }

  .line label {
    font-size: 16px;
  }

  .edit {
    padding: 0 10px 10px 20px;
  }

  .payment h3 {
    font-size: 18px;
  }

  .money {
    gap: 14px;
    padding: 14px;
  }

  .radio label {
    font-size: 16px;
  }

  .conditions label {
    font-size: 14px;
  }

  .conditions a {
    font-size: 14px;
  }

  .accord {
    padding: 14px;
  }

  .check label,
  .check a {
    font-size: 16px;
  }

  .error {
    font-size: 12px;
  }

  .buttons {
    padding: 10px;
  }

  button {
    font-size: 18px;
    padding: 14px;
  }
}