<div class="container-order">
  <div class="content-order">

    <div class="address">
      <h1>Date de contact:</h1>
      <div class="line">
        <div>
          <h3>Nume: </h3> 
          <label> {{order.nameGet}} </label>
        </div>
        <div>
          <h3>Email: </h3>
          <label> {{order.emailGet}} </label>
        </div>
        <div>
          <h3>Telefon: </h3>
          <label> {{order.phoneGet}} </label>
        </div>
        <div>
          <h3>Adresa: </h3>
          <label> {{order.addressGet}} </label>
        </div>
      </div>
      <div class="edit">
        <a routerLink="/profile">editeaza</a>
      </div>
    </div>

    <div class="order">
      <app-cart-item [order]="order"></app-cart-item>
    </div>

    <div class="payment">
      <h1>Metoda de plata:</h1>

      <div class="money">
        <div class="radio">
          <input type="radio" id="cash" value="CASH" [(ngModel)]="order.paymentType" (change)="paymentMethod()">
          <label for="cash">Cash</label>
        </div>
        <div class="radio">
          <input type="radio" id="card" value="CARD" [(ngModel)]="order.paymentType" (change)="paymentMethod()">
          <label for="card">Card</label>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="payWithCard()">
      <app-payment-form [order]="order"></app-payment-form>
    </div>

    <div class="send">
      <h1>Finalizare:</h1>
      <div class="accord">
        <div class="check">
          <input type="checkbox" id="condition" [(ngModel)]="conditions" (change)="conditionsCheck()">
          <label for="condition">Sunt de acord cu </label>
          <a (click)="conditionsAgreement()">conditiile.</a>
        </div>
        <div class="error" *ngIf="errorMessage()">
          {{message}}
        </div>
        <div class="buttons">
          <button (click)="createOrder()"> Trimite comanda </button>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>