<div class="col-sorters">
    
    <!-- categ-count ----------------------------------------------------------------- -->
    <div class="categ-count">
        <h1>{{currentCategory}}</h1>
        <h1>{{searchResult}}</h1>
        <h2>({{totalFoundProducts}} {{totalFoundProducts==1 ? 'produs' : 'produse'}})</h2>
    </div>

    <!-- filters ---------------------------------------------------------------------- -->
    <div class="filters" *ngIf="activeFilters.length">

        <div class="active-filters" *ngFor="let af of activeFilters" (click)="closeSelectedFilter(af)">
            <label> {{af.toLowerCase()}}
                <mat-icon>close</mat-icon>
            </label>
        </div>

        <h4 (click)="clearProductsFilters()">
            <strong>sterge tot</strong>
        </h4>

    </div>

    <!-- category-select filter ------------------------------------------------------ -->
    <div class="sorters">

        <div class="category-select">
            <label for="categorySelect">Ordoneaza: </label>
            <select name="categorySelect" [(ngModel)]="currentOption" (change)="changeSorter()">
                <option [value]="ps.value" *ngFor="let ps of productsSorters">
                    {{ps.name}}
                </option>
            </select>
        </div>

        <div class="grid-list">
            <label for="">Afisare: </label>
            <button class="btn-grid" [ngClass]="{'active' : displayType==='grid'}" (click)="changeDisplayType('grid')">
                <mat-icon>view_module</mat-icon>
            </button>
            <button class="btn-list" [ngClass]="{'active' : displayType=== 'list'}" (click)="changeDisplayType('list')">
                <mat-icon>view_list</mat-icon>
            </button>
        </div>

        <!-- <button (click)="resetSorter()">reset</button> -->

    </div>

    <!-- mobile - buttons --------------------------------------------------------------------- -->
    <div class="row-buttons">

        <button (click)="displayFiltersDialog()">
            <mat-icon>filter_list</mat-icon>
            Filtreaza
        </button>
        <button (click)="displaySortersDialog()">
            <mat-icon>sort</mat-icon>
            Sorteaza
        </button>

        <div>
            <button *ngIf="displayType==='list'" (click)="changeDisplayType('grid')">
                <mat-icon>view_module</mat-icon>
            </button>
            <button *ngIf="displayType==='grid'"  (click)="changeDisplayType('list')">
                <mat-icon>view_list</mat-icon>
            </button>
                        
        </div>
    </div>

</div>