<app-breadcrumb></app-breadcrumb>

<div class="container-categ">
    <div class="categ">

        <div style="width: 100%" *ngIf="notFoundProducts">
            <h2>NOT FOUND PRODUCTS</h2>
        </div>

        <div class="row-categ" *ngIf="!notFoundProducts">

            <app-product-filter></app-product-filter>

            <div class="col-categ">

                <app-product-sorter [currentCategory]="currentCategory" [displayType]="displayType">
                </app-product-sorter>

                <app-product-display [displayType]="displayType"></app-product-display>

            </div>

        </div>

    </div>
</div>