<app-breadcrumb></app-breadcrumb>
<div class="container-lap">
    <div class="column-lap">

        <div style="width: 100%" *ngIf="notFoundProducts">
            <h1>NOT FOUND PRODUCTS</h1>
        </div>

        <div class="row-lap" *ngIf="!notFoundProducts">
            <!-- f i l t e r s ==================================================================================== -->
            <app-product-filter [productsFilterIN]="products"> </app-product-filter>

            <!-- p r o d u c t s ==================================================================================== -->
            <div class="products">

                <!-- s o r t i n g ===================================================================================-->
                <app-product-sorter></app-product-sorter>

                <!-- products cards -------------------------------------------------------------------------------- -->
                <div class="cards-container">
                    <div class="card" *ngFor="let item of products;">

                        <mat-icon class="favorite_boder" *ngIf="!item.favorite" (click)="handleFavorite(item)">
                            favorite_border
                        </mat-icon>
                        <mat-icon class="favorite" *ngIf="item.favorite" (click)="handleFavorite(item)">favorite
                        </mat-icon>

                        <a [routerLink]="item.linkName">
                            <img [src]="item.image" [alt]="item.image" />
                            <span style="background: rgb(0, 154, 230)">
                                {{item.badge === "TOP_FAVORITE" ? "Top Favorit" : ""}}
                            </span>
                            <span style="background: rgb(220, 20, 110)">
                                {{item.badge === "SUPER_PRICE" ? "Super Pret" : ""}}
                            </span>
                            <h4><strong>{{item.description}}</strong></h4>
                        </a>
                        <p class="avail stock" *ngIf="item.available==='STOCK'">in stoc</p>
                        <p class="avail deposit" *ngIf="item.available==='DEPOSIT'">in depozitul central</p>
                        <p class="val"><strong>{{item.price}} Lei</strong></p>
                        <button (click)="addToCart(item)">Adauga in cos</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>