.container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1500px;
    margin-top: 50px;
    /* border: 2px solid black; */
}

.content img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;    
    box-sizing: border-box;
}

.title h1 {
    font-size: 44px;
    margin-bottom: 50px;
    color: black;
}

.help {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;    
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;    
    padding: 20px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    order: 99;
    flex-grow: 1;
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.box p {
    font-size: 16px;    
    color: black;
}


.help>label {
    display: block;
    color: white;
    text-align: center;
    order: 1;
    font-size: 16px;
    padding: 6px 10px;
    margin-right: 4px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    background: rgb(220, 20, 110);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgb(0, 0, 0); */
}

.help>label:hover {
    color: black;
}

.help>input {
    display: none;
}

.help>input:checked+label {
    color: black;
    background: #fff;
}

.help>input:checked+label+.box {
    display: flex;
}

@media(max-width: 1600px) {
    .content {
        width: 1200px;
        margin-top: 40px;
    }

    .title h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

@media(max-width: 1280px) {
    .content {
        width: 980px;
    }    
}

@media(max-width: 1040px) {
    .content {
        width: 100%;
        margin: 16px;
    }

    .title h1 {
        font-size: 36px;
    }

    .help label {
        font-size: 14px;
    }
}

@media(max-width: 760px) {
    .content {
        justify-content: center;
        width: 100%;
    }

    .title h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .help {
        flex-direction: column;
    }

    .help>label {
        margin: 0;
        margin-bottom: 4px;
    }

    .help input {
        font-size: 14px;
        padding: 8px;
    }
    
}

@media(max-width: 550px) {
    .title h1 {
        font-size: 28px;
    }

    .help label {
        font-size: 14px;
    }

    .help input {
        font-size: 14px;
        padding: 8px;
    }

    .box h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .box p {
        font-size: 14px;
    }
}