<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container-ssd">
    <div class="column-ssd">

        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>

        <div class="row-ssd">
            <!-- f i l t e r s ==================================================================================== -->
            <div class="filters-ssd">
                <!-- available filter ----------------------------------------------------------- -->
                <div class="available">
                    <h3><strong>Disponibilitate</strong></h3>
                    <div class="filter-group" *ngIf="stock_out.length!==0">
                        <input type="checkbox" id="stock" name="stock" [(ngModel)]="stock_chk"
                            (change)="filter_stock()">
                        <label for="stock"> In Stoc ({{stock_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="deposit_out.length!==0">
                        <input type="checkbox" id="deposit" name="deposit" [(ngModel)]="deposit_chk"
                            (change)="filter_deposit()">
                        <label for="deposit"> In Depozit ({{deposit_out.length}})</label>
                    </div>
                </div>

                <!-- price filter ---------------------------------------------------------------- -->
                <div class="price">
                    <h3><strong>Pret</strong></h3>
                    <div class="filter-group" *ngIf="under100_out.length!==0">
                        <input type="checkbox" id="under100" name="under100" [(ngModel)]="under100_chk"
                            (change)="filter_under100()">
                        <label for="under100"> Sub 100 ({{under100_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under200_out.length!==0">
                        <input type="checkbox" id="under200" name="under200" [(ngModel)]="under200_chk"
                            (change)="filter_under200()">
                        <label for="under200"> 100 - 200 ({{under200_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under300_out.length!==0">
                        <input type="checkbox" id="under300" name="under300" [(ngModel)]="under300_chk"
                            (change)="filter_under300()">
                        <label for="under300"> 200 - 300 ({{under300_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under400_out.length!==0">
                        <input type="checkbox" id="under400" name="under400" [(ngModel)]="under400_chk"
                            (change)="filter_under400()">
                        <label for="under400"> 300 - 400 ({{under400_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="over400_out.length!==0">
                        <input type="checkbox" id="over400" name="over400" [(ngModel)]="over400_chk"
                            (change)="filter_over400()">
                        <label for="over400"> Peste 400 ({{over400_out.length}})</label>
                    </div>
                </div>

                <!-- brand filter --------------------------------------------------------------- -->
                <div class="brand">
                    <h3><strong>Brand</strong></h3>
                    <div class="filter-group" *ngIf="adata_out.length!==0">
                        <input type="checkbox" id="adata" name="adata" [(ngModel)]="adata_chk" (change)="filter_adata()">
                        <label for="adata"> ADATA ({{adata_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="wd_out.length!==0">
                        <input type="checkbox" id="wd" name="wd" [(ngModel)]="wd_chk"
                            (change)="filter_wd()">
                        <label for="wd"> WD ({{wd_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="sandisk_out.length!==0">
                        <input type="checkbox" id="sandisk" name="sandisk" [(ngModel)]="sandisk_chk"
                            (change)="filter_sandisk()">
                        <label for="sandisk"> SANDISK ({{sandisk_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="kingston_out.length!==0">
                        <input type="checkbox" id="kingston" name="kingston" [(ngModel)]="kingston_chk"
                            (change)="filter_kingston()">
                        <label for="kingston"> KINGSTON ({{kingston_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="samsung_out.length!==0">
                        <input type="checkbox" id="samsung" name="samsung" [(ngModel)]="samsung_chk"
                            (change)="filter_samsung()">
                        <label for="samsung"> SAMSUNG ({{samsung_out.length}})</label>
                    </div>
                </div>

                <!-- category filter ----------------------------------------------------------- -->
                <div class="category">
                    <h3><strong>Categorie</strong></h3>
                    <div class="filter-group" *ngIf="ssd_out.length!==0">
                        <input type="checkbox" id="ssd" name="ssd" [(ngModel)]="ssd_chk" (change)="filter_ssd()">
                        <label for="ssd"> SSD ({{ssd_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="hdd_out.length!==0">
                        <input type="checkbox" id="hdd" name="hdd" [(ngModel)]="hdd_chk"
                            (change)="filter_hdd()">
                        <label for="hdd"> HDD ({{hdd_out.length}})</label>
                    </div>
                </div>

                <!-- capacity filter ----------------------------------------------------------- -->
                <div class="capacity">
                    <h3><strong>Capacity</strong></h3>
                    <div class="filter-group" *ngIf="c120_out.length!==0">
                        <input type="checkbox" id="c120" name="c120" [(ngModel)]="c120_chk" (change)="filter_c120()">
                        <label for="c120"> 120 GB ({{c120_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="c240_out.length!==0">
                        <input type="checkbox" id="c240" name="c240" [(ngModel)]="c240_chk" (change)="filter_c240()">
                        <label for="c240"> 240 GB ({{c240_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="c480_out.length!==0">
                        <input type="checkbox" id="c480" name="c480" [(ngModel)]="c480_chk" (change)="filter_c480()">
                        <label for="c480"> 480 GB ({{c480_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="c500_out.length!==0">
                        <input type="checkbox" id="c500" name="c500" [(ngModel)]="c500_chk" (change)="filter_c500()">
                        <label for="c500"> 500 GB ({{c500_out.length}})</label>
                    </div>
                </div>
            </div>

            <!-- p r o d u c t s ==================================================================================== -->
            <div class="products">

                <div class="products-header">
                    <h1>Solid State Drive (SSD)</h1>

                    <div class="categorySelect">
                        <label for="categorySelect">Sorteaza dupa: </label>
                        <select name="categorySelect" [(ngModel)]="laptopSsds_sorting">
                            <option value="name" (click)="name_alphabetic()">Nume</option>
                            <option value="lowToHigh" (click)="price_ascending()">Pret crescator</option>
                            <option value="highToLow" (click)="price_descending()">Pret descrescator</option>
                            <option value="bestSold" (click)="sold()">Cele mai vandute</option>
                        </select>
                    </div>
                </div>

                <div class="cards-container">
                    <div class="card" *ngFor="let item of laptopSsds;">
                        <a [routerLink]="item.linkName">
                            <img [src]="item.src1" [alt]="item.alt" />
                            <h4><strong>{{item.description}}</strong></h4>
                        </a>
                        <p class="avail stock" *ngIf="item.available==='STOCK'">in stoc</p>
                        <p class="avail deposit" *ngIf="item.available==='DEPOSIT'">in depozitul central</p>
                        <p class="val"><strong>{{item.price}} Lei</strong></p>
                        <button (click)="addToCart(item)">Adauga in cos</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
