<div class="cards-container"
    [ngClass]="{'cards-container-grid':displayType==='grid','cards-container-list':displayType==='list'}">

    <div class="card" [ngClass]="{'card-grid':displayType==='grid','card-list':displayType==='list'}"
        *ngFor="let product of productsOut">

        <div class="fav-comp">
            <mat-icon [ngStyle]="{color: product.favorite ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleFavorites(product)">
                {{product.favorite ? 'favorite' : 'favorite_border'}}
            </mat-icon>
            <mat-icon [ngStyle]="{color: product.compare ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleCompares(product)">
                {{product.compare ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>
        </div>


        <!-- I M A G E ===================================================================================== -->
        <div [ngClass]="{'image-grid':displayType==='grid','image-list':displayType==='list'}">
            <a [routerLink]="'/prod/' + product.urlKey">
                <img [src]="product.image" />
            </a>
        </div>


        <!-- B O D Y ======================================================================================= -->
        <div [ngClass]="{'body-grid':displayType==='grid', 'body-list':displayType==='list'}">


            <!-- m a i n ---------------------------------------------------------------------------- -->
            <div [ngClass]="{'main-grid':displayType=='grid', 'main-list':displayType=='list'}">
                <span [ngClass]="{'badge-grid':displayType=='grid', 'badge-list':displayType=='list'}"
                    [ngStyle]="{'background':product.badge==category.TOP_FAVORITE ?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                    {{product.badge==category.TOP_FAVORITE?category.TOP_FAVORITE:category.SUPER_PRICE}}
                </span>

                <a [routerLink]="'/prod/' + product.urlKey">
                    <p>{{product.description}}</p>
                </a>

                <div class="specifications" *ngIf="displayType==='list'">
                    <div>
                        <p *ngIf="product.specifications[0].display_size">
                            <b>{{name.DISPLAY_SIZE}}: </b>
                            {{product.specifications[0].display_size}}
                        </p>
                        <p *ngIf="product.specifications[0].display_frequency">
                            <b>{{name.DISPLAY_FREQUENCY}}: </b>
                            {{product.specifications[0].display_frequency}}
                        </p>
                        <p *ngIf="product.specifications[0].display_resolution">
                            <b>{{name.DISPLAY_RESOLUTION}}: </b>
                            {{product.specifications[0].display_resolution}}
                        </p>
                        <p *ngIf="product.specifications[0].motherboard_brand">
                            <b>{{name.MOTHERBOARD_BRAND}}: </b>
                            {{product.specifications[0].motherboard_brand}}
                        </p>
                        <p *ngIf="product.specifications[0].motherboard_chipset">
                            <b>{{name.MOTHERBOARD_CHIPSET}}: </b>
                            {{product.specifications[0].motherboard_chipset}}
                        </p>
                        <p *ngIf="product.specifications[0].motherboard_slot">
                            <b>{{name.MOTHERBOARD_SLOT}}: </b>
                            {{product.specifications[0].motherboard_slot}}
                        </p>
                        <p *ngIf="product.specifications[0].motherboard_audio">
                            <b>{{name.MOTHERBOARD_AUDIO}}: </b>
                            {{product.specifications[0].motherboard_audio}}
                        </p>
                        <p *ngIf="product.specifications[0].processor_brand">
                            <b>{{name.PROCESSOR_BRAND}}: </b>
                            {{product.specifications[0].processor_brand}}
                        </p>
                        <p *ngIf="product.specifications[0].processor_type">
                            <b>{{name.PROCESSOR_TYPE}}: </b>
                            {{product.specifications[0].processor_type}}
                        </p>
                        <p *ngIf="product.specifications[0].processor_model">
                            <b>{{name.PROCESSOR_MODEL}}: </b>
                            {{product.specifications[0].processor_model}}
                        </p>
                        <p *ngIf="product.specifications[0].processor_frequency">
                            <b>{{name.PROCESSOR_FREQUENCY}}: </b>
                            {{product.specifications[0].processor_frequency}}
                        </p>
                        <p *ngIf="product.specifications[0].memory_type">
                            <b>{{name.MEMORY_TYPE}}: </b>
                            {{product.specifications[0].memory_type}}
                        </p>
                        <p *ngIf="product.specifications[0].memory_capacity">
                            <b>{{name.MEMORY_CAPACITY}}: </b>
                            {{product.specifications[0].memory_capacity}}
                        </p>
                        <p *ngIf="product.specifications[0].memory_frequency">
                            <b>{{name.MEMORY_FREQUENCY}}: </b>
                            {{product.specifications[0].memory_frequency}}
                        </p>
                        <p *ngIf="product.specifications[0].brand">
                            <b>{{name.BRAND}}: </b>
                            {{product.specifications[0].brand}}
                        </p>
                        <p *ngIf="product.specifications[0].type">
                            <b>{{name.TYPE}}: </b>
                            {{product.specifications[0].type}}
                        </p>
                        <p *ngIf="product.specifications[0].model">
                            <b>{{name.MODEL}}: </b>
                            {{product.specifications[0].model}}
                        </p>
                        <p *ngIf="product.specifications[0].capacity">
                            <b>{{name.CAPACITY}}: </b>
                            {{product.specifications[0].capacity}}
                        </p>
                        <p *ngIf="product.specifications[0].connection">
                            <b>{{name.CONNECTION}}: </b>
                            {{product.specifications[0].connection}}
                        </p>
                        <p *ngIf="product.specifications[0].output">
                            <b>{{name.OUTPUT}}: </b>
                            {{product.specifications[0].output}}
                        </p>
                        <p *ngIf="product.specifications[0].compatibility">
                            <b>{{name.COMPATIBILITY}}: </b>
                            {{product.specifications[0].compatibility}}
                        </p>
                        <p *ngIf="product.specifications[0].screen_size">
                            <b>{{name.SCREEN_SIZE}}: </b>
                            {{product.specifications[0].screen_size}}
                        </p>
                        <p *ngIf="product.specifications[0].frequency">
                            <b>{{name.FREQUENCY}}: </b>
                            {{product.specifications[0].frequency}}
                        </p>
                        <p *ngIf="product.specifications[0].power">
                            <b>{{name.POWER}}: </b>
                            {{product.specifications[0].power}}
                        </p>
                    </div>
                    <div>
                        <p *ngIf="product.specifications[0].hard_type_1">
                            <b>{{name.HARD_TYPE_1}}: </b>
                            {{product.specifications[0].hard_type_1}}
                        </p>
                        <p *ngIf="product.specifications[0].hard_capacity_1">
                            <b>{{name.HARD_CAPACITY_1}}: </b>
                            {{product.specifications[0].hard_capacity_1}}
                        </p>
                        <p *ngIf="product.specifications[0].hard_slot_1">
                            <b>{{name.HARD_SLOT_1}}: </b>
                            {{product.specifications[0].hard_slot_1}}
                        </p>
                        <p *ngIf="product.specifications[0].hard_type_2">
                            <b>{{name.HARD_TYPE_2}}: </b>
                            {{product.specifications[0].hard_type_2}}
                        </p>
                        <p *ngIf="product.specifications[0].hard_capacity_2">
                            <b>{{name.HARD_CAPACITY_2}}: </b>
                            {{product.specifications[0].hard_capacity_2}}
                        </p>
                        <p *ngIf="product.specifications[0].hard_slot_2">
                            <b>{{name.HARD_SLOT_2}}: </b>
                            {{product.specifications[0].hard_slot_2}}
                        </p>
                        <p *ngIf="product.specifications[0].connectivity_bluetooth">
                            <b>{{name.CONNECTIVITY_BLUETOOTH}}: </b>
                            {{product.specifications[0].connectivity_bluetooth}}
                        </p>
                        <p *ngIf="product.specifications[0].connectivity_wireless">
                            <b>{{name.CONNECTIVITY_WIRELESS}}: </b>
                            {{product.specifications[0].connectivity_wireless}}
                        </p>
                        <p *ngIf="product.specifications[0].read_speed">
                            <b>{{name.READ_SPEED}}: </b>
                            {{product.specifications[0].read_speed}}
                        </p>
                        <p *ngIf="product.specifications[0].write_speed">
                            <b>{{name.WRITE_SPEED}}: </b>
                            {{product.specifications[0].write_speed}}
                        </p>
                        <p *ngIf="product.specifications[0].material">
                            <b>{{name.MATERIAL}}: </b>
                            {{product.specifications[0].material}}
                        </p>
                        <p *ngIf="product.specifications[0].color">
                            <b>{{name.COLOR}}: </b>
                            {{product.specifications[0].color}}
                        </p>
                        <p *ngIf="product.specifications[0].weight">
                            <b>{{name.WEIGHT}}: </b>
                            {{product.specifications[0].weight}}
                        </p>
                        <p *ngIf="product.specifications[0].speed">
                            <b>{{name.SPEED}}: </b>
                            {{product.specifications[0].speed}}
                        </p>
                        <p *ngIf="product.specifications[0].hdmi">
                            <b>{{name.HDMI}}: </b>
                            {{product.specifications[0].hdmi}}
                        </p>
                        <p *ngIf="product.specifications[0].speaker">
                            <b>{{name.SPEAKER}}: </b>
                            {{product.specifications[0].speaker}}
                        </p>
                        <p *ngIf="product.specifications[0].radiator">
                            <b>{{name.RADIATOR}}: </b>
                            {{product.specifications[0].radiator}}
                        </p>
                        <p *ngIf="product.specifications[0].voltage">
                            <b>{{name.VOLTAGE}}: </b>
                            {{product.specifications[0].voltage}}
                        </p>
                    </div>
                </div>
            </div>


            <!-- d e t a i l s------------------------------------------------------------------------ -->
            <div [ngClass]="{'details-grid':displayType==='grid', 'details-list':displayType==='list'}">
                <p [ngClass]="{'available-grid':displayType==='grid', 'available-list':displayType==='list'}"
                    [ngStyle]="{color: product.available==category.STOCK ? 'rgb(0, 184, 0)' : 'grey'}">
                    {{product.available}}
                </p>

                <h1><strong>{{product.price}} Lei</strong></h1>

                <button (click)="addToCart(product)">Adauga in cos</button>
            </div>

        </div>

    </div>

</div>