<div class="cards-container"
    [ngClass]="{'cards-container-grid':displayType==='grid','cards-container-list':displayType==='list'}">

    <div class="card" [ngClass]="{'card-grid':displayType==='grid','card-list':displayType==='list'}"
        *ngFor="let product of productsOut">

        <div class="fav-comp">
            <mat-icon [ngStyle]="{color: product.favorite ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleFavorites(product)">
                {{product.favorite ? 'favorite' : 'favorite_border'}}
            </mat-icon>
            <mat-icon [ngStyle]="{color: product.compare ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleCompares(product)">
                {{product.compare ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>
        </div>


        <!-- I M A G E ===================================================================================== -->
        <div [ngClass]="{'image-grid':displayType==='grid','image-list':displayType==='list'}">
            <a [routerLink]="'/p/'+product.department.toLowerCase()+'/'+product.type.toLowerCase()+'/'
                +product.category.toLowerCase()+'/'+product.linkName">
                <img [src]="product.image" />
            </a>
        </div>


        <!-- B O D Y ======================================================================================= -->
        <div [ngClass]="{'body-grid':displayType==='grid', 'body-list':displayType==='list'}">


            <!-- m a i n ---------------------------------------------------------------------------- -->
            <div [ngClass]="{'main-grid':displayType==='grid', 'main-list':displayType==='list'}">
                <span [ngClass]="{'badge-grid':displayType==='grid', 'badge-list':displayType==='list'}"
                    [ngStyle]="{'background':product.badge==='TOP_FAVORITE'?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                    {{product.badge === "TOP_FAVORITE" ? "Top Favorit" : "Super Pret"}}
                </span>

                <a [routerLink]="'/p/'+product.department.toLowerCase()+'/'+product.type.toLowerCase()+'/'
                    +product.category.toLowerCase()+'/'+product.linkName">
                    <p>{{product.description}}</p>
                </a>

                <div class="specifications" *ngIf="displayType==='list'">
                    <div>
                        <p *ngIf="product.specifications[0].display_size">{{name.DISPLAY_SIZE}}: {{product.specifications[0].display_size}}</p>
                        <p *ngIf="product.specifications[0].display_frequency">{{name.DISPLAY_FREQUENCY}}: {{product.specifications[0].display_frequency}}</p>
                        <p *ngIf="product.specifications[0].display_resolution">{{name.DISPLAY_RESOLUTION}}: {{product.specifications[0].display_resolution}}</p>

                        <p *ngIf="product.specifications[0].motherboard_brand">{{name.MOTHERBOARD_BRAND}}: {{product.specifications[0].motherboard_brand}}</p>
                        <p *ngIf="product.specifications[0].motherboard_chipset">{{name.MOTHERBOARD_CHIPSET}}: {{product.specifications[0].motherboard_chipset}}</p>
                        <p *ngIf="product.specifications[0].motherboard_slot">{{name.MOTHERBOARD_SLOT}}: {{product.specifications[0].motherboard_slot}}</p>
                        <p *ngIf="product.specifications[0].motherboard_audio">{{name.MOTHERBOARD_AUDIO}}: {{product.specifications[0].motherboard_audio}}</p>

                        <p *ngIf="product.specifications[0].processor_brand">{{name.PROCESSOR_BRAND}}: {{product.specifications[0].processor_brand}}</p>
                        <p *ngIf="product.specifications[0].processor_type">{{name.PROCESSOR_TYPE}}: {{product.specifications[0].processor_type}}</p>
                        <p *ngIf="product.specifications[0].processor_model">{{name.PROCESSOR_MODEL}}: {{product.specifications[0].processor_model}}</p>
                        <p *ngIf="product.specifications[0].processor_frequency">{{name.PROCESSOR_FREQUENCY}}: {{product.specifications[0].processor_frequency}}</p>

                        <p *ngIf="product.specifications[0].memory_type">{{name.MEMORY_TYPE}}: {{product.specifications[0].memory_type}}</p>
                        <p *ngIf="product.specifications[0].memory_capacity">{{name.MEMORY_CAPACITY}}: {{product.specifications[0].memory_capacity}}</p>
                        <p *ngIf="product.specifications[0].memory_frequency">{{name.MEMORY_FREQUENCY}}: {{product.specifications[0].memory_frequency}}</p>

                        <p *ngIf="product.specifications[0].brand">{{name.BRAND}}: {{product.specifications[0].brand}}</p>
                        <p *ngIf="product.specifications[0].type">{{name.TYPE}}: {{product.specifications[0].type}}</p>
                        <p *ngIf="product.specifications[0].model">{{name.MODEL}}: {{product.specifications[0].model}}</p>
                        <p *ngIf="product.specifications[0].capacity">{{name.CAPACITY}}: {{product.specifications[0].capacity}}</p>
                        <p *ngIf="product.specifications[0].connection">{{name.CONNECTION}}: {{product.specifications[0].connection}}</p>
                        <p *ngIf="product.specifications[0].output">{{name.OUTPUT}}: {{product.specifications[0].output}}</p>
                        <p *ngIf="product.specifications[0].compatibility">{{name.COMPATIBILITY}}: {{product.specifications[0].compatibility}}</p>
                        <p *ngIf="product.specifications[0].screen_size">{{name.SCREEN_SIZE}}: {{product.specifications[0].screen_size}}</p>
                        <p *ngIf="product.specifications[0].frequency">{{name.FREQUENCY}}: {{product.specifications[0].frequency}}</p>
                        <p *ngIf="product.specifications[0].power">{{name.POWER}}: {{product.specifications[0].power}}</p>
                    </div>
                    <div>
                        <p *ngIf="product.specifications[0].hard_type_1">{{name.HARD_TYPE_1}}: {{product.specifications[0].hard_type_1}}</p>
                        <p *ngIf="product.specifications[0].hard_capacity_1">{{name.HARD_CAPACITY_1}}: {{product.specifications[0].hard_capacity_1}}</p>
                        <p *ngIf="product.specifications[0].hard_slot_1">{{name.HARD_SLOT_1}}: {{product.specifications[0].hard_slot_1}}</p>
                        <p *ngIf="product.specifications[0].hard_type_2">{{name.HARD_TYPE_2}}: {{product.specifications[0].hard_type_2}}</p>
                        <p *ngIf="product.specifications[0].hard_capacity_2">{{name.HARD_CAPACITY_2}}: {{product.specifications[0].hard_capacity_2}}</p>
                        <p *ngIf="product.specifications[0].hard_slot_2">{{name.HARD_SLOT_2}}: {{product.specifications[0].hard_slot_2}}</p>

                        <p *ngIf="product.specifications[0].connectivity_bluetooth">{{name.CONNECTIVITY_BLUETOOTH}}: {{product.specifications[0].connectivity_bluetooth}}</p>
                        <p *ngIf="product.specifications[0].connectivity_wireless">{{name.CONNECTIVITY_WIRELESS}}: {{product.specifications[0].connectivity_wireless}}</p>

                        <p *ngIf="product.specifications[0].read_speed">{{name.READ_SPEED}}: {{product.specifications[0].read_speed}}</p>
                        <p *ngIf="product.specifications[0].write_speed">{{name.WRITE_SPEED}}: {{product.specifications[0].write_speed}}</p>
                        <p *ngIf="product.specifications[0].material">{{name.MATERIAL}}: {{product.specifications[0].material}}</p>
                        <p *ngIf="product.specifications[0].color">{{name.COLOR}}: {{product.specifications[0].color}}</p>
                        <p *ngIf="product.specifications[0].weight">{{name.WEIGHT}}: {{product.specifications[0].weight}}</p>
                        <p *ngIf="product.specifications[0].speed">{{name.SPEED}}: {{product.specifications[0].speed}}</p>
                        <p *ngIf="product.specifications[0].hdmi">{{name.HDMI}}: {{product.specifications[0].hdmi}}</p>
                        <p *ngIf="product.specifications[0].speaker">{{name.SPEAKER}}: {{product.specifications[0].speaker}}</p>
                        <p *ngIf="product.specifications[0].radiator">{{name.RADIATOR}}: {{product.specifications[0].radiator}}</p>
                        <p *ngIf="product.specifications[0].voltage">{{name.VOLTAGE}}: {{product.specifications[0].voltage}}</p>
                    </div>
                </div>
            </div>


            <!-- d e t a i l s------------------------------------------------------------------------ -->
            <div [ngClass]="{'details-grid':displayType==='grid', 'details-list':displayType==='list'}">
                <p [ngClass]="{'available-grid':displayType==='grid', 'available-list':displayType==='list'}"
                    [ngStyle]="{color: product.available==='STOCK' ? 'rgb(0, 184, 0)' : 'grey'}">
                    {{product.available==='STOCK'? 'in stoc' : ''}}
                    {{product.available==='DEPOSIT'? 'in depozit': ""}}
                </p>

                <h1><strong>{{product.price}} Lei</strong></h1>

                <button (click)="addToCart(product)">Adauga in cos</button>
            </div>

        </div>

    </div>

</div>