<div class="cards-container"
    [ngClass]="{'cards-container-grid':displayType==='grid','cards-container-list':displayType==='list'}">

    <div class="card" [ngClass]="{'card-grid':displayType==='grid','card-list':displayType==='list'}"
        *ngFor="let product of productsOut">

        <div class="fav-comp">
            <mat-icon [ngStyle]="{color: product.favorite ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleFavorites(product)">
                {{product.favorite ? 'favorite' : 'favorite_border'}}
            </mat-icon>
            <mat-icon [ngStyle]="{color: product.compare ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleCompares(product)">
                {{product.compare ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>
        </div>


        <!-- I M A G E ===================================================================================== -->
        <div [ngClass]="{'image-grid':displayType==='grid','image-list':displayType==='list'}">
            <a [routerLink]="'/prod/' + product.urlKey">
                <img [src]="product.image" />
            </a>
        </div>


        <!-- B O D Y ======================================================================================= -->
        <div [ngClass]="{'body-grid':displayType==='grid', 'body-list':displayType==='list'}">


            <!-- m a i n ---------------------------------------------------------------------------- -->
            <div [ngClass]="{'main-grid':displayType=='grid', 'main-list':displayType=='list'}">
                <span [ngClass]="{'badge-grid':displayType=='grid', 'badge-list':displayType=='list'}"
                    [ngStyle]="{'background':product.badge==badge.TOP_FAVORITE ?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                    {{product.badge==badge.TOP_FAVORITE?badge.TOP_FAVORITE:badge.SUPER_PRICE}}
                </span>

                <a [routerLink]="'/prod/' + product.urlKey">
                    <p>{{product.description}}</p>
                </a>

                <div class="specifications" *ngIf="displayType==='list'">
                    <div>
                        <p *ngIf="product.specification.display_size">
                            <b>{{name.DISPLAY_SIZE}}: </b>
                            {{product.specification.display_size}}
                        </p>
                        <p *ngIf="product.specification.display_frequency">
                            <b>{{name.DISPLAY_FREQUENCY}}: </b>
                            {{product.specification.display_frequency}}
                        </p>
                        <p *ngIf="product.specification.display_resolution">
                            <b>{{name.DISPLAY_RESOLUTION}}: </b>
                            {{product.specification.display_resolution}}
                        </p>
                        <p *ngIf="product.specification.motherboard_brand">
                            <b>{{name.MOTHERBOARD_BRAND}}: </b>
                            {{product.specification.motherboard_brand}}
                        </p>
                        <p *ngIf="product.specification.motherboard_chipset">
                            <b>{{name.MOTHERBOARD_CHIPSET}}: </b>
                            {{product.specification.motherboard_chipset}}
                        </p>
                        <p *ngIf="product.specification.motherboard_slot">
                            <b>{{name.MOTHERBOARD_SLOT}}: </b>
                            {{product.specification.motherboard_slot}}
                        </p>
                        <p *ngIf="product.specification.motherboard_audio">
                            <b>{{name.MOTHERBOARD_AUDIO}}: </b>
                            {{product.specification.motherboard_audio}}
                        </p>
                        <p *ngIf="product.specification.processor_brand">
                            <b>{{name.PROCESSOR_BRAND}}: </b>
                            {{product.specification.processor_brand}}
                        </p>
                        <p *ngIf="product.specification.processor_type">
                            <b>{{name.PROCESSOR_TYPE}}: </b>
                            {{product.specification.processor_type}}
                        </p>
                        <p *ngIf="product.specification.processor_model">
                            <b>{{name.PROCESSOR_MODEL}}: </b>
                            {{product.specification.processor_model}}
                        </p>
                        <p *ngIf="product.specification.processor_frequency">
                            <b>{{name.PROCESSOR_FREQUENCY}}: </b>
                            {{product.specification.processor_frequency}}
                        </p>
                        <p *ngIf="product.specification.memory_type">
                            <b>{{name.MEMORY_TYPE}}: </b>
                            {{product.specification.memory_type}}
                        </p>
                        <p *ngIf="product.specification.memory_capacity">
                            <b>{{name.MEMORY_CAPACITY}}: </b>
                            {{product.specification.memory_capacity}}
                        </p>
                        <p *ngIf="product.specification.memory_frequency">
                            <b>{{name.MEMORY_FREQUENCY}}: </b>
                            {{product.specification.memory_frequency}}
                        </p>
                        <p *ngIf="product.specification.brand">
                            <b>{{name.BRAND}}: </b>
                            {{product.specification.brand}}
                        </p>
                        <p *ngIf="product.specification.type">
                            <b>{{name.TYPE}}: </b>
                            {{product.specification.type}}
                        </p>
                        <p *ngIf="product.specification.model">
                            <b>{{name.MODEL}}: </b>
                            {{product.specification.model}}
                        </p>
                        <p *ngIf="product.specification.capacity">
                            <b>{{name.CAPACITY}}: </b>
                            {{product.specification.capacity}}
                        </p>
                        <p *ngIf="product.specification.connection">
                            <b>{{name.CONNECTION}}: </b>
                            {{product.specification.connection}}
                        </p>
                        <p *ngIf="product.specification.output">
                            <b>{{name.OUTPUT}}: </b>
                            {{product.specification.output}}
                        </p>
                        <p *ngIf="product.specification.compatibility">
                            <b>{{name.COMPATIBILITY}}: </b>
                            {{product.specification.compatibility}}
                        </p>
                        <p *ngIf="product.specification.screen_size">
                            <b>{{name.SCREEN_SIZE}}: </b>
                            {{product.specification.screen_size}}
                        </p>
                        <p *ngIf="product.specification.frequency">
                            <b>{{name.FREQUENCY}}: </b>
                            {{product.specification.frequency}}
                        </p>
                        <p *ngIf="product.specification.power">
                            <b>{{name.POWER}}: </b>
                            {{product.specification.power}}
                        </p>
                    </div>
                    <div>
                        <p *ngIf="product.specification.hard_type_1">
                            <b>{{name.HARD_TYPE_1}}: </b>
                            {{product.specification.hard_type_1}}
                        </p>
                        <p *ngIf="product.specification.hard_capacity_1">
                            <b>{{name.HARD_CAPACITY_1}}: </b>
                            {{product.specification.hard_capacity_1}}
                        </p>
                        <p *ngIf="product.specification.hard_slot_1">
                            <b>{{name.HARD_SLOT_1}}: </b>
                            {{product.specification.hard_slot_1}}
                        </p>
                        <p *ngIf="product.specification.hard_type_2">
                            <b>{{name.HARD_TYPE_2}}: </b>
                            {{product.specification.hard_type_2}}
                        </p>
                        <p *ngIf="product.specification.hard_capacity_2">
                            <b>{{name.HARD_CAPACITY_2}}: </b>
                            {{product.specification.hard_capacity_2}}
                        </p>
                        <p *ngIf="product.specification.hard_slot_2">
                            <b>{{name.HARD_SLOT_2}}: </b>
                            {{product.specification.hard_slot_2}}
                        </p>
                        <p *ngIf="product.specification.connectivity_bluetooth">
                            <b>{{name.CONNECTIVITY_BLUETOOTH}}: </b>
                            {{product.specification.connectivity_bluetooth}}
                        </p>
                        <p *ngIf="product.specification.connectivity_wireless">
                            <b>{{name.CONNECTIVITY_WIRELESS}}: </b>
                            {{product.specification.connectivity_wireless}}
                        </p>
                        <p *ngIf="product.specification.read_speed">
                            <b>{{name.READ_SPEED}}: </b>
                            {{product.specification.read_speed}}
                        </p>
                        <p *ngIf="product.specification.write_speed">
                            <b>{{name.WRITE_SPEED}}: </b>
                            {{product.specification.write_speed}}
                        </p>
                        <p *ngIf="product.specification.material">
                            <b>{{name.MATERIAL}}: </b>
                            {{product.specification.material}}
                        </p>
                        <p *ngIf="product.specification.color">
                            <b>{{name.COLOR}}: </b>
                            {{product.specification.color}}
                        </p>
                        <p *ngIf="product.specification.weight">
                            <b>{{name.WEIGHT}}: </b>
                            {{product.specification.weight}}
                        </p>
                        <p *ngIf="product.specification.speed">
                            <b>{{name.SPEED}}: </b>
                            {{product.specification.speed}}
                        </p>
                        <p *ngIf="product.specification.hdmi">
                            <b>{{name.HDMI}}: </b>
                            {{product.specification.hdmi}}
                        </p>
                        <p *ngIf="product.specification.speaker">
                            <b>{{name.SPEAKER}}: </b>
                            {{product.specification.speaker}}
                        </p>
                        <p *ngIf="product.specification.radiator">
                            <b>{{name.RADIATOR}}: </b>
                            {{product.specification.radiator}}
                        </p>
                        <p *ngIf="product.specification.voltage">
                            <b>{{name.VOLTAGE}}: </b>
                            {{product.specification.voltage}}
                        </p>
                    </div>
                </div>
            </div>


            <!-- d e t a i l s------------------------------------------------------------------------ -->
            <div [ngClass]="{'details-grid':displayType==='grid', 'details-list':displayType==='list'}">
                <p [ngClass]="{'available-grid':displayType==='grid', 'available-list':displayType==='list'}"
                    [ngStyle]="{color: product.available==available.STOCK ? 'rgb(0, 184, 0)' : 'grey'}">
                    {{product.available}}
                </p>

                <h1><strong>{{product.price}} Lei</strong></h1>

                <button (click)="addToCart(product)">Adauga in cos</button>
            </div>

        </div>

    </div>

</div>