<ul class="dropdown-nav">    

    <li *ngFor="let department of departments;">

        <a (click)="toogleDepartment(department)">
            <span class="icon">
                <img class="department-icon" [src]="department.icon" [alt]="department.icon">
                <span [ngStyle]="{'color': department.color}">{{department.name}}</span>
            </span>
            <span class="icon">
                <img class="chevron-icon" [src]="department.chevron" [alt]="department.chevron">
            </span>
        </a>

        <div class="dropdown-menu-nav" *ngFor="let type of department.types">
            <div class="department-titles" *ngIf="department.showTitle">

                <a class="title" [ngStyle]="{'color': type.color}" (click)="toogleTitle(type)">
                    {{type.name}}
                    <img class="chevron-icon" [src]="department.chevron" [alt]="department.chevron">
                </a>
                <a class="subtitle" *ngIf="type.showSubtitle" routerLink={{type.link}}
                    [ngStyle]="{'color': type.color}" (click)="closeMobileMenu()"><strong>{{type.name}}</strong>
                </a>

                <ul *ngFor="let category of type.categories">
                    <li *ngIf="type.showSubtitle">
                        <a class="subtitle" routerLink={{category.link}} [ngStyle]="{'color': category.color}"
                            (click)="closeMobileMenu()">
                            {{category.name}}
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </li>

    <li class="support">
        <a routerLink="/customer-support" (click)="closeMobileMenu()">
            <span class="icon">
                <mat-icon>headset_mic</mat-icon>
                <span>Suport clienti</span>
            </span>
        </a>
    </li>

</ul>