<ul class="dropdown-nav">    

    <li *ngFor="let department of departments;">

        <a (click)="toogleDepartment(department)">
            <span class="icon">
                <img class="department-icon" src="{{department.icon}}" alt="icon">
                <span [ngStyle]="{'color': department.color}">{{department.name}}</span>
            </span>
            <span class="icon">
                <img class="chevron-icon" src="{{department.chevron}}" alt="chevron-right">
            </span>
        </a>

        <div class="dropdown-menu-nav" *ngFor="let title of department.titles">
            <div class="department-titles" *ngIf="department.showTitle">

                <a class="title" [ngStyle]="{'color': title.color}" (click)="toogleTitle(title)">
                    {{title.name}}
                    <img class="chevron-icon" src="{{department.chevron}}" alt="chevron-right">
                </a>
                <a class="subtitle" *ngIf="title.showSubtitle" routerLink={{title.link}}
                    [ngStyle]="{'color': title.color}" (click)="closeMobileMenu()"><strong>{{title.name}}</strong>
                </a>

                <ul *ngFor="let subtitle of title.subtitles">
                    <li *ngIf="title.showSubtitle">
                        <a class="subtitle" routerLink={{subtitle.link}} [ngStyle]="{'color': subtitle.color}"
                            (click)="closeMobileMenu()">
                            {{subtitle.name}}
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </li>

    <li class="support">
        <a routerLink="/suport-clienti" (click)="closeMobileMenu()">
            <span class="icon">
                <mat-icon>headset_mic</mat-icon>
                <span>Suport clienti</span>
            </span>
        </a>
    </li>

</ul>