.dropdown-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid rgb(231, 231, 231);
    background: rgb(251, 245, 245);
    /* border: 1px solid rgb(0, 102, 255); */
}

.dropdown-nav>li {
    margin: 0;
    /* border: 2px solid orange; */
}

.dropdown-nav>li>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    padding: 14px;
    /* border: 1px solid red; */
}

.dropdown-nav>li>a:hover {
    background: rgba(220, 20, 110, 0.1);    
}

.dropdown-menu-nav {
    display: flex;
    flex-direction: row;
    text-align: left;
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 0;
    /* border: 1px solid rgb(1, 62, 159); */
}

.support {
    background: rgb(251, 234, 234);
}

.support span {
    color: rgb(75, 75, 75);
}

mat-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    /* border: 1px solid rgb(1, 62, 159); */
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(255, 136, 0); */
}

.department-icon {
    width: 18px;
    margin-right: 14px;
    /* border: 2px solid rgb(255, 136, 0); */
}

.chevron-icon {
    width: 12px;
    margin-right: 0;
    /* border: 2px solid rgb(255, 136, 0); */
}

.department-titles {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
}

.department-titles ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 2px solid rgb(10, 10, 10); */
}

.title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    /* border: 1px solid red; */
}

.title:hover {    
    text-decoration: underline;
}

.subtitle {
    display: block;
    margin: 0;
    padding: 4px 14px 4px 30px;
    font-size: 14px;
    line-height: 14px;
    color: rgb(110, 110, 110);
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

.subtitle:hover {    
    text-decoration: underline;
}