<form #f="ngForm" (ngSubmit)="f.form.valid && createLaptop()">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="newLaptop.name" #name="ngModel" minlength="1" maxlength="100"
            required>
        <div class="alert-container">
            <div class="alert" *ngIf="!name.valid && f.submitted">Camp gol!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" [(ngModel)]="newLaptop.description" #description="ngModel" minlength="1" maxlength="200"
            required>
        <div class="alert-container">
            <div class="alert" *ngIf="!description.valid && f.submitted">Camp gol!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>
        <select name="brand" #brandSelect [(ngModel)]="newLaptop.brand">
            <option value="ACER">ACER</option>
            <option value="APPLE">APPLE</option>
            <option value="ASUS">ASUS</option>
            <option value="LENOVO">LENOVO</option>
            <option value="HP">HP</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" #categorySelect [(ngModel)]="newLaptop.category">
            <option value="LAPTOP_BUSINESS">LAPTOP_BUSINESS</option>
            <option value="LAPTOP_GAMING">LAPTOP_GAMING</option>
            <option value="LAPTOP_HOME">LAPTOP_HOME</option>
            <option value="LAPTOP_ULTRA">LAPTOP_ULTRA</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <li class="dropdown">
            <label for="image">Image: </label>
            <div class="select-line" (click)="toggleDropdownMenu()">
                <input type="text" name="src" [(ngModel)]="newLaptop.src1">
                <mat-icon>expand_more</mat-icon>
            </div>
            <div class="dropdown-menu" [style]="isDropdownMenuOpen">
                <div class="list-option" *ngFor="let image of laptopImages;" (click)="getImage(image)">
                    <img [src]="image.src1" [alt]="image.alt">
                    <span>{{image.alt}}</span>
                </div>
            </div>
        </li>
        <div class="image-display">
            <img class="image" [src]="newLaptop.src1" [alt]="newLaptop.alt">
        </div>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="available">Available</label>
        <select name="available" #availableSelect [(ngModel)]="newLaptop.available">
            <option value="STOCK">STOCK</option>
            <option value="DEPOSIT">DEPOSIT</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="alert">Alert</label>
        <select name="alert" #alertSelect [(ngModel)]="newLaptop.alert">
            <option value="TOP_FAVORITE">TOP_FAVORITE</option>
            <option value="SUPER_PRICE">SUPER_PRICE</option>
        </select>
        <div class="alert-container">
            <div class="alert"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" [(ngModel)]="newLaptop.price" #price="ngModel" min="1" max="1000000" required>
        <div class="alert-container">
            <div class="alert" *ngIf="!price.valid && f.submitted">Valuare: 1 - 1.000.000!</div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-create">Create</button>
    </div>

</form>