<div class="container-admin">

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer-sidenav" [mode]="mode" [opened]="opened">
            <ul>
                <div class="header-left">
                    <a (click)="drawer.close()">PANOU DE COMANDA</a>
                </div>
                <li class="title" *ngFor="let title of sidenavItems">
                    <a (click)="selectTitle(title)">
                        <div>
                            <mat-icon>{{title.icon}}</mat-icon>
                            <span>{{title.name}}</span>
                        </div>
                        <mat-icon [ngStyle]="{
                                    rotate: title.isOpened ? '0deg' : '-180deg',
                                    transition: title.isOpened ? '0.2s' : '0.3s',
                                    }"> expand_less
                        </mat-icon>
                    </a>
                    <div class="subtitle" *ngFor="let sub of title.subtitles">
                        <a [ngStyle]="{
                                color: activeSubtitle==sub.subtitle ? 'rgb(220, 20, 110)' : 'black',
                                'font-weight': activeSubtitle==sub.subtitle ? 'bold' : 'normal',
                                }" (click)="selectSubtitle(sub)" *ngIf="title.isOpened">
                            {{sub.name}}
                        </a>
                    </div>
                </li>
            </ul>
        </mat-drawer>

        <div class="drawer-sidenav-content">
            <div class="header-right">
                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            </div>
            <div class="menu-content">

                <div class="insert-page">
                    <app-admin-product *ngIf="activeSubtitle==subtitles.laptops
                                            ||activeSubtitle==subtitles.laptopAccessory
                                            ||activeSubtitle==subtitles.pc
                                            ||activeSubtitle==subtitles.monitor" [currentType]="activeSubtitle">
                    </app-admin-product>



                    <app-admin-order *ngIf="activeSubtitle==subtitles.orders"></app-admin-order>

                    <app-admin-item *ngIf="activeSubtitle==subtitles.items"></app-admin-item>

                    <app-admin-user *ngIf="activeSubtitle==subtitles.users"></app-admin-user>
                    <app-admin-token *ngIf="activeSubtitle==subtitles.tokens"></app-admin-token>
                </div>

            </div>
        </div>
    </mat-drawer-container>

</div>