<div class="my-container">

    <div class="logo">
        <a routerLink="/">
            <img src="assets/logo/electro-room-red-small.png" alt="logo">
        </a>
    </div>

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer-sidenav" [mode]="mode" [opened]="opened">
            <ul>
                <div class="header-left">
                    <a (click)="drawer.close()">PANOU DE COMANDA</a>
                </div>
                <li class="title" *ngFor="let title of sidenavItems">
                    <a (click)="selectTitle(title)">
                        <div>
                            <mat-icon>{{title.icon}}</mat-icon>
                            <span>{{title.name}}</span>
                        </div>
                        <mat-icon [ngStyle]="{rotate: title.isOpened ? '0deg' : '-180deg',
                                    transition: title.isOpened ? '0.2s' : '0.3s'}">
                            expand_less
                        </mat-icon>
                    </a>
                    <div class="subtitle" *ngFor="let subtitle of title.subtitles">
                        <a [ngStyle]="{ color: activeSubtitle.name==subtitle.name ? 'rgb(220, 20, 110)' : 'black',
                                'font-weight': activeSubtitle.name==subtitle.name ? 'bold' : 'normal' }"
                            (click)="selectSubtitle(subtitle)" *ngIf="title.isOpened">
                            {{subtitle.name}}
                        </a>
                    </div>
                </li>
            </ul>
        </mat-drawer>

        <div class="drawer-sidenav-content">
            <div class="header-right">
                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            </div>
            <div class="menu-content">
                <div class="insert-page">
                    <app-admin-product *ngIf="activeSubtitle.name==type.LAPTOP
                                            ||activeSubtitle.name==type.LAPTOP_ACCESSORY
                                            ||activeSubtitle.name==type.PC
                                            ||activeSubtitle.name==type.MONITOR"
                        [activeSubtitleName]="activeSubtitle.name" [activeSubtitleUrlKey]="activeSubtitle.urlKey">
                    </app-admin-product>
                    <app-admin-order *ngIf="activeSubtitle.name==order.ORDERS_LIST"
                        [activeSubtitleName]="activeSubtitle.name" [activeSubtitleUrlKey]="activeSubtitle.urlKey">
                    </app-admin-order>
                    <app-admin-item *ngIf="activeSubtitle.name==order.ORDED_PRODUCTS"
                        [activeSubtitleName]="activeSubtitle.name" [activeSubtitleUrlKey]="activeSubtitle.urlKey">
                    </app-admin-item>
                    <app-admin-user *ngIf="activeSubtitle.name==user.USERS_LIST"
                        [activeSubtitleName]="activeSubtitle.name" [activeSubtitleUrlKey]="activeSubtitle.urlKey">
                    </app-admin-user>
                    <app-admin-token *ngIf="activeSubtitle.name==user.TOKENS" [activeSubtitleName]="activeSubtitle.name"
                        [activeSubtitleUrlKey]="activeSubtitle.urlKey">
                    </app-admin-token>
                </div>
            </div>
        </div>
    </mat-drawer-container>

</div>