.col-sorters {
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 1px solid black; */
}

/* categ-count -------------------------------- */
.categ-count {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    /* border: 1px solid black; */
}

.categ-count h1 {
    font-size: 26px;
    margin: 0;
}

.categ-count h2 {
    margin: 4px 0 4px 10px;
    opacity: 0.4;
}

/* filters ------------------------------------ */
.filters {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    /* border: 1px solid black; */
}

.active-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
}

.active-filters label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 12px;
    padding-left: 6px;
    color: white;
    background: rgb(220, 20, 110);
}

.active-filters mat-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

.filters h4 {
    cursor: pointer;
    color: rgb(220, 20, 110);
    margin: 0;
    padding: 0;
    background: none;
}

.filters h4:hover {
    text-shadow: 0 0 1px rgb(220, 20, 110);
    text-decoration: underline;
}


/* category-select filter --------------------------------------------- */
.sorters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.category-select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-select label {    
    font-size: 16px;
    margin-right: 10px;
}

.category-select select {
    font-size: 16px;    
    width: 180px;
    height: 34px;
    cursor: pointer;
    background: white;
}

.grid-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid-list label {
    margin-right: 10px;
    font-size: 16px;
}

.grid-list button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: none;
}

.grid-list button:hover {
    transform: translateY(-2px);
}

.btn-grid {
    border-radius: 4px 0 0 4px;
}

.btn-list {
    border-radius: 0 4px 4px 0;
}

.active {
    color: rgb(220, 20, 110);
    border: 2px solid rgb(220, 20, 110);
}

/* buttons --------------------------------------------- */
.row-buttons {
    display: none;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    margin-top: 12px;
    /* border: 2px solid black; */
}

.row-buttons button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: 2px solid rgb(220, 20, 110);
    border-radius: 4px;
    background: none;
}

@media(max-width: 1020px) {
    .col-sorters {
        padding: 10px;
    }

    .filters {
        display: flex;
    }

    .sorters {
        display: none;
    }

    .category-select {
        display: none;
    }

    .row-buttons {
        display: flex;
    }
}

@media(max-width: 550px) {
    .row-buttons {
        gap: 6px;
    }

    .row-buttons button {
        padding: 4px;
    }
}