<div class="col-sorters">

    <div class="categ-count">
        <h1>{{currentCategory}}</h1>
        <h2>({{totalFoundProducts}} {{totalFoundProducts==1 ? 'produs' : 'produse'}})</h2>
    </div>

    <div class="filters" *ngIf="activeFilters.length">

        <div class="active-filters" *ngFor="let af of activeFilters" (click)="closeSelectedFilter(af)">
            <label> {{af.toLowerCase()}}
                <mat-icon>close</mat-icon>
            </label>
        </div>

        <h4 (click)="clearProductsFilters()">
            <strong>sterge tot</strong>
        </h4>

    </div>

    <div class="category-select">

        <label for="categorySelect">Sorteaza dupa: </label>
        <select name="categorySelect" [(ngModel)]="currentOption" (change)="changeSorter()">
            <option [value]="ps.value" *ngFor="let ps of productsSorters">
                {{ps.name}}
            </option>
        </select>

        <!-- <button (click)="resetSorter()">reset</button> -->

    </div>

    <div class="row-buttons">
        <button>
            <mat-icon>filter_list</mat-icon>
            Filtreaza
        </button>
        <button (click)="displaySortersDialog()">
            <mat-icon>sort</mat-icon>
            Sorteaza
        </button>
    </div>

</div>