<div class="products-header">
    <h1>CATEGORY: {{currentCategory}}</h1>

    <div class="filters">
        <div class="filterName" *ngIf="isFilterChecked()">
            <div *ngFor="let pf of productsFilters">
                <div *ngFor="let cf of pf.filters" (click)="closeFilter(cf)">
                    <label *ngIf="cf.isChecked"> {{cf.labelName.toLowerCase()}}
                        <mat-icon>close</mat-icon>
                    </label>
                </div>
            </div>
            <h4 (click)="clearProductsFilters()">
                <strong>sterge tot</strong>
            </h4>
        </div>
    </div>

    <div class="categorySelect">
        <label for="categorySelect">Sorteaza dupa: </label>
        <select name="categorySelect" [(ngModel)]="currentOption" (change)="changeSorter()">
            <option [value]="ps.value" *ngFor="let ps of productsSorters" >
                {{ps.name}}
            </option>
        </select>

        <button (click)="clearCurrentSorter()">reset</button>
    </div>
</div>