<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container-admin">
  <div class="content-admin">

    <div class="title">
      <h1><strong>LAPTOP HARDS</strong></h1>
      <h3>Products: {{hards.length}}</h3>
      <button class="btn-new" type="button" (click)="createHardDialog()">NEW</button>
    </div>

    <table class="table-row">
      <thead>
        <tr>
          <th>Id</th>
          <th>Image</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Description</th>
          <th>Available</th>
          <th>Capacity</th>
          <th>Connect</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let hard of hards;">
          <td><strong>{{hard.id}}</strong></td>
          <td>
            <a routerLink="/laptops-phones-tablets/laptop-auxs/hards/{{hard.linkName}}">
              <img [src]="hard.image" [alt]="hard.alt">
            </a>
          </td>
          <td><strong>{{hard.brand}}</strong></td>
          <td>
            <strong>{{hard.name}}</strong>
          </td>
          <td>{{hard.description}}</td>
          <td>{{hard.available}}</td>
          <td>{{hard.capacity}}</td>
          <td>{{hard.connect}}</td>
          <td><strong>{{hard.price}}.Lei</strong></td>
          <td>
            <button class="btn-edit" (click)="updateHardDialog(hard)">Edit</button>
          </td>
          <td>
            <button class="btn-delete" (click)="deleteHardDialog(hard)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table-col" *ngFor="let hard of hards;">
      <tbody>
        <tr>
          <th colspan="2">{{hard.id}}</th>
        </tr>
        <tr>
          <th>Image</th>
          <td>
            <a routerLink="/laptops-phones-tablets/laptop-auxs/hards/{{hard.linkName}}">
              <img [src]="hard.image" [alt]="hard.alt">
            </a>
          </td>
        </tr>
        <tr>
          <th>Brand</th>
          <td><strong>{{hard.brand}}</strong></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><strong>{{hard.name}}</strong></td>
        </tr>
        <tr>
          <th>Available</th>
          <td>{{hard.available}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{hard.description}}</td>
        </tr>
        <tr>
          <th>Capacity</th>
          <td>{{hard.capacity}}</td>
        </tr>
        <tr>
          <th>Connect</th>
          <td>{{hard.connect}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td><strong>{{hard.price}} Lei</strong></td>
        </tr>
        <tr class="action">
          <th>Action</th>
          <td>
            <button class="btn-edit" (click)="updateHardDialog(hard)">Edit</button>
            <button class="btn-delete" (click)="deleteHardDialog(hard)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>