<div class="carousel-home">

    <h1>{{title}}</h1>

    <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging">
        <ng-container *ngFor="let product of products">
            <ng-template carouselSlide>

                <div class="card">
                    <a [owlRouterLink]="'/prod/' + product.urlKey" [stopLink]="isDragging">

                        <img class="image" [src]="product.image">

                        <span
                            [ngStyle]="{'background':product.badge==badge.TOP_FAVORITE ?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                            {{product.badge==badge.TOP_FAVORITE?badge.TOP_FAVORITE:badge.SUPER_PRICE}}
                        </span>

                        <p>{{product.description}}</p>

                        <h2>{{product.price}} Lei</h2>
                    </a>
                </div>

            </ng-template>
        </ng-container>
    </owl-carousel-o>

</div>