<div class="col-filters">

    <div class="filters-module" *ngIf="isAnyFilterChecked()">

        <label (click)="clearProductsFilters()">Sterge toate filtrele
            <mat-icon>close</mat-icon>
        </label>

    </div>

    <div *ngFor="let pf of productsFilters">

        <div class="filters-module" *ngIf="pf.count">

            <h3><strong>{{pf.name}}</strong></h3>

            <div *ngFor="let cf of pf.filters" (change)="changeFilters($event)">
                <div class="filters-group" *ngIf="cf.count">
                    <input type="checkbox" [id]="cf.id" [value]="cf.value" [checked]="cf.isChecked">
                    <label [for]="cf.id"> {{cf.name}} ({{cf.count}})</label>
                </div>
            </div>

        </div>

    </div>

</div>