<div class="container-nav">
  <div class="content-nav">
    <ul>
      <li #menu class="burger">
        <button (click)="toggleDesktopMenu()">
          <div class="inside-btn">
            <mat-icon>menu</mat-icon>
            <span>Produse</span>
          </div>
        </button>
        <!-- mega-menu ----------------------------------------------------------------------------- -->
        <div class="mega-menu" *ngIf="handleWindow.isDesktopMenuOpen">
          <app-mega-menu-desktop (closeDeskMenuEvent)="closeDesktopMenu($event)"></app-mega-menu-desktop>
        </div>
      </li>
      <li class="item-nav">
        <a routerLink="/special-offer" routerLinkActive="active">
          <span>Oferte speciale</span>
        </a>
      </li>
      <li class="item-nav">
        <a [matMenuTriggerFor]="department">Departamente
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <!-- dropdown-menu ------------------------------------------------------------------------ -->
        <mat-menu #department="matMenu">
          <div class="departments" *ngFor="let depart of departments">
            <a mat-menu-item [routerLink]="depart.link" [matMenuTriggerFor]="type" (click)="closeDropDownMenu()"
              [ngStyle]="{'color': depart.color, 'font-weight': 500}">
              {{depart.name}}
          </a>
            <mat-menu #type="matMenu">
              <div class="titles" *ngFor="let ty of depart.types">
                <a mat-menu-item [routerLink]="ty.link" [matMenuTriggerFor]="category"
                  (click)="closeDropDownMenu()" [ngStyle]="{'color': ty.color, 'font-weight': 500}">
                  {{ty.name}}
              </a>
                <mat-menu #category="matMenu">
                  <div class="subtitles" *ngFor="let category of ty.categories">
                    <a mat-menu-item [routerLink]="category.link" [ngStyle]="{'color': category.color}">
                      {{category.name}}
                    </a>
                  </div>
                </mat-menu>
              </div>
            </mat-menu>
          </div>
        </mat-menu>
      </li>
    </ul>

    <ul>
      <li class="item-nav">
        <a routerLink="/customer-support" routerLinkActive="active">
          <mat-icon>headset_mic</mat-icon>
          <span>Ajutor</span>
        </a>
      </li>
    </ul>
  </div>
</div>