<div class="my-container">
    <form #f="ngForm" (ngSubmit)="f.form.valid && updateProduct()">

        <h1><strong>UPDATE PRODUCT</strong></h1>

        <div class="form-group-dialog">
            <label>Id: {{product.id}}</label>
        </div>

        <div class="form-group-dialog">
            <label for="name">Nume</label>
            <input type="text" name="name" [(ngModel)]="product.name" #name="ngModel" minlength="1" maxlength="100"
                required>
            <div class="alert-container-dialog">
                <div class="alert-dialog" *ngIf="!name.valid && f.submitted">Camp gol!</div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="description">Description</label>
            <input type="text" name="description" [(ngModel)]="product.description" #description="ngModel" minlength="1"
                maxlength="200" required>
            <div class="alert-container-dialog">
                <div class="alert-dialog" *ngIf="!description.valid && f.submitted">Camp gol!</div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="type">Type</label>
            <select name="type" #typeSelect [(ngModel)]="product.type">
                <option [value]="category.LAPTOP">{{category.LAPTOP}}</option>
                <option [value]="category.LAPTOP_ACCESSORY">{{category.LAPTOP_ACCESSORY}}</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="category">Category</label>
            <select name="category" #categorySelect [(ngModel)]="product.category" (click)="setImageGallery()">
                <option [value]="category.LAPTOP_GAMING">{{category.LAPTOP_GAMING}}</option>
                <option [value]="category.LAPTOP_BUSINESS">{{category.LAPTOP_BUSINESS}}</option>
                <option [value]="category.LAPTOP_ULTRA">{{category.LAPTOP_ULTRA}}</option>
                <option [value]="category.LAPTOP_HOME">{{category.LAPTOP_HOME}}</option>
                <option [value]="category.LAPTOP_BAG">{{category.LAPTOP_BAG}}</option>
                <option [value]="category.LAPTOP_CHARGER">{{category.LAPTOP_CHARGER}}</option>
                <option [value]="category.EXTERNAL_BATTERY">{{category.EXTERNAL_BATTERY}}</option>
                <option [value]="category.RAM_MEMORY">{{category.RAM_MEMORY}}</option>
                <option [value]="category.PC_GAMING">{{category.PC_GAMING}}</option>
                <option [value]="category.ALL_IN_ONE">{{category.ALL_IN_ONE}}</option>
                <option [value]="category.MONITOR_PRO">{{category.MONITOR_PRO}}</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="subcategory">Subcategory</label>
            <select name="subcategory" #subcategorySelect [(ngModel)]="product.subcategory">
                <option [value]="category.LAPTOP_GAMING">{{category.LAPTOP_GAMING}}</option>
                <option [value]="category.LAPTOP_BUSINESS">{{category.LAPTOP_BUSINESS}}</option>
                <option [value]="category.LAPTOP_ULTRA">{{category.LAPTOP_ULTRA}}</option>
                <option [value]="category.LAPTOP_HOME">{{category.LAPTOP_HOME}}</option>
                <option [value]="category.BRIEFCASE">{{category.BRIEFCASE}}</option>
                <option [value]="category.SLEEVE">{{category.SLEEVE}}</option>
                <option [value]="category.BACKPACK">{{category.BACKPACK}}</option>
                <option [value]="category.CAR">{{category.CAR}}</option>
                <option [value]="category.PLUG_IN">{{category.PLUG_IN}}</option>
                <option [value]="category.HDD">{{category.HDD}}</option>
                <option [value]="category.SSD">{{category.SSD}}</option>
                <option [value]="category.DDR3">{{category.DDR3}}</option>
                <option [value]="category.DDR4">{{category.DDR4}}</option>
                <option [value]="category.DDR5">{{category.DDR5}}</option>
                <option [value]="category.MONITORS_FLAT">{{category.MONITORS_FLAT}}</option>
                <option [value]="category.MONITORS_CURVED">{{category.MONITORS_CURVED}}</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="brand">Brand</label>
            <select name="brand" #brandSelect [(ngModel)]="product.brand">
                <option [value]="category.ACER">{{category.ACER}}</option>
                <option [value]="category.ADATA">{{category.ADATA}}</option>
                <option [value]="category.ALLVIEW">{{category.ALLVIEW}}</option>
                <option [value]="category.AMD">{{category.AMD}}</option>
                <option [value]="category.APPLE">{{category.APPLE}}</option>
                <option [value]="category.ASUS">{{category.ASUS}}</option>
                <option [value]="category.DELL">{{category.DELL}}</option>
                <option [value]="category.HAMA">{{category.HAMA}}</option>
                <option [value]="category.HP">{{category.HP}}</option>
                <option [value]="category.INTEL">{{category.INTEL}}</option>
                <option [value]="category.IPHONE">{{category.IPHONE}}</option>
                <option [value]="category.LENOVO">{{category.LENOVO}}</option>
                <option [value]="category.KINGSTON">{{category.KINGSTON}}</option>
                <option [value]="category.MYRIA">{{category.MYRIA}}</option>
                <option [value]="category.MSI">{{category.MSI}}</option>
                <option [value]="category.PHILIPS">{{category.PHILIPS}}</option>
                <option [value]="category.PROMATE">{{category.PROMATE}}</option>
                <option [value]="category.RIVACASE">{{category.RIVACASE}}</option>
                <option [value]="category.SAMSONITE">{{category.SAMSONITE}}</option>
                <option [value]="category.SAMSUNG">{{category.SAMSUNG}}</option>
                <option [value]="category.SANDISK">{{category.SANDISK}}</option>
                <option [value]="category.SEAGATE">{{category.SEAGATE}}</option>
                <option [value]="category.TUMI">{{category.TUMI}}</option>
                <option [value]="category.WD">{{category.WD}}</option>
                <option [value]="category.XTORM">{{category.XTORM}}</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <li class="dropdown">
                <label for="image">Image: </label>

                <!-- SELECT image -->
                <div class="select-line" (click)="toggleDropdownMenu()">
                    <input type="text" name="src" [(ngModel)]="product.image">
                    <mat-icon>expand_more</mat-icon>
                </div>

                <!-- VIEW gallery -->
                <div class="dropdown-menu" [style]="isDropdownMenuOpen">
                    <div class="list-option" *ngFor="let image of productImages;" (click)="getImage(image)">
                        <img [src]="image.image" [alt]="image.alt">
                        <span>{{image.alt}}</span>
                    </div>
                </div>
            </li>

            <!-- DISPLAY image -->
            <div class="image-display">
                <img class="image" [src]="product.image" [alt]="product.image">
            </div>

            <!--  -->
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="available">Available</label>
            <select name="available" #availableSelect [(ngModel)]="product.available">
                <option [value]="category.STOCK">{{category.STOCK}}</option>
                <option [value]="category.DEPOSIT">{{category.DEPOSIT}}</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="badge">Badge</label>
            <select name="badge" #alertSelect [(ngModel)]="product.badge">
                <option [value]="category.TOP_FAVORITE">{{category.TOP_FAVORITE}}</option>
                <option [value]="category.SUPER_PRICE">{{category.SUPER_PRICE}}</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="price">Price</label>
            <input type="number" name="price" [(ngModel)]="product.price" #price="ngModel" min="0.1" max="1000000"
                required>
            <div class="alert-container-dialog">
                <div class="alert-dialog" *ngIf="!price.valid && f.submitted">Valuare: 1 - 1.000.000!</div>
            </div>
        </div>

        <!-- <div class="form-group-dialog">
            <label for="price">Price</label>
            <input type="number" name="price" [(ngModel)]="product.price" #price="ngModel" min="0.1" max="1000000"
                required>
            <div class="alert-container-dialog">
                <div class="alert-dialog" *ngIf="!price.valid && f.submitted">Valuare: 1 - 1.000.000!</div>
            </div>
        </div> -->

        <!-- <div class="form-group-dialog">
            <label for="power">Power</label>
            <select name="power" #powerSelect [(ngModel)]="product.power">
                <option value="W45">W45</option>
                <option value="W60">W60</option>
                <option value="W65">W65</option>
                <option value="W70">W70</option>
                <option value="W85">W85</option>
                <option value="W90">W90</option>
                <option value="W120">W120</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="capacity">Capacity</label>
            <select name="capacity" #capacitySelect [(ngModel)]="product.capacity">
                <option value="GB120">GB120</option>
                <option value="GB240">GB240</option>
                <option value="GB256">GB256</option>
                <option value="GB480">GB480</option>
                <option value="GB500">GB500</option>
                <option value="GB512">GB512</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div>

        <div class="form-group-dialog">
            <label for="connect">Connect</label>
            <select name="connect" #connectSelect [(ngModel)]="product.connect">
                <option value="PCI_EXPRESS">PCI_EXPRESS</option>
                <option value="M_SATA3">M_SATA3</option>
                <option value="SATA3">SATA3</option>
            </select>
            <div class="alert-container-dialog">
                <div class="alert-dialog"></div>
            </div>
        </div> -->

        <div class="form-group-dialog">
            <button class="btn-submit" type="submit">Submit</button>
        </div>

    </form>
</div>