.container-breadcrumb {
    width: 100%;
    margin-bottom: 12px;
    /* border: 1px solid black; */
}

.content-breadcrumb {
    width: 1500px;
    margin: auto;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 1px solid black; */
}

.breadcrumb {
    margin: 0;
    padding: 6px 20px;
    background: none;    

    li {
        list-style: none;
        float: left;

        a {
            font-size: 14px;
            color: rgb(220, 20, 110);
            text-decoration: none;
            // border: 1px solid black;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    li:last-child a {
        color: rgb(80, 80, 80);
    }

    li:last-child a:hover {
        text-decoration: none;
    }

    li::after {
        content: "/";
        margin-right: 2px;
        color: darkgrey;
    }

    li:last-child::after {
        content: "";
    }    
}


@media(max-width: 1530px) {
    .content-breadcrumb {
        width: 1200px;
    }
}

@media(max-width: 1260px) {
    .content-breadcrumb {
        width: 990px;
    }
}

@media(max-width: 1020px) {
    .content-breadcrumb {
        width: 100%;
        border-radius: 0;
    }

    .breadcrumb {
        padding: 6px 30px;
    }
}

@media(max-width: 550px) {
    .breadcrumb {
        padding: 6px 20px;
    }
}