.header {
    box-sizing: border-box;
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    border-radius: 8px;
    background: white;
}

.header h1 {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 28px;
    border-bottom: 1px solid rgb(220, 20, 110);
}

a {
    display: block;
    width: fit-content;
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
    color: rgb(220, 20, 110);
}

a:hover {
    text-shadow: 2px 2px 20px rgb(220, 20, 110);
}

.help-desk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-top: 12px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    order: 99;
    flex-grow: 1;
    width: 100%;
    border-radius: 0 8px 0 0;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.box p {
    font-size: 16px;
    color: black;
}


.help-desk>label {
    display: block;
    color: white;
    text-align: center;
    order: 1;
    font-size: 16px;
    padding: 6px 10px;
    margin-right: 4px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    background: rgb(220, 20, 110);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgb(0, 0, 0); */
}

.help-desk>label:hover {
    background: rgb(202, 0, 91);
}

.help-desk>input {
    display: none;
}

.help-desk>input:checked+label {
    color: black;
    background: #fff;
}

.help-desk>input:checked+label+.box {
    display: flex;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
}

@media(max-width: 1020px) {
    .header h1 {
        font-size: 26px;
        padding: 10px 14px;
    }

    a {
        font-size: 15px;
        padding: 10px 14px;
    }

    .help-desk label {
        font-size: 14px;
    }
}

@media(max-width: 766px) {
    .help-desk {
        flex-direction: column;
    }

    .help-desk>label {
        margin: 0;
        margin-bottom: 2px;
    }

    .help-desk input {
        font-size: 14px;
        padding: 8px;
    }

    .box {
        border-radius: 0;
    }
}

@media(max-width: 550px) {
    .help-desk label {
        font-size: 14px;
    }

    .header h1 {
        font-size: 24px;
        padding: 10px;
    }

    a {
        font-size: 14px;
        padding: 10px;
    }

    .help-desk input {
        font-size: 14px;
        padding: 8px;
    }

    .box h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .box p {
        font-size: 14px;
    }
}