<div class="my-container">
    <div class="my-content">

        <div class="header">
            <h1>Suport Clienti</h1>
            <a routerLink="/customer-support/stores">
                Verifica acum Lista Magazinelor noastre din toata tara!
            </a>
        </div>

        <div class="help-desk">

            <input type="radio" name="box" id="box1" checked="checked">
            <label for="box1">Beneficii Genial</label>
            <div class="box">
                <h1>Pentru ce produse sunt valabile beneficiile Genial?</h1>
                <p>Ai sute de mii de produse din care să alegi,care acoperă orice nevoie: articole pentru casă,
                    cărți, îmbrăcăminte, jucării, băcănie, băuturi, electronice, electrocasnice și IT.
                    Produsele Genial sunt semnalizate special în fiecare pagină de produs, categorie sau căutare.
                    Mai nou, o mulțime de produse vândute de către partenerii Electro-Room Marketplace poartă eticheta
                    Genial.
                    Utilizează filtrele aflate în coloana din stânga a listelor cu produse pentru a le identifica.
                </p>
            </div>

            <input type="radio" name="box" id="box2">
            <label for="box2">Retur Magic</label>
            <div class="box">
                <h1>Cum pot beneficia de Returul Magic?</h1>
                <p>Beneficiezi de Returul Magic dacă ești client Genial, ai un card salvat în contul de client
                    și vrei să returnezi un produs care încape într-unul din sertarele easybox.
                    Tot ce trebuie să faci este să inițiezi o cerere de retur cu predare personală la easybox,
                    iar contravaloarea produsului îți va fi returnată pe același card salvat cu care ai achitat,
                    în cel mult 30 de minute din momentul în care ai introdus coletul în sertar și ai închis ușa.
                </p>
            </div>

            <input type="radio" name="box" id="box3">
            <label for="box3">Nu am factura</label>
            <div class="box">
                <h1>Nu am primit factura. Ce fac?</h1>
                <p>Imediat după ce comanda ta a fost facturată, poți descărca factura din contul tău de client.
                    Intră în secțiunea Comenzile mele, selectează comanda, descarcă factura și salveaz-o sau printeaz-o.
                </p>
            </div>

            <input type="radio" name="box" id="box4">
            <label for="box4">Card cadou</label>
            <div class="box">
                <h1>Ce se întâmplă cu cardul cadou dacă returnez produsul?</h1>
                <p>Dacă returul se efectuează în perioada de valabilitate a cardului cadou, acesta se reactivează
                    după emiterea facturii de stornare și vei putea refolosi seria cardului cadou.
                    Daca stornarea este efectuată dupa finalizarea perioadei de valabilitate,
                    reducerea aferenta cardului cadou nu va mai fi disponibilă.
                </p>
            </div>

            <input type="radio" name="box" id="box5">
            <label for="box5">Produs defect</label>
            <div class="box">
                <h1>Am primit un produs defect, ce trebuie să fac?</h1>
                <p>Daca produsul primit are un defect fizic (este lovit, zgâriat, fisurat, ciobit, spart)
                    îți recomandăm să refuzi livrarea. Dacă totuși ai acceptat coletul,
                    îți recomandăm să nu folosești produsul și să ne aduci situația la cunoștință
                    în maximum 48 de ore de la livrare, prin completarea formularului de contact.
                </p>
            </div>

            <input type="radio" name="box" id="box6">
            <label for="box6">Oferte companii</label>
            <div class="box">
                <h1>Aveți oferte și pentru companii?</h1>
                <p>Pentru a avea parte de ofertele specializate B2B, te invităm să accesezi secțiunea specială
                    Electro-Room
                    Corporate. Echipe de vânzări, manageri de cont și specialiști îți stau oricând la dispoziție.
                </p>
            </div>

        </div>

        <img src="assets/images/main/help_desk.png" alt="help_desk.png" />

    </div>
</div>