<div class="container-store">
    <div class="content-store">

        <app-breadcrumb></app-breadcrumb>

        <div class="card">
            <p>= = = = = = = = = = = =  under construction  = = = = = = = = = = = =</p>
            <hr>

            <h1><strong>{{currentStore.name}}</strong></h1>
            <h3>{{currentStore.address}}</h3>

            <hr>
            <p>= = = = = = = = = = = =  under construction  = = = = = = = = = = = =</p>
        </div>

    </div>
</div>

<app-footer></app-footer>