<div class="container-admin">
  <div class="content-admin">

    <div class="title">
      <h1><strong>USERS</strong></h1>
      <h3>Users number: {{users.length}}</h3>
    </div>


    <table class="table-row">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Date</th>
          <th>Role</th>
          <th>Active</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users;">
          <th>{{user.userId}}</th>
          <td><strong>{{user.name}}</strong></td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td><strong>{{user.phone}}</strong></td>
          <td>{{user.address}}</td>
          <td>{{user.createTime}}</td>
          <td>
            <button class="btn-role" [ngStyle]="{'background':user.role==='USER' ? '#5ed7ff' : '#079dcf'}"
              (click)="noAction()">{{user.role}}
            </button>
          </td>
          <td>
            <button class="btn-active" [ngStyle]="{'background':user.enabled===true ? '#00af00' : '#00af0066'}"
              (click)="noAction()">{{user.enabled ? "Active": "Inactive"}}
            </button>
          </td>
          <td>
            <button class="btn-delete" (click)="noAction()">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table-col" *ngFor="let user of users;">
      <tbody>
        <tr>
          <th colspan="2">{{user.userId}}</th>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <th>Username</th>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{user.address}}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{user.createTime}}</td>
        </tr>
        <tr class="action">
          <th>Action</th>
          <td>
            <button class="btn-role" [ngStyle]="{'background':user.role==='USER' ? '#5ed7ff' : '#079dcf'}"
              (click)="noAction()">{{user.role}}
            </button>
            <button class="btn-active" [ngStyle]="{'background':user.enabled===true ? '#00af00' : '#00af0066'}"
              (click)="noAction()">{{user.enabled ? "Active": "Inactive"}}
            </button>
            <button class="btn-delete" (click)="noAction()">Delete</button>
          </td>
        </tr>
      </tbody>


    </table>

  </div>
</div>