<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container-lap">
    <div class="column-lap">

        <div class="breadcrumb">
            <breadcrumb [currentLevelCrumb]="currentLevel" [currentTypeCrumb]="currentType"
                [currentLinkNameCrumb]="currentLinkName">
            </breadcrumb>
        </div>

        <div style="width: 100%" *ngIf="!notFoundProduct">
            <h1>NOT FOUND PRODUCT</h1>
        </div>

        <div class="product" *ngIf="notFoundProduct">

            <div class="title">
                <h1>{{product.description}}</h1>
            </div>

            <div class="row-lap">
                <div class="slider">
                    <span><strong>product</strong></span>
                    <div class="slide">
                        <img [src]="currentImage" [alt]="currentImage">
                    </div>
                    <div>
                        <product-carousel [productImages]="productImages" (indexEvent)="receiveCurrentImage($event)">
                        </product-carousel>
                    </div>
                </div>

                <div class="order">
                    <h1><strong>{{product.price}} Lei</strong></h1>
                    <p class="avail tax">Include taxa verde.</p>
                    <p class="avail stock" *ngIf="product.available==='STOCK'">- in stoc</p>
                    <p class="avail deposit" *ngIf="product.available==='DEPOSIT'">- in depozitul central</p>

                    <div class="guaranty">
                        <mat-icon> star_border</mat-icon>
                        <p>Garantie comerciala (persoane juridice): 24 luni.</p>
                    </div>
                    <div class="guaranty">
                        <mat-icon> star_border</mat-icon>
                        <p>Garantie de conformitate (persoane fizice): 24 luni.</p>
                    </div>
                    <button (click)="addToCart()">Adauga in cos</button>
                    <button (click)="addToFavorites()">Adauga la favorite</button>
                </div>

                <div class="loan">
                    <h1><strong>Finantare:</strong></h1>
                    <div>
                        <strong>PROMO: </strong>
                        <p>Ai dobanda de la 1% / luna prin CREDIT ONLINE incepand cu 100 lei/luna.</p>
                    </div>

                    <a routerLink="/card-electro"><strong>Card Electro: </strong></a>
                    <p> - deschiderea coletului la livrare</p>
                    <p> - 14 zile drept de retur</p>
                    <p> - garantie inclusa</p>
                </div>

            </div>

        </div>

        <!-- =================================================================================== DETAILS -->
        <div class="details" *ngIf="notFoundProduct">

            <input type="radio" name="box" id="box1" checked="checked">
            <label for="box1">Descriere</label>
            <div class="box">
                <h1><span>COMUTATORUL MUX CRESTE PERFORMANTELE GRAFICE.</span></h1>
                <p>
                    Componentele de top necesita putere, mai ales cand vine vorba de placi video de ultima generatie.
                    In acest an imbunatatim TGP-ul maxim al laptopurilor din seria G cu 20 W, pana la un total
                    de 150 W pentru NVIDIA® GeForce RTX™ 3080 Ti Laptop GPU. Limitele mai mari de putere dezlantuie
                    performante si mai mari pentru aceste carduri grafice, asigurandu-te ca ai parte de cea mai buna
                    experienta posibila in jocuri. Laptopurile moderne de gaming directioneaza cadrele din GPU
                    prin grafica integrata a procesorului inainte de a ajunge pe ecran. Acest lucru ofera o
                    durata de viata mai buna a bateriei, dar impiedica GPU-ul sa ofere performantele cele mai bune.
                    Asa ca am implementat comutatoare MUX pentru toate laptopurile ROG 2022. Pentru jocurile
                    competitive,
                    poti trece la un mod GPU direct care reduce latenta si creste performanta cu o medie de 15%.
                    Cresterea de performanta poate varia in functie de joc.
                </p>
                <h1><span>DOMINATIE IN JOCURI.</span></h1>
                <p>
                    Cele mai recente procesoare AMD Ryzen™ 9 6900HX imperecheate cu
                    placile video NVIDIA® 3080 Ti cu 150W max TGP si comutator MUX formeaza coloana vertebrala
                    a noului Strix G 2022. Memoria DDR5 de ultima generatie iti pastreaza procesorul la cel
                    mai bun nivel de performanta tot timpul, asigurand o experienta responsiva.
                    Suportul PCIe® 4.0 SSD inseamna ca nu va trebui sa astepti niciodata dupa incarcarea
                    fisierelor sau a jocurilor.
                </p>
                <h1><span>VENTILATOARE ARC FLOW™ IMBUNATATITE.</span></h1>
                <p>
                    Ventilatoarele Arc Flow™ actualizate au lame curbate special formate pentru a maximiza
                    fluxul de aer cu un zgomot minim. Grosimea variabila a lamelor reduce turbulentele,
                    deoarece paletele ventilatorului accelereaza aerul cu forta centrifuga, oferindu-ti o
                    experienta generala mai silentioasa. Imbunatatiri ale fluxului de aer in comparatie
                    cu designul ventilatorului ROG cu 71 de lame, asa cum a fost testat intern de ASUS.
                </p>
            </div>

            <input type="radio" name="box" id="box2">
            <label for="box2">Specificatii</label>
            <div class="box">
                <h1>Specificatii</h1>
            </div>

            <input type="radio" name="box" id="box3">
            <label for="box3">Recenzii</label>
            <div class="box">
                <h1>Recenzii</h1>
            </div>

            <input type="radio" name="box" id="box4">
            <label for="box4">Intrebari</label>
            <div class="box">
                <h1>Intrebari</h1>
            </div>

        </div>
    </div>