.container-product {
    width: 100%;
    /* border: 2px solid black; */
}

.column-product {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1500px;
    /* border: 2px solid black; */
}

.product {
    box-sizing: border-box;
    background: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.title h1 {
    font-size: 26px;
    line-height: 36px;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* display: grid;
    grid: auto / 1fr 1fr 1fr; */
}

/* ----------------------------------- */
.images {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 34%;
    /* border: 1px solid black; */
}

.images span {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    padding: 2px 8px;
    font-weight: bold;
    color: white;
    border-radius: 0 6px 6px 0;
    background: rgb(223, 33, 119);
    z-index: 1;
}

.body {
    display: flex;
    flex-direction: row;
    width: 66%;
}

.images img {
    width: 100%;
    box-sizing: border-box;
}

/* ----------------------------------- */
.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
    /* border: 1px solid black; */
}

.info a {
    display: block;
    color: rgb(223, 33, 119);
    font-size: 20px;
    margin: 30px 0 10px 0;
    text-decoration: none;
    /* border: 1px solid black; */
}

/* ----------------------------------- */
.order {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
    /* border: 1px solid black; */
}

.order h1 {
    color: rgb(223, 33, 119);
    font-size: 36px;
    margin: 0;
    text-align: left;
}

.tax {
    color: rgb(168, 168, 168);
}

.guaranty {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
}

.guaranty mat-icon {
    color: rgb(223, 33, 119);
    font-size: 30px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    /* border: 1px solid black; */
}

.guaranty p {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    color: rgb(104, 104, 104);
    /* border: 1px solid black; */
}

.order button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.add-btn {
    color: white;
    border: none;
    background: rgb(223, 33, 119);
}

.fav-btn {
    color: black;
    border: 2px solid rgb(232, 51, 133);
    background: none;
}

.add-btn:hover {
    background: rgb(193, 36, 107);
}

.fav-btn:hover {
    background: rgba(193, 36, 107, 0.1);
}

/* ===================================================== D E T A I L S */
.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 40px;
    width: 1500px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    order: 99;
    flex-grow: 1;
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box h1 {
    font-size: 16px;
}

.details>label {
    display: block;
    color: white;
    text-align: center;
    order: 1;
    font-size: 14px;
    padding: 6px 20px;
    margin-right: 4px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    background: rgb(220, 20, 110);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgb(0, 0, 0); */
}

.details>label:hover {
    color: black;
}

.details>input {
    display: none;
}

.details>input:checked+label {
    color: black;
    font-weight: bold;
    background: #fff;
}

.details>input:checked+label+.box {
    display: flex;
}

@media(max-width: 1530px) {
    .column-product {
        width: 1200px;
    }

    .details {
        margin-top: 40px;
        width: 1200px;
    }
}

@media(max-width: 1260px) {
    .column-product {
        width: 990px;
    }

    .details {
        margin-top: 30px;
        width: 980px;
    }
}

@media(max-width: 1020px) {
    .column-product {
        width: auto;
        margin: 0 10px;
    }

    .details {
        width: 100%;
    }
}

@media(max-width: 766px) {
    .images {
        width: 50%;
    }

    .body {
        width: 50%;
        flex-direction: column-reverse;
    }

    .info,
    .order {
        width: 100%;
        padding: 0;
    }
}

@media(max-width: 550px) {
    .title h1 {
        font-size: 18px;
        line-height: 24px;
    }

    .main {
        flex-direction: column;
    }

    .images,
    .body {
        width: 100%;
    }
    
    .images span {
        position: absolute;
        top: 0;
        left: 0;
    }

    .details {
        flex-direction: column;
        width: 350px;
        margin-top: 20px;
    }

    .details>label {
        margin: 0;
        margin-bottom: 4px;
    }

    form input {
        font-size: 14px;
        padding: 8px;
    }

    .details h1 {
        font-size: 18px;
    }
}

@media(max-width: 380px) {


    .details {
        width: 260px;
    }

    .details>label {
        font-size: 13px;
    }

    form input {
        font-size: 12px;
        padding: 6px;
    }

    .details h1 {
        font-size: 16px;
    }
}