.container-product {
    width: 100%;
    /* border: 2px solid black; */
}

.column-product {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1500px;
    /* border: 2px solid black; */
}

/* ===================================================== D E T A I L S */
.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    order: 99;
    flex-grow: 1;
    width: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
}

.box h1 {
    font-size: 16px;
}

.details>label {
    display: block;
    color: white;
    text-align: center;
    order: 1;
    font-size: 14px;
    padding: 6px 20px;
    margin-right: 4px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    background: rgb(220, 20, 110);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgb(0, 0, 0); */
}

.details>label:hover {
    color: black;
}

.details>input {
    display: none;
}

.details>input:checked+label {
    color: black;
    font-weight: bold;
    background: #fff;
}

.details>input:checked+label+.box {
    display: flex;
}

@media(max-width: 1530px) {
    .column-product {
        width: 1200px;
    }
}

@media(max-width: 1260px) {
    .column-product {
        width: 990px;
    }
}

@media(max-width: 1020px) {
    .column-product {
        width: auto;
        margin: 0 10px;
    }
}

@media(max-width: 766px) {
    
}

@media(max-width: 550px) {
    .details {
        flex-direction: column;
    }

    .details>label {
        margin: 0;
        margin-bottom: 4px;
    }

    form input {
        font-size: 14px;
        padding: 8px;
    }

    .details h1 {
        font-size: 18px;
    }
}
