<div class="container-cart">
  <div class="content-cart">

    <div class="empty" *ngIf="isCartEmpty()">
      <h1>"Cosul este gol"</h1>
    </div>

    <div class="header" *ngIf="!isCartEmpty()">
      <h1>Cosul meu de cumparaturi:</h1>
      <p>Livrare: 1-5 zile lucratoare</p>
    </div>

    <div class="body" *ngIf="!isCartEmpty()">
      <table class="cart">
        <tr *ngFor="let cartItem of cart.items;">
          <td class="image">
            <a [routerLink]="'/p/'+cartItem.product.department.toLowerCase()
                              +'/'+cartItem.product.type.toLowerCase()
                              +'/'+cartItem.product.category.toLowerCase()
                              +'/'+cartItem.product.linkName">
              <img [src]="cartItem.product.image" [alt]="cartItem.product.name">
            </a>
          </td>
          <td class="description">
            <a [routerLink]="'/p/'+cartItem.product.department.toLowerCase()
                              +'/'+cartItem.product.type.toLowerCase()
                              +'/'+cartItem.product.category.toLowerCase()
                              +'/'+cartItem.product.linkName">
              {{cartItem.product.description}}
            </a>
          </td>
          <td class="quantity">
            <div>
              <mat-icon (click)="decrease(cartItem)">remove</mat-icon>
              <span class="value">{{cartItem.quantity}}</span>
              <mat-icon (click)="increase(cartItem)">add</mat-icon>
            </div>
          </td>
          <td class="price">
            {{cartItem.price | number: '1.2-2'}} Lei
          </td>
          <td>
            <button class="btn-remove" (click)="removeFromCart(cartItem)">
              Sterge
            </button>
          </td>
        </tr>
      </table>


      <table class="total">
        <tr>
          <th colspan="2">
            <h3>Total cos:</h3>
          </th>
        </tr>

        <tr>
          <td><strong>Subtotal: </strong></td>
          <td>{{cart.subtotal | number: '1.2-2'}} lei</td>
        </tr>

        <tr>
          <td><strong>Livrare: </strong></td>
          <td>
            <div class="radio">
              <input type="radio" id="delivery" [value]="delivery" [(ngModel)]="order.favoriteDelivery"
                (change)="deliveryOption()">
              <label for="delivery">Livrare</label>
              <strong>: &nbsp; {{delivery}} lei</strong>
            </div>
            <div class="radio">
              <input type="radio" id="pickUp" [value]="pickUp" [(ngModel)]="order.favoriteDelivery"
                (change)="deliveryOption()">
              <label for="pickUp">Ridicare</label>
              <strong>: &nbsp; {{pickUp}} lei</strong>
            </div>
          </td>
        </tr>

        <tr>
          <td><strong>Total: </strong></td>
          <td>{{(cart.subtotal + order.favoriteDelivery) | number: '1.2-2'}} lei</td>
        </tr>

        <tr>
          <th class="last" colspan="2">
            <button class="btn-proceed" routerLink="/cart/order">Continua</button>
          </th>
        </tr>
      </table>
    </div>

  </div>
</div>

<app-footer></app-footer>