.container-cart {
  width: 100%;
  cursor: default;
  /* margin: 10px; */
  /* border: 2px solid rgb(0, 0, 0); */
}

.content-cart {
  width: 1500px;
  min-height: 70vh;
  margin: auto;
  /* border: 2px solid rgb(0, 0, 0); */
}

/* e m p t y - c a r t */
.empty {
  padding: 10px 0;
  color: rgb(220, 20, 110);
}

.empty h1 {
  width: fit-content;
  margin: auto;
}

/* h e a d e r =========================================== */
.header {
  width: 100%;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
}

.header h1 {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid rgb(220, 20, 110);
  /* border: 1px solid red; */
}


.header p {
  padding: 14px 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  /* border: 1px solid red; */
}

/* b o d y ================================================ */
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
}

/* cart ----------------------------------- */
.cart {
  width: 75%;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
}

table {
  border-collapse: collapse;
}

tr {
  font-size: 18px;
  border-bottom: 1px solid rgb(164, 164, 164);
  /* table{border-collapse: collapse;} */
}

td,
th {
  padding: 30px 20px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

img {
  width: 100px;
  border-radius: 4px;
  cursor: pointer;

}

img:hover {
  transform: scale(1.02, 1.02);
}

.description {
  font-size: 16px;
  line-height: 20px;
}

.description a:hover {
  color: rgb(220, 20, 110);
}

.quantity div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid red;
}

mat-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  color: white;
  cursor: pointer;
  background: rgb(220, 20, 110);
}

mat-icon:hover {
  background: rgb(189, 1, 85);
}

.value {
  margin: 0 10px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: rgb(220, 20, 110);
  white-space: nowrap;
}

.btn-remove {
  color: white;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(223, 33, 119);
}

button:hover {
  transition: 0.2s;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.2);
  background: rgb(189, 1, 85);
}

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  /* border: 1px solid rgb(0, 0, 0); */
}

/* total -------------------------------------- */
.total {
  width: 25%;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
}

.total td,
.total th {
  font-size: 16px;
  width: 200px;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.index {
  background: rgb(236, 236, 236);
}

.checkout a {
  margin: 10px;
  padding: 16px;
  color: white;
  background: #2ebc4b;
  display: block;
  width: 300px;
  border-radius: 4px;
  border: 2px solid grey;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
}

.last {
  width: 100%;
  /* border: 2px solid black; */
}

.btn-proceed {
  width: 100%;
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(79, 190, 4);
}

.btn-proceed:hover {
  color: black;
  box-shadow: 1px 1px 4px;
}

.radio {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 0;
}

.radio input {
  margin: 0px;
}

.radio label {
  margin-left: 10px;
}

@media (max-width: 1600px) {
  .content-cart {
    width: 1200px;
  }
}

@media (max-width: 1280px) {
  .content-cart {
    width: 980px;
  }

  .row-cart th {
    font-size: 16px;
  }

  h3 {
    font-size: 24px;
  }

  .name {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 1040px) {
  .row-cart {
    display: none;
  }

  h3 {
    font-size: 22px;
  }

  .column-cart {
    display: block;
    max-width: 480px;
    margin: auto;
  }

  .column-cart tr {
    font-size: 16px;
    line-height: 20px;
  }

  .checkout {
    margin: 20px auto;
    max-width: 480px;
  }

}

@media (max-width: 550px) {
  h3 {
    font-size: 18px;
    margin: 6px 0;
  }

  td,
  th {
    padding: 10px;
  }

  .total td,
  .total th {
    font-size: 14px;
    width: 20px;
  }

  .column-cart tr {
    font-size: 14px;
    line-height: 16px;
  }

  .column-cart {
    max-width: 300px;
    margin: auto;
  }

  select {
    width: 40px;
    font-size: 12px;
  }

  .btn-remove {
    font-size: 14px;
    padding: 6px 16px;
  }

  .total {
    margin: auto;
    width: 300px;
  }

  .btn-proceed {
    font-size: 14px;
    padding: 10px 16px;
  }
}