<div class="container-cart">
  <div class="content-cart">

    <div class="empty" *ngIf="isCartEmpty()">
      <h1>"Cosul este gol"</h1>
    </div>

    <div class="header" *ngIf="!isCartEmpty()">
      <h1>Cosul meu de cumparaturi:</h1>
      <p>Livrare: 1-5 zile lucratoare</p>
    </div>

    <div class="main" *ngIf="!isCartEmpty()">
      <table class="cart">
        <tr *ngFor="let cartItem of cart.items;">
          <td class="image">
            <a [routerLink]="'/p/'+cartItem.product.department.toLowerCase()
                                +'/'+cartItem.product.type.toLowerCase()
                                +'/'+cartItem.product.category.toLowerCase()
                                +'/'+cartItem.product.linkName">
              <img [src]="cartItem.product.image" [alt]="cartItem.product.name">
            </a>
          </td>
          <td colspan="4" class="description">
            <a [routerLink]="'/p/'+cartItem.product.department.toLowerCase()
                                +'/'+cartItem.product.type.toLowerCase()
                                +'/'+cartItem.product.category.toLowerCase()
                                +'/'+cartItem.product.linkName">
              {{cartItem.product.description}}
            </a>
          </td>
          <td class="quantity">
            <div>
              <mat-icon (click)="decrease(cartItem)">remove</mat-icon>
              <label>{{cartItem.quantity}}</label>
              <mat-icon (click)="increase(cartItem)">add</mat-icon>
            </div>
          </td>
          <td class="price">
            {{cartItem.price | number: '1.2-2'}} Lei
          </td>
          <td class="remove">
            <mat-icon (click)="removeFromCart(cartItem)">close</mat-icon>
          </td>
        </tr>
      </table>

      <table class="sum">
        <tr class="title">
          <td colspan="2">
            <h1>Sumar comanda</h1>
          </td>
        </tr>

        <tr class="subtotal">
          <td>Subtotal: </td>
          <td class="right">{{cart.subtotal | number: '1.2-2'}} lei</td>
        </tr>

        <tr class="livration">
          <td>Taxa livrare: </td>
          <td class="right" *ngIf="cart.subtotal>=200" style="color: rgb(0, 164, 0);"><strong>Gratuit</strong></td>
          <td class="right" *ngIf="cart.subtotal<200">{{delivery | number: '1.2-2'}} lei</td>
        </tr>
        <tr class="line">
          <td colspan="2"></td>
        </tr>
        <tr class="total">
          <th><strong>Total: </strong></th>
          <td><strong>{{(cart.subtotal + order.favoriteDelivery) | number: '1.2-2'}} lei</strong></td>
        </tr>

        <tr class="proceed">
          <td colspan="2">
            <button class="btn-proceed" routerLink="/cart/order">Continua</button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<app-footer></app-footer>

<!-- <table>
  <td>
    <div class="radio">

      <input type="radio" id="delivery" [value]="delivery" [(ngModel)]="order.favoriteDelivery"
        (change)="deliveryOption()">

      <label for="delivery">Livrare</label>

      <strong>: &nbsp; {{delivery}} lei</strong>

    </div>

    <div class="radio">

      <input type="radio" id="pickUp" [value]="pickUp" [(ngModel)]="order.favoriteDelivery" (change)="deliveryOption()">
      
      <label for="pickUp">Ridicare</label>

      <strong>: &nbsp; {{pickUp}} lei</strong>
      
    </div>
  </td>
</table> -->