<owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging">

    <ng-container *ngFor="let productImage of productImages">

        <ng-template carouselSlide>

            <div class="card">

                <a [ngClass]="{'active' : productImage===currentSelectedObject}"
                    (mouseover)="sendCurrentImage(productImage)">

                    <img [src]="productImage.image">
                    
                </a>
            </div>

        </ng-template>

    </ng-container>

</owl-carousel-o>