.content401 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin: 50px auto;
  padding: 50px 10px;
  border: 3px solid red;
}

span {
  font-size: 40px;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: red;
}

a {
  font-size: 20px;
}

@media(max-width: 360px) {
  .my-content {
    padding: 0 10px;
  }

  .content401 {
    width: 100%;
  }
}