<div class="product">

    <div class="title">
        <h1>{{product.description}}</h1>
    </div>

    <div class="main">
        <div class="images">
            <span
                [ngStyle]="{'background':product.badge==badge.TOP_FAVORITE ?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                {{product.badge==badge.TOP_FAVORITE?badge.TOP_FAVORITE:badge.SUPER_PRICE}}
            </span>

            <div class="fav-comp">
                <mat-icon [ngStyle]="{color: product.favorite ? 'rgb(220, 20, 110)' : 'grey'}"
                    (click)="handleFavorites(product)">
                    {{product.favorite ? 'favorite' : 'favorite_border'}}
                </mat-icon>
                <mat-icon [ngStyle]="{color: product.compare ? 'rgb(220, 20, 110)' : 'grey'}"
                    (click)="handleCompares(product)">
                    {{product.compare ? 'check_box' : 'check_box_outline_blank'}}
                </mat-icon>
            </div>

            <img [src]="currentImage">

            <app-carousel-gallery [productImages]="productImages" (indexEvent)="receiveCurrentImage($event)">
            </app-carousel-gallery>
        </div>

        <div class="body">
            <div class="info">
                <div>
                    <div class="finance">
                        <h2><strong>Finantare</strong></h2>
                        <a routerLink="/electro-card">
                            <p>(Electro-Card)</p>
                        </a>
                    </div>
                    <p>
                        <strong>PROMO: </strong>
                        Ai dobanda de la 1%/luna prin CREDIT ONLINE incepand cu 100 lei/luna.
                    </p>
                </div>
                <div>
                    <h2><strong>Beneficii</strong></h2>
                    <p>- garantie inclusa.</p>
                    <p>- deschiderea coletului la livrare.</p>
                    <p>- 30 zile drept de retur.</p>
                </div>
                <div>
                    <h2><strong>Extra Garantie</strong></h2>
                    <p><strong>1 an: </strong>&nbsp;{{product.price/30 | number: '1.2-2'}} lei</p>
                    <p><strong>2 ani: </strong>&nbsp;{{product.price/26 | number: '1.2-2'}} lei</p>
                </div>
            </div>

            <div class="order">
                <h1><strong>{{product.price}} Lei</strong></h1>
                <p class="tax">Include taxa verde.</p>

                <p [ngStyle]="{color: product.available==available.STOCK ? 'rgb(0, 184, 0)' : 'grey'}">
                    {{product.available}}
                </p>

                <div class="guaranty">
                    <mat-icon> star_border</mat-icon>
                    <p>Garantie comerciala (persoane juridice): 24 luni.</p>
                </div>
                <div class="guaranty">
                    <mat-icon> star_border</mat-icon>
                    <p>Garantie de conformitate (persoane fizice): 24 luni.</p>
                </div>

                <button class="add-btn" (click)="addToCart()">Adauga in cos</button>
            </div>
        </div>

    </div>

</div>