<app-breadcrumb></app-breadcrumb>

<div class="container-lap">
    <div class="column-lap">

        <div style="width: 100%" *ngIf="!notFoundProduct">
            <h1>NOT FOUND PRODUCTS</h1>
        </div>

        <div class="row-lap" *ngIf="notFoundProduct">
            <!-- f i l t e r s ==================================================================================== -->
            <div class="filters-lap">
                <!-- available filter ----------------------------------------------------------- -->
                <div class="available">
                    <h3><strong>Disponibilitate</strong></h3>

                    <div class="filter-group" *ngIf="stock_count">
                        <input type="checkbox" id="1" name="STOCK" value="AVAILABLE" [(ngModel)]="stock_chk"
                            (change)="onClick($event)">
                        <label for="1"> In Stoc ({{stock_count}})</label>
                    </div>

                    <div class="filter-group" *ngIf="deposit_count">
                        <input type="checkbox" id="2" name="DEPOSIT" value="AVAILABLE" [(ngModel)]="deposit_chk"
                            (change)="onClick($event)">
                        <label for="2"> In Depozit ({{deposit_count}})</label>
                    </div>
                </div>

                <!-- price filter ---------------------------------------------------------------- -->
                <div class="price">
                    <h3><strong>Pret</strong></h3>

                    <div *ngIf="currentLevel==='laptops'">
                        <div class="filter-group" *ngIf="under1000_count">
                            <input type="checkbox" id="11" name="UNDER1000" value="PRICE" [(ngModel)]="under1000_chk"
                                (change)="onClick($event)">
                            <label for="11">Sub 1000 ({{under1000_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="under2000_count">
                            <input type="checkbox" id="12" name="UNDER2000" value="PRICE" [(ngModel)]="under2000_chk"
                                (change)="onClick($event)">
                            <label for="12">1000 - 2000 ({{under2000_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="under3000_count">
                            <input type="checkbox" id="13" name="UNDER3000" value="PRICE" [(ngModel)]="under3000_chk"
                                (change)="onClick($event)">
                            <label for="13">2000 - 3000 ({{under3000_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="under4000_count">
                            <input type="checkbox" id="14" name="UNDER4000" value="PRICE" [(ngModel)]="under4000_chk"
                                (change)="onClick($event)">
                            <label for="14">3000 - 4000 ({{under4000_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="over4000_count">
                            <input type="checkbox" id="15" name="OVER4000" value="PRICE" [(ngModel)]="over4000_chk"
                                (change)="onClick($event)">
                            <label for="15">Peste 4000 ({{over4000_count}})</label>
                        </div>
                    </div>

                    <div *ngIf="currentLevel==='laptop-accessory'">
                        <div class="filter-group" *ngIf="under100_count">
                            <input type="checkbox" id="16" name="UNDER100" value="PRICE" [(ngModel)]="under100_chk"
                                (change)="onClick($event)">
                            <label for="16">Sub 100 ({{under100_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="under200_count">
                            <input type="checkbox" id="17" name="UNDER200" value="PRICE" [(ngModel)]="under200_chk"
                                (change)="onClick($event)">
                            <label for="17">100 - 200 ({{under200_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="under300_count">
                            <input type="checkbox" id="18" name="UNDER300" value="PRICE" [(ngModel)]="under300_chk"
                                (change)="onClick($event)">
                            <label for="18">200 - 300 ({{under300_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="over300_count">
                            <input type="checkbox" id="19" name="OVER300" value="PRICE" [(ngModel)]="over300_chk"
                                (change)="onClick($event)">
                            <label for="19">Peste 100 ({{over300_count}})</label>
                        </div>
                    </div>
                </div>

                <!-- brand filter --------------------------------------------------------------- -->
                <div class="brand">
                    <h3><strong>Brand</strong></h3>
                    <!-- 0 - 10 -->
                    <div class="filter-group" *ngIf="acer_count">
                        <input type="checkbox" id="21" name="ACER" value="BRAND" [(ngModel)]="acer_chk"
                            (change)="onClick($event)">
                        <label for="21">ACER ({{acer_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="adata_count">
                        <input type="checkbox" id="22" name="ADATA" value="BRAND" [(ngModel)]="adata_chk"
                            (change)="onClick($event)">
                        <label for="22">ADATA ({{adata_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="allview_count">
                        <input type="checkbox" id="23" name="ALLVIEW" value="BRAND" [(ngModel)]="allview_chk"
                            (change)="onClick($event)">
                        <label for="23">ALLVIEW ({{allview_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="apple_count">
                        <input type="checkbox" id="24" name="APPLE" value="BRAND" [(ngModel)]="apple_chk"
                            (change)="onClick($event)">
                        <label for="24">APPLE ({{apple_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="asus_count">
                        <input type="checkbox" id="25" name="ASUS" value="BRAND" [(ngModel)]="asus_chk"
                            (change)="onClick($event)">
                        <label for="25">ASUS ({{asus_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="dell_count">
                        <input type="checkbox" id="26" name="DELL" value="BRAND" [(ngModel)]="dell_chk"
                            (change)="onClick($event)">
                        <label for="26">DELL ({{dell_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="hama_count">
                        <input type="checkbox" id="27" name="HAMA" value="BRAND" [(ngModel)]="hama_chk"
                            (change)="onClick($event)">
                        <label for="27">HAMA ({{hama_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="hp_count">
                        <input type="checkbox" id="28" name="HP" value="BRAND" [(ngModel)]="hp_chk"
                            (change)="onClick($event)">
                        <label for="28">HP ({{hp_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="iphone_count">
                        <input type="checkbox" id="29" name="IPHONE" value="BRAND" [(ngModel)]="iphone_chk"
                            (change)="onClick($event)">
                        <label for="29">IPHONE ({{iphone_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="lenovo_count">
                        <input type="checkbox" id="30" name="LENOVO" value="BRAND" [(ngModel)]="lenovo_chk"
                            (change)="onClick($event)">
                        <label for="30">LENOVO ({{lenovo_count}})</label>
                    </div>
                    <!-- 10 - 20 -->
                    <div class="filter-group" *ngIf="kingston_count">
                        <input type="checkbox" id="31" name="KINGSTON" value="BRAND" [(ngModel)]="kingston_chk"
                            (change)="onClick($event)">
                        <label for="31">KINGSTON ({{kingston_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="promate_count">
                        <input type="checkbox" id="32" name="PROMATE" value="BRAND" [(ngModel)]="promate_chk"
                            (change)="onClick($event)">
                        <label for="32">PROMATE ({{promate_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="rivacase_count">
                        <input type="checkbox" id="33" name="RIVACASE" value="BRAND" [(ngModel)]="rivacase_chk"
                            (change)="onClick($event)">
                        <label for="33">RIVACASE ({{rivacase_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="samsonite_count">
                        <input type="checkbox" id="34" name="SAMSONITE" value="BRAND" [(ngModel)]="samsonite_chk"
                            (change)="onClick($event)">
                        <label for="34">SAMSONITE ({{samsonite_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="samsung_count">
                        <input type="checkbox" id="35" name="SAMSUNG" value="BRAND" [(ngModel)]="samsung_chk"
                            (change)="onClick($event)">
                        <label for="35">SAMSUNG ({{samsung_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="sandisk_count">
                        <input type="checkbox" id="36" name="SANDISK" value="BRAND" [(ngModel)]="sandisk_chk"
                            (change)="onClick($event)">
                        <label for="36">SANDISK ({{sandisk_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="seagate_count">
                        <input type="checkbox" id="37" name="SEAGATE" value="BRAND" [(ngModel)]="seagate_chk"
                            (change)="onClick($event)">
                        <label for="37">SEAGATE ({{seagate_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="tumi_count">
                        <input type="checkbox" id="38" name="TUMI" value="BRAND" [(ngModel)]="tumi_chk"
                            (change)="onClick($event)">
                        <label for="38">TUMI ({{tumi_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="wd_count">
                        <input type="checkbox" id="39" name="WD" value="BRAND" [(ngModel)]="wd_chk"
                            (change)="onClick($event)">
                        <label for="39">WD ({{wd_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="xtorm_count">
                        <input type="checkbox" id="40" name="XTORM" value="BRAND" [(ngModel)]="xtorm_chk"
                            (change)="onClick($event)">
                        <label for="40">XTORM ({{xtorm_count}})</label>
                    </div>
                </div>

                <!-- category filter ----------------------------------------------------------- -->
                <div class="category">
                    <h3><strong>Categorie</strong></h3>

                    <div *ngIf="currentType=='laptop'">
                        <div class="filter-group" *ngIf="business_count">
                            <input type="checkbox" id="51" name="LAPTOP_BUSINESS" value="CATEGORY"
                                [(ngModel)]="business_chk" (change)="onClick($event)">
                            <label for="51">Business ({{business_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="gaming_count">
                            <input type="checkbox" id="52" name="LAPTOP_GAMING" value="CATEGORY"
                                [(ngModel)]="gaming_chk" (change)="onClick($event)">
                            <label for="52">Gaming ({{gaming_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="home_count">
                            <input type="checkbox" id="53" name="LAPTOP_HOME" value="CATEGORY" [(ngModel)]="home_chk"
                                (change)="onClick($event)">
                            <label for="53">Home ({{home_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="ultra_count">
                            <input type="checkbox" id="54" name="LAPTOP_ULTRA" value="CATEGORY" [(ngModel)]="ultra_chk"
                                (change)="onClick($event)">
                            <label for="54">Ultraportabil ({{ultra_count}})</label>
                        </div>
                    </div>

                    <div>
                        <div class="filter-group" *ngIf="briefcase_count">
                            <input type="checkbox" id="61" name="BRIEFCASE" value="CATEGORY" [(ngModel)]="briefcase_chk"
                                (change)="onClick($event)">
                            <label for="61">BRIEFCASE ({{briefcase_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="sleeve_count">
                            <input type="checkbox" id="62" name="SLEEVE" value="CATEGORY" [(ngModel)]="sleeve_chk"
                                (change)="onClick($event)">
                            <label for="62">SLEEVE ({{sleeve_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="backpack_count">
                            <input type="checkbox" id="63" name="BACKPACK" value="CATEGORY" [(ngModel)]="backpack_chk"
                                (change)="onClick($event)">
                            <label for="63">BACKPACK ({{backpack_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="plug_in_count">
                            <input type="checkbox" id="64" name="PLUG_IN" value="CATEGORY" [(ngModel)]="plug_in_chk"
                                (change)="onClick($event)">
                            <label for="64">PLUG_IN ({{plug_in_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="car_count">
                            <input type="checkbox" id="65" name="CAR" value="CATEGORY" [(ngModel)]="car_chk"
                                (change)="onClick($event)">
                            <label for="65">CAR ({{car_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="hdd_count">
                            <input type="checkbox" id="66" name="HDD" value="CATEGORY" [(ngModel)]="hdd_chk"
                                (change)="onClick($event)">
                            <label for="66">HDD ({{hdd_count}})</label>
                        </div>
                        <div class="filter-group" *ngIf="ssd_count">
                            <input type="checkbox" id="67" name="SSD" value="CATEGORY" [(ngModel)]="ssd_chk"
                                (change)="onClick($event)">
                            <label for="67">SSD ({{ssd_count}})</label>
                        </div>

                    </div>
                </div>
            </div>

            <!-- p r o d u c t s ==================================================================================== -->
            <div class="products">

                <div class="products-header">
                    <h1>{{currentType}}</h1>

                    <div class="filters">
                        <div class="filterName">
                            <label *ngFor="let item of filterNames" (click)="filters_close(item)">
                                {{item.name.toLowerCase()}}
                                <mat-icon>close</mat-icon>
                            </label>
                            <h4 *ngIf="filterNames.length" (click)="filters_close_all()">
                                <strong>sterge tot</strong>
                            </h4>
                        </div>
                    </div>

                    <div class="categorySelect">
                        <label for="categorySelect">Sorteaza dupa: </label>
                        <select name="categorySelect" [(ngModel)]="products_sorting">
                            <option value="name" (click)="name_alphabetic()">Nume</option>
                            <option value="lowToHigh" (click)="price_ascending()">Pret crescator</option>
                            <option value="highToLow" (click)="price_descending()">Pret descrescator</option>
                            <option value="bestSold" (click)="sold()">Cele mai vandute</option>
                        </select>
                    </div>
                </div>

                <div class="cards-container">
                    <div class="card" *ngFor="let item of products;">

                        <mat-icon class="favorite_boder" *ngIf="!item.favorite" (click)="handleFavorite(item)">
                            favorite_border
                        </mat-icon>
                        <mat-icon class="favorite" *ngIf="item.favorite" (click)="handleFavorite(item)">favorite
                        </mat-icon>

                        <a [routerLink]="item.linkName">
                            <img [src]="item.image" [alt]="item.image" />
                            <span style="background: rgb(0, 154, 230)">
                                {{item.badge === "TOP_FAVORITE" ? "Top Favorit" : ""}}
                            </span>
                            <span style="background: rgb(220, 20, 110)">
                                {{item.badge === "SUPER_PRICE" ? "Super Pret" : ""}}
                            </span>
                            <h4><strong>{{item.description}}</strong></h4>
                        </a>
                        <p class="avail stock" *ngIf="item.available==='STOCK'">in stoc</p>
                        <p class="avail deposit" *ngIf="item.available==='DEPOSIT'">in depozitul central</p>
                        <p class="val"><strong>{{item.price}} Lei</strong></p>
                        <button (click)="addToCart(item)">Adauga in cos</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>