<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container-lap">
    <div class="column-lap">

        <div class="breadcrumb">
            <breadcrumb [currentLevelCrumb]="currentLevel" [currentTypeCrumb]="currentType">
            </breadcrumb>
        </div>

        <div style="width: 100%" *ngIf="!notFoundProduct">
            <h1>NOT FOUND PRODUCTS</h1>
        </div>

        <div class="row-lap" *ngIf="notFoundProduct">
            <!-- f i l t e r s ==================================================================================== -->
            <div class="filters-lap">
                <!-- available filter ----------------------------------------------------------- -->
                <div class="available">
                    <h3><strong>Disponibilitate ({{available_chk}})</strong></h3>
                    <div class="filter-group" *ngIf="stock_count">
                        <input type="checkbox" id="1" name="STOCK" value="AVAILABLE" [(ngModel)]="stock_chk"
                            (change)="onClick($event)">
                        <label for="1"> In Stoc ({{stock_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="deposit_count">
                        <input type="checkbox" id="2" name="DEPOSIT" value="AVAILABLE" [(ngModel)]="deposit_chk"
                            (change)="onClick($event)">
                        <label for="2"> In Depozit ({{deposit_count}})</label>
                    </div>
                </div>

                <!-- price filter ---------------------------------------------------------------- -->
                <div class="price">
                    <h3><strong>Pret ({{price_chk}})</strong></h3>
                    <div class="filter-group" *ngIf="under1000_count">
                        <input type="checkbox" id="11" name="UNDER1000" value="PRICE" [(ngModel)]="under1000_chk"
                            (change)="onClick($event)">
                        <label for="11">Sub 1000 ({{under1000_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under2000_count">
                        <input type="checkbox" id="12" name="UNDER2000" value="PRICE" [(ngModel)]="under2000_chk"
                            (change)="onClick($event)">
                        <label for="12">1000 - 2000 ({{under2000_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under3000_count">
                        <input type="checkbox" id="13" name="UNDER3000" value="PRICE" [(ngModel)]="under3000_chk"
                            (change)="onClick($event)">
                        <label for="13">2000 - 3000 ({{under3000_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under4000_count">
                        <input type="checkbox" id="14" name="UNDER4000" value="PRICE" [(ngModel)]="under4000_chk"
                            (change)="onClick($event)">
                        <label for="14">3000 - 4000 ({{under4000_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="over4000_count">
                        <input type="checkbox" id="15" name="OVER4000" value="PRICE" [(ngModel)]="over4000_chk"
                            (change)="onClick($event)">
                        <label for="15">Peste 4000 ({{over4000_count}})</label>
                    </div>
                </div>

                <!-- brand filter --------------------------------------------------------------- -->
                <div class="brand">
                    <h3><strong>Brand ({{brand_chk}})</strong></h3>
                    <div class="filter-group" *ngIf="asus_count">
                        <input type="checkbox" id="21" name="ASUS" value="BRAND" [(ngModel)]="asus_chk"
                            (change)="onClick($event)">
                        <label for="21">ASUS ({{asus_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="hp_count">
                        <input type="checkbox" id="22" name="HP" value="BRAND" [(ngModel)]="hp_chk"
                            (change)="onClick($event)">
                        <label for="22">HP ({{hp_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="acer_count">
                        <input type="checkbox" id="23" name="ACER" value="BRAND" [(ngModel)]="acer_chk"
                            (change)="onClick($event)">
                        <label for="23">ACER ({{acer_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="lenovo_count">
                        <input type="checkbox" id="24" name="LENOVO" value="BRAND" [(ngModel)]="lenovo_chk"
                            (change)="onClick($event)">
                        <label for="24">LENOVO ({{lenovo_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="apple_count">
                        <input type="checkbox" id="25" name="APPLE" value="BRAND" [(ngModel)]="apple_chk"
                            (change)="onClick($event)">
                        <label for="25">APPLE ({{apple_count}})</label>
                    </div>
                </div>

                <!-- category filter ----------------------------------------------------------- -->
                <div class="category">
                    <h3><strong>Categorie</strong></h3>
                    <div class="filter-group" *ngIf="business_count">
                        <input type="checkbox" id="31" name="LAPTOP_BUSINESS" value="CATEGORY"
                            [(ngModel)]="business_chk" (change)="onClick($event)">
                        <label for="31"> Business ({{business_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="gaming_count">
                        <input type="checkbox" id="32" name="LAPTOP_GAMING" value="CATEGORY" [(ngModel)]="gaming_chk"
                            (change)="onClick($event)">
                        <label for="32"> Gaming ({{gaming_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="home_count">
                        <input type="checkbox" id="33" name="LAPTOP_HOME" value="CATEGORY" [(ngModel)]="home_chk"
                            (change)="onClick($event)">
                        <label for="33"> Home ({{home_count}})</label>
                    </div>
                    <div class="filter-group" *ngIf="ultra_count">
                        <input type="checkbox" id="34" name="LAPTOP_ULTRA" value="CATEGORY" [(ngModel)]="ultra_chk"
                            (change)="onClick($event)">
                        <label for="34"> Ultraportabil ({{ultra_count}})</label>
                    </div>
                </div>
            </div>

            <!-- p r o d u c t s ==================================================================================== -->
            <div class="products">

                <div class="products-header">
                    <h1>{{currentType}}</h1>

                    <div class="filters">
                        <div class="filterName">
                            <label *ngFor="let item of filterNames" (click)="filters_close(item)">
                                {{item.name.toLowerCase()}}
                                <mat-icon>close</mat-icon>
                            </label>
                            <h4 *ngIf="filterNames.length" (click)="filters_close_all()">
                                <strong>sterge tot</strong>
                            </h4>
                        </div>
                    </div>

                    <div class="categorySelect">
                        <label for="categorySelect">Sorteaza dupa: </label>
                        <select name="categorySelect" [(ngModel)]="products_sorting">
                            <option value="name" (click)="name_alphabetic()">Nume</option>
                            <option value="lowToHigh" (click)="price_ascending()">Pret crescator</option>
                            <option value="highToLow" (click)="price_descending()">Pret descrescator</option>
                            <option value="bestSold" (click)="sold()">Cele mai vandute</option>
                        </select>
                    </div>
                </div>

                <div class="cards-container">
                    <div class="card" *ngFor="let item of products;">

                        <mat-icon class="favorite_boder" *ngIf="!favorite" (click)="addToFavorite(item)">
                            favorite_border</mat-icon>
                        <mat-icon class="favorite" *ngIf="favorite" (click)="addToFavorite(item)">favorite
                        </mat-icon>

                        <a [routerLink]="item.linkName">
                            <img [src]="item.image" [alt]="item.alt" />
                            <span style="background: rgb(0, 154, 230)">
                                {{item.badge === "TOP_FAVORITE" ? "Top Favorit" : ""}}
                            </span>
                            <span style="background: rgb(220, 20, 110)">
                                {{item.badge === "SUPER_PRICE" ? "Super Pret" : ""}}
                            </span>
                            <h4><strong>{{item.description}}</strong></h4>
                        </a>
                        <p class="avail stock" *ngIf="item.available==='STOCK'">in stoc</p>
                        <p class="avail deposit" *ngIf="item.available==='DEPOSIT'">in depozitul central</p>
                        <p class="val"><strong>{{item.price}} Lei</strong></p>
                        <button (click)="addToCart(item)">Adauga in cos</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>