<!-- <div class="container md:pt-2"> -->
    <div class="flex -mx-15px -md:mx-4 flex-wrap">
        <a class="border-r md:border-r-0 p-4 w-1/2 md:py-0 md:w-1/4 border-gray-400 border-b md:border-b-0 text-center"
            href="/termeni-conditii-livrare/pag/">
            <img src="https://lcdn.altex.ro/render/static/altex/images/services/transport_pana_la_usa.svg"
                class="w-1/2 sm:w-auto mb-3 mx-auto">
            <span
                class="text-13px md:text-base leading-extra-tight md:leading-tight inline-block w-full md:w-auto lg:mx-6 align-top">Transport
                la orice produs
            </span>
        </a>
        <a class="has-devider relative p-4 w-1/2 md:py-0 md:w-1/4 border-gray-400 border-b md:border-b-0 text-center"
            href="/renuntarea-cumparare/pag/">
            <img src="https://lcdn.altex.ro/render/static/altex/images/services/retur_in_30_de_zile.svg"
                class="w-1/2 sm:w-auto mb-3 mx-auto">
            <span
                class="text-13px md:text-base leading-extra-tight md:leading-tight inline-block w-full md:w-auto lg:mx-6 align-top">Te-ai
                razgandit? Poti returna produsul in 14 zile
            </span>
        </a>
        <a class="has-devider relative border-r md:border-r-0 p-4 w-1/2 md:py-0 md:w-1/4 border-gray-400 border-b md:border-b-0 text-center"
            href="/altex-dublul-diferentei-online/pag/">
            <img src="https://lcdn.altex.ro/render/static/altex/images/services/2x_diferenta.svg"
                class="w-1/2 sm:w-auto mb-3 mx-auto">
            <span
                class="text-13px md:text-base leading-extra-tight md:leading-tight inline-block w-full md:w-auto lg:mx-6 align-top">Primesti
                de 2 ori diferenta la orice produs
            </span>
        </a>
        <a class="has-devider relative p-4 w-1/2 md:py-0 md:w-1/4 border-gray-400 border-b md:border-b-0 text-center"
            href="/extragarantie/pag/">
            <img src="https://lcdn.altex.ro/render/static/altex/images/services/protejeaza_investitia.svg"
                class="w-1/2 sm:w-auto mb-3 mx-auto">
            <span
                class="text-13px md:text-base leading-extra-tight md:leading-tight inline-block w-full md:w-auto lg:mx-6 align-top">Protejeaza-ti
                investitia cu extragarantie.
            </span>
        </a>
    </div>
<!-- </div> -->