<div class="favorite">

    <div class="favorite-items">
        <table>
            <tr *ngFor="let product of favorites">
                <td>
                    <a [routerLink]="'/p/'+product.department.toLowerCase()
                                    +'/'+product.type.toLowerCase()
                                    +'/'+product.category.toLowerCase()
                                    +'/'+product.linkName">
                        <img src={{product.image}}>
                    </a>
                </td>
                <td class="name">
                    <a [routerLink]="'/p/'+product.department.toLowerCase()
                                    +'/'+product.type.toLowerCase()
                                    +'/'+product.category.toLowerCase()
                                    +'/'+product.linkName">
                        <span>{{product.name}}</span>
                    </a>
                </td>
                <td class="price">{{product.price}} Lei</td>
                <td>
                    <mat-icon (click)="removeFromFavorites(product)">close</mat-icon>
                </td>
            </tr>
        </table>
    </div>

    <div class="button-container">
        <button routerLink="/favorites">Vezi produsele favorite!</button>
    </div>
</div>