.compare {
    z-index: 5;
    position: fixed;
    top: 220px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 74px;
    height: 316px;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.6);
    background: white;
}

.products {
    display: flex;
    flex-direction: column;
    height: 90%;
    border-radius: 0;
    /* border: 1px solid black;     */
}

.product {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
    cursor: default;
    /* border: 1px solid black; */
}

a {
    display: block;
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
}

img {
    width: 100%;
    cursor: default;
    border-radius: 8px;
    border: 1px solid rgb(203, 201, 201);
}

img:hover {
    border: 1px solid rgb(220, 20, 110);
}

mat-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background: rgb(220, 20, 110);
    /* border: 1px solid black; */
}

mat-icon:hover {
    transform: scale(1.2, 1.2);
}

.btn {
    height: 10%;
    padding: 0;
    border-radius: 0;
    /* border: 1px solid black; */
}

button {
    font-size: 13px;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgb(220, 20, 110);
}