.compare {
    z-index: 10;
    position: absolute;
    top: 40%;
    right: 12px;
    display: flex;
    flex-direction: column;
    width: 80px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.6);
    background: white;
}

.compare-col {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
    cursor: default;
    /* border: 1px solid black; */
}

a {
    display: block;
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
}

img {
    width: 100%;
    cursor: default;
    border-radius: 8px;
    border: 1px solid rgb(203, 201, 201);
}

img:hover {
    border: 1px solid rgb(220, 20, 110);
}

mat-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background: rgb(220, 20, 110);
    /* border: 1px solid black; */
}

mat-icon:hover {
    transform: scale(1.2, 1.2);
}

button {    
    font-size: 13px;
    width: 100%;
    padding: 4px 0;
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgb(220, 20, 110);
}

button:hover {
    background: rgb(242, 61, 143);
    /* background: #7e7e7e; */
}

@media (max-width: 550px) {
    .compare .compare-items {
        max-height: 180px;
    }

    .compare .compare-items table {
        border-collapse: collapse;
        width: 200px;
    }

    .compare .compare-items table td {
        padding: 2px 4px;
    }

    .compare .compare-items table img {
        width: 26px;
        height: 26px;
    }

    .compare .compare-items table .name {
        font-size: 10px;
        line-height: 12px;
    }

    .compare .compare-items table .price {
        font-size: 12px;
    }

    .compare .compare-items table mat-icon {
        width: 14px;
        height: 14px;
        font-size: 16px;
    }

    .compare .button-container {
        padding: 6px;
    }


    .compare .button-container button {
        font-size: 12px;
        padding: 6px;
    }
}