<div class="compare" *ngIf="!isCompareEmpty()">

    <div class="products">
        <div class="product" *ngFor="let product of compares">

            <img src={{product.image}}>
            <mat-icon (click)="removeFromCompare(product)">close</mat-icon>

        </div>
    </div>

    <div class="btn">
        <!-- <button (click)="clearCompare()">DEL ALL</button> -->
        <button (click)="goToCompare()" (mouseover)="overButton()" (mouseout)="outButton()"
            [ngStyle]="{'background': changeBackground}">
            Compara
        </button>
    </div>

</div>