<div class="my-container">
  <div class="my-content">

    <div class="empty" *ngIf="isFavoritesEmpty()">
      <h1>"Lista produselor favorite este gola"</h1>
      <mat-icon (click)="goBack()">favorite</mat-icon>
      <p>Poti adauga produse favorite prin apasarea iconului inimioara din dreptul fiecarui produs dorit.</p>
      <button class="btn-back" (click)="goBack()">Inapoi</button>
    </div>

    <div class="header" *ngIf="!isFavoritesEmpty()">
      <h1>Favorite ({{favorites.length}} {{favorites.length==1?'produs':"produse"}})</h1>
      <div>
        <p>Livrare: 1-5 zile lucratoare</p>
        <p>Transport gratuit pentru comenzi de minim 200 de lei</p>
      </div>
    </div>

    <div class="main" *ngIf="!isFavoritesEmpty()">
      <div class="fav-row" *ngFor="let product of favorites; index as ind">
        <div class="image">
          <a [routerLink]="'/prod/'+product.urlKey">
            <img [src]="product.image" [alt]="product.name">
          </a>
        </div>
        <div class="description-price-addToCart">
          <div class="description">
            <a [routerLink]="'/prod/'+product.urlKey">
              {{product.description}}
            </a>
          </div>
          <div class="price-addToCart">
            <div class="price">
              <p>{{product.price | number: '1.2-2'}} Lei</p>
            </div>
            <div class="addToCart">
              <button (click)="addToCart(product)">
                <mat-icon>shopping_cart</mat-icon>
                <span>Adauga in cos</span>
              </button>
            </div>
          </div>
        </div>

        <!-- remove - favorites ----------------------------------------------- -->
        <div class="remove">
          <mat-icon (click)="removeFromFavorites(product)">close</mat-icon>
        </div>
      </div>
    </div>

  </div>
</div>