<form #i="ngForm" (ngSubmit)="updateImages()">

    <h2>2. GALERIE IMAGINI</h2>

    <h1 *ngIf="!gallery.length" style="color: red;">Nu exista nici o imagine...</h1>

    <div *ngIf="gallery.length">
        <div *ngFor="let gall of gallery; index as ind">

            <div class="form-group-dialog">
                <li class="dropdown">
                    <label for="image">Image: {{ind+1}}</label>

                    <div class="select-line" (click)="openDropdownMenu(ind)">
                        <input #selects type="text" name="image" [value]="gall.image">
                        <mat-icon>expand_more</mat-icon>
                    </div>

                    <div class="dropdown-menu" *ngIf="currentInd==ind">
                        <div class="list-option" *ngFor="let img of productImages;" (click)="selectImage(img)">
                            <img [src]="img" [alt]="img">
                            <span>{{img}}</span>
                        </div>
                    </div>
                </li>

                <div class="image-display">
                    <img class="image" [src]="gall.image" [alt]="gall.image">
                </div>

                <button mat-raised-button color="warn" type="button" (click)="removeImage(ind)">
                    Sterge
                </button>
            </div>

        </div>
    </div>

    <button mat-raised-button color="accent" type="button" (click)="addImage()">Adauga Imagine</button>

    <!-- S U B M I T  =============================================== -->
    <div class="form-group-dialog">
        <button mat-raised-button color="primary" type="submit">
            Salveaza
        </button>
    </div>

</form>