<form #g="ngForm" (ngSubmit)="updateImages()">

    <h2>2. GALERIE IMAGINI</h2>

    <h1 *ngIf="!gallery.length" style="color: red;">Nu exista nici o imagine...</h1>

    <div *ngIf="gallery.length">
        <div class="fields-container" *ngFor="let gall of gallery; index as ind">

            <!-- Id ------------------------------------------------------------------------------------- -->
            <div class="my-form-field">
                <label class="title">Id: {{gall.id}}</label>
            </div>

            <!-- Close button ------------------------------------------------------------------------- -->
            <button class="close-btn" type="button" (click)="removeImage(ind)">
                <mat-icon>close</mat-icon>
            </button>

            <!-- Image -------------------------------------------------------------------------------- -->
            <div class="my-form-field">
                <label for="image">Image: {{ind+1}}</label>

                <div class="image-display">
                    <img [src]="gall.image" [alt]="gall.image">
                </div>

                <div class="my-dropdown">
                    <div class="select-line" (click)="openDropdownMenu(ind)">
                        <input #selects type="text" name="image" [value]="gall.image">
                        <mat-icon>expand_more</mat-icon>
                    </div>

                    <div class="my-dropdown-menu" *ngIf="currentIndex==ind">
                        <div class="list-option" *ngFor="let img of productImages;" (click)="selectImage(img)">
                            <img [src]="img" [alt]="img">
                            <span>{{img}}</span>
                        </div>
                    </div>
                </div>                
            </div>           

        </div>
    </div>

    <button class="add-btn" type="button" (click)="addImage()">
        <mat-icon>add</mat-icon>
    </button>
    
    <!-- S U B M I T  =============================================== -->
    <div class="my-form-field">
        <button class="submit-btn" mat-raised-button color="primary" type="submit">
            Salveaza
        </button>
    </div>

</form>