.container-compare {
    width: 100%;
    /* margin: 10px; */
    /* border: 2px solid rgb(0, 0, 0); */
}

.content-compare {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1500px;
    /* border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;   */
    /* border: 2px solid rgb(0, 0, 0); */
}

.empty-list {
    margin-bottom: 66vh;
    color: rgb(220, 20, 110);
}

h1 {
    padding: 20px 0;
    /* border: 1px solid rgb(0, 0, 0); */
}

/* header -------------------------------------------------- */
.header {
    padding: 6px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
}

.cards {
    display: flex;
    flex-direction: row;
}

.empty-card,
.card {
    width: 20%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

mat-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: black;
    text-decoration: none;
    /* border: 1px solid rgb(255, 0, 0); */
}

.image a:hover {
    transform: scale(1.02, 1.02);
}

img {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
}

.description {
    height: 62px;
    overflow: hidden;
    /* border: 1px solid rgb(0, 0, 0); */
}

.description a:hover {
    color: rgb(220, 20, 110);
}


.price {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0;
    color: rgb(220, 20, 110);
}

.btn-add {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgb(220, 20, 110);
}

/* body -------------------------------------------------- */
.body {
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
}

.table {
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.title {
    width: 100%;
    margin: 6px;
}

h2 {
    color: rgb(220, 20, 110);
}

.tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.subtitle {
    width: 20%;
    padding: 12px;
}

.specification {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* background: rgb(243, 242, 242); */
}

.td {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 2px;
    padding: 12px;
    font-size: 14px;
    cursor: default;
    border: 1px solid rgb(0, 0, 0);
    /* background: rgb(243, 242, 242);  */
}




@media (max-width: 1500px) {
    .content-compare {
        margin: 0 10px;
        width: auto;
    }
}