<div class="container-compare">
    <div class="content-compare">

        <h1 class="minimum-products" *ngIf="compares.length<2">Nu sunt suficiente produse pentru comparare</h1>

        <div *ngIf="compares.length>=2">
            <!-- ------------------------------------------------------------------------------------------ -->
            <div class="header">
                <h1>Compara produse</h1>
                <div class="cards">
                    <div class="empty-card"></div>
                    <div class="card" *ngFor="let product of compares;">
                        <div class="image">
                            <a [routerLink]="'/p/'+product.department.toLowerCase()
                                        +'/'+product.type.toLowerCase()
                                        +'/'+product.category.toLowerCase()
                                        +'/'+product.linkName">

                                <img [src]="product.image" [alt]="product.name">
                            </a>
                        </div>
                        <mat-icon *ngIf="compares.length>2" (click)="removeFromCompare(product)">close</mat-icon>
                        <div class="description">
                            <a [routerLink]="'/p/'+product.department.toLowerCase()
                                                +'/'+product.type.toLowerCase()
                                                +'/'+product.category.toLowerCase()
                                                +'/'+product.linkName">
                                {{product.description}}
                            </a>
                        </div>
                        <div class="price">
                            {{product.price | number: '1.2-2'}} Lei
                        </div>
                        <div>
                            <button class="btn-add" (click)="addToCart(product)">Adauga in cos</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ------------------------------------------------------------------------------------------ -->
            <div class="body">

                <div *ngFor="let specification of specifications;">
                    <div class="table" *ngIf="specification.title_chk">

                        <div class="title">
                            <h2>{{specification.title}}</h2>
                        </div>

                        <div class="content" [style]="trWidth1">
                            <div class="tr" *ngFor="let sp of specification.subtitles; index as ind">

                                <div class="tr-row" *ngIf="sp.subtitle_chk">
                                    <div class="subtitle-row" [style]="td1Row"> {{sp.subtitle}} </div>
                                    <div class="specifications-row" [style]="td2Row">
                                        <div class="td" *ngFor="let s of sp.specifications;"> {{s ? s :"-"}} </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="content" [style]="trWidth2">
                            <div class="tr" *ngFor="let sp of specification.subtitles; index as ind">

                                <div class="tr-col" *ngIf="sp.subtitle_chk">
                                    <div class="subtitle-col"> {{sp.subtitle}} </div>
                                    <div class="specifications-col">
                                        <div class="td" *ngFor="let s of sp.specifications;"> {{s ? s :"-"}} </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            
            <!-- ------------------------------------------------------------------------------------------ -->
        </div>

    </div>
</div>

<app-footer></app-footer>