.container-compare {
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
}

.content-compare {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 1500px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.empty-list {
    margin-bottom: 66vh;
    color: rgb(220, 20, 110);
}

h1 {
    padding: 20px 0;
    /* border: 1px solid rgb(0, 0, 0); */
}

/* header -------------------------------------------------- */
.header {
    padding: 6px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
}

.display {
    display: flex;
    flex-direction: row;
}

/* .subtitle {
    
} */

.specification {
    display: flex;
    flex-direction: row; 
    width: 100%;
}

mat-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    /* border: 1px solid rgb(255, 0, 0); */
}

.image a:hover {
    transform: scale(1.02, 1.02);
}

img {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
}

mat-icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 6px;
    color: gray;
    cursor: pointer;
    /* border: 1px solid black; */
}

mat-icon:hover {
    font-weight: bold;
    transform: scale(1.1, 1.1);
    color: rgb(220, 20, 110);
}

.description {
    margin: 2px;
    height: 64px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
}

.spec-row {
    display: flex;
    flex-direction: row;    
    border: 1px solid rgb(0, 0, 0);
}

.price {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0;
    color: rgb(220, 20, 110);
}

.btn-add {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgb(220, 20, 110);
}

/* body -------------------------------------------------- */
.body {
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
}

.table {
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.title {
    width: 100%;
    margin: 6px;
}

h2 {
    color: rgb(220, 20, 110);
}

.aaa {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
}

.tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.subtitle {
    width: 20%;
    padding: 12px;
}

.specification {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* background: rgb(243, 242, 242); */
}

.td {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 2px;
    padding: 12px;
    font-size: 14px;
    cursor: default;
    border: 1px solid rgb(0, 0, 0);
    /* background: rgb(243, 242, 242);  */
}




@media (max-width: 1500px) {
    .content-compare {
        width: auto;
        min-width: 640px;
        margin: 0 10px;
    }

    h1 {
        font-size: 24px;
    }

    .card {
        padding: 6px;
    }

    .description {
        height: 50px;
        line-height: 16px;
    }

    .price {
        font-size: 18px;
        margin: 16px 0;
    }

    .btn-add {
        font-size: 14px;
        padding: 6px 4px;
        margin-bottom: 6px;
    }

    h2 {
        font-size: 18px;
    }

    .td {
        font-size: 14px;
        padding: 6px;
    }

    .subtitle {
        padding: 6px 12px 6px 0;
    }
}

@media (max-width: 760px) {
    h1 {
        font-size: 20px;
    }

    .price {
        font-size: 16px;
    }
}