<div class="details">

    <input type="radio" name="box" id="box1">
    <label for="box1">Descriere</label>

    <div class="box">
        <div *ngFor="let description of product.descriptions">
            <div>
                <h1><span>{{description.title}}</span></h1>
                <p>
                    {{description.text}}
                </p>
            </div>

            <div>
                <img src={{description.image}}>
            </div>
        </div>
    </div>

    <input type="radio" name="box" id="box2" checked="checked">
    <label for="box2">Specificatii</label>

    <div class="box">
        <div>
            <!-- Laptops - Desktops - Monitors ------------------------------------------------------------------------- -->
            <div *ngIf="sp.processor_brand || sp.processor_type || sp.processor_model || sp.processor_frequency">
                <h1>PROCESOR</h1>
                <p *ngIf="sp.processor_brand">
                    <strong>Producator: </strong>{{sp.processor_brand}}
                </p>
                <p *ngIf="sp.processor_type">
                    <strong>Tipul: </strong>{{sp.processor_type}}
                </p>
                <p *ngIf="sp.processor_model">
                    <strong>Model: </strong>{{sp.processor_model}}
                </p>
                <p *ngIf="sp.processor_frequency">
                    <strong>Frecventa: </strong>{{sp.processor_frequency}} MHz
                </p>
            </div>

            <div *ngIf="sp.display_size || sp.display_frequency || sp.display_touch">
                <h1>ECRAN</h1>
                <p *ngIf="sp.display_size">
                    <strong>Diagonala: </strong>{{sp.display_size}} inch
                </p>
                <p *ngIf="sp.display_frequency">
                    <strong>Frecventa: </strong>{{sp.display_frequency}} Hz
                </p>
                <p *ngIf="sp.display_touch">
                    <strong>Ecran tactil: </strong>{{sp.display_touch}}
                </p>
            </div>

            <div *ngIf="sp.memory_type || sp.memory_type || sp.memory_frequency">
                <h1>MEMORIE</h1>
                <p *ngIf="sp.memory_type">
                    <strong>Tipul: </strong>{{sp.memory_type}}
                </p>
                <p *ngIf="sp.memory_capacity">
                    <strong>Capacitate: </strong>{{sp.memory_capacity}} GB
                </p>
                <p *ngIf="sp.memory_frequency">
                    <strong>Frecventa: </strong>{{sp.memory_frequency}} MHz
                </p>
            </div>

            <div *ngIf="sp.hard_type || sp.hard_capacity || sp.hard_slot">
                <h1>HARD</h1>
                <p *ngIf="sp.hard_type">
                    <strong>Tipul: </strong>{{sp.hard_type}}
                </p>
                <p *ngIf="sp.hard_capacity">
                    <strong>Capacitate: </strong>{{sp.hard_capacity}} GB
                </p>
                <p *ngIf="sp.hard_slot">
                    <strong>Slot: </strong>{{sp.hard_slot}}
                </p>
            </div>

            <div *ngIf="sp.connectivity_bluetooth || sp.connectivity_wireless">
                <h1>CONECTIVITATE</h1>
                <p *ngIf="sp.connectivity_bluetooth">
                    <strong>Bluetooth: </strong>{{sp.connectivity_bluetooth}}
                </p>
                <p *ngIf="sp.connectivity_wireless">
                    <strong>Wireless: </strong>{{sp.connectivity_wireless}}
                </p>
            </div>

            <!-- Bags - Chargers - Hards - ExtBaterries - Rams ------------------------------------------------------ -->
            <div
                *ngIf="sp.brand || sp.type || sp.model || sp.connection || sp.output || sp.compatibility || sp.frequency || sp.capacity|| sp.screen_size || sp.power">
                <h1>CARACTERISTICI GENERALE</h1>
                <p *ngIf="sp.brand">
                    <strong>Producator: </strong>{{sp.brand}}
                </p>
                <p *ngIf="sp.type">
                    <strong>Tip produs: </strong>{{sp.type}}
                </p>
                <p *ngIf="sp.model">
                    <strong>Model: </strong>{{sp.model}}
                </p>
                <p *ngIf="sp.connection">
                    <strong>Conectare: </strong>{{sp.connection}}
                </p>
                <p *ngIf="sp.output">
                    <strong>Iesire: </strong>{{sp.output}}
                </p>
                <p *ngIf="sp.compatibility">
                    <strong>Compatibilitate: </strong>{{sp.compatibility}}
                </p>
                <p *ngIf="sp.frequency">
                    <strong>Frecventa: </strong>{{sp.frequency}}
                </p>
                <p *ngIf="sp.capacity">
                    <strong>Capacitate: </strong>{{sp.capacity}} MB
                </p>
                <p *ngIf="sp.screen_size">
                    <strong>Diagonala: </strong>{{sp.screen_size}} inch
                </p>
                <p *ngIf="sp.power">
                    <strong>Putere: </strong>{{sp.power}} W
                </p>                
            </div>

            <div *ngIf="sp.material || sp.color || sp.weight || sp.speed || sp.read_speed || sp.write_speed || sp.hdmi || sp.speaker || sp.radiator">
                <h1>ALTELE</h1>
                <p *ngIf="sp.material">
                    <strong>Material: </strong>{{sp.material}}
                </p>
                <p *ngIf="sp.color">
                    <strong>Culoare: </strong>{{sp.color}}
                </p>
                <p *ngIf="sp.weight">
                    <strong>Greutate: </strong>{{sp.weight}} kg
                </p>
                <p *ngIf="sp.speed">
                    <strong>Viteza: </strong>{{sp.speed}} Rpm
                </p>
                <p *ngIf="sp.read_speed">
                    <strong>Viteza citire: </strong>{{sp.read_speed}} MB/s
                </p>
                <p *ngIf="sp.write_speed">
                    <strong>Viteza scriere: </strong>{{sp.write_speed}} MB/s
                </p>
                <p *ngIf="sp.hdmi">
                    <strong>HDMI: </strong>{{sp.hdmi}}
                </p>
                <p *ngIf="sp.speaker">
                    <strong>Difuzor: </strong>{{sp.speaker}}
                </p>
                <p *ngIf="sp.radiator">
                    <strong>Radiator: </strong>{{sp.radiator}}
                </p>
            </div>
        </div>
    </div>

    <input type="radio" name="box" id="box3">
    <label for="box3">Recenzii</label>
    <div class="box">
        <h1>Recenzii</h1>
    </div>

    <input type="radio" name="box" id="box4">
    <label for="box4">Intrebari</label>
    <div class="box">
        <h1>Intrebari</h1>
    </div>

</div>