<div class="details">

    <input type="radio" name="box" id="box1" checked="checked">
    <label for="box1">Descriere</label>

    <div class="box">
        <h1><span>COMUTATORUL MUX CRESTE PERFORMANTELE GRAFICE.</span></h1>
        <p>
            Componentele de top necesita putere, mai ales cand vine vorba de placi video de ultima
            generatie.
        </p>
    </div>

    <input type="radio" name="box" id="box2">
    <label for="box2">Specificatii</label>
    <div class="box">
        <h1>Specificatii</h1>
    </div>

    <input type="radio" name="box" id="box3">
    <label for="box3">Recenzii</label>
    <div class="box">
        <h1>Recenzii</h1>
    </div>

    <input type="radio" name="box" id="box4">
    <label for="box4">Intrebari</label>
    <div class="box">
        <h1>Intrebari</h1>
    </div>

</div>