.container-depart {
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

.content-depart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    width: 1500px;
    /* border: 2px solid black; */
}

.breadcrumb {
    width: 100%;
    margin-bottom: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 2px solid black; */
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
    width: 19.2%;
    background: white;
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    border-radius: 8px;
    /* border: 2px solid rgb(0, 132, 255); */
}

.card:hover {
    box-shadow: 0 18px 26px 0 rgba(0, 0, 0, 0.564);
}

.card a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.title {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    /* border: 2px solid black; */
}

@media(max-width: 1600px) {
    .content-depart {
        width: 1212px;
    }
}

@media(max-width: 1280px) {
    .content-depart {
        width: 992px;
    }

    .title {
        font-size: 20px;
        margin: 20px auto;
    }
}

@media(max-width: 1040px) {
    .content-depart {
        width: 100%;
        padding: 0 8px;
    }

    .breadcrumb {
        margin: 0 8px 12px 8px;
    }

    .title {
        font-size: 18px;
    }
}

@media(max-width: 550px) {
    .cards {
        flex-direction: column;
    }

    .card {
        width: auto;
        margin-bottom: 12px;
    }

    .title {
        font-size: 20px;
    }
}