<form class="admin-form" #d="ngForm" (ngSubmit)="d.form.valid && updateDescription()">

    <h2>3. DESCRIERILE PRODUSULUI</h2>

    <h1 *ngIf="!descriptions.length" style="color: red;">Nu exista nici o descriere...</h1>

    <div *ngIf="descriptions.length">
        <div class="fields-container" *ngFor="let descr of descriptions; index as ind">

            <!-- Id ------------------------------------------------------------------------------------- -->
            <div class="my-form-field">
                <label class="title">Id: {{descr.id}}</label>
            </div>

            <!-- Close ----------------------------------------------------------------------------------- -->
            <button class="close-btn" type="button" (click)="removeDescription(ind)">
                <mat-icon>close</mat-icon>
            </button>

            <!-- Image ---------------------------------------------------------------------------------- -->
            <div class="my-form-field">
                <label for="image">Image: {{ind+1}}</label>                

                <div class="my-dropdown">
                    <div class="select-line" (click)="openDropdownMenu(ind)">
                        <input #selects type="text" name="image" [value]="descr.image">
                        <mat-icon>expand_more</mat-icon>
                    </div>

                    <div class="my-dropdown-menu" *ngIf="currentIndex==ind">
                        <div class="list-option" *ngFor="let img of productImages;" (click)="selectImage(img)">
                            <img [src]="img" [alt]="img">
                            <span>{{img}}</span>
                        </div>
                    </div>
                </div>

                <div class="image-display">
                    <img [src]="descr.image" [alt]="descr.image">
                </div>
            </div>

            <!-- Title ---------------------------------------------------------------------------------- -->
            <div class="my-form-field">
                <label>Title {{ind+1}}: </label>
                <input type="text" [name]="descr.title" [(ngModel)]="descr.title" #title="ngModel" minlength="4"
                    maxlength="200" required>
                <div class="my-alert-container">
                    <div class="my-alert" *ngIf="!title.valid && d.submitted">Camp gol!</div>
                </div>
            </div>

            <!-- Text ----------------------------------------------------------------------------------- -->
            <div class="my-form-field">
                <label>Description {{ind+1}}: </label>
                <textarea cols="30" rows="7" type="text" [name]="descr.text" [(ngModel)]="descr.text" #text="ngModel"
                    minlength="10" maxlength="1000" required>
                </textarea>
                <div class="my-alert-container">
                    <div class="my-alert" *ngIf="!text.valid && d.submitted">Camp gol!</div>
                </div>
            </div>       

            <hr>
        </div>
    </div>

    <button class="add-btn" type="button" (click)="addDescription()">
        <mat-icon>add</mat-icon>
    </button>

    <!-- S U B M I T  =============================================== -->
    <div class="my-form-field">
        <button class="submit-btn" mat-raised-button color="primary" type="submit">
            Salveaza
        </button>
    </div>

</form>