<div class="container-admin">

  <div class="title">
    <h1><strong>{{activeSubtitleName}}</strong></h1>
    <h3>Products number: {{products.length}}</h3>

    <a [routerLink]="'/admin/product/create'">
      <button class="btn-new" type="button">NEW</button>
    </a>

  </div>

  <table class="table-row">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Available</th>
        <th>Category</th>
        <th>Subcateg</th>
        <th>Pret (Lei)</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products; index as ind">
        <td><strong>{{ind+1}}</strong></td>
        <td>
          <a [routerLink]="'/prod/' + product.urlKey">
            <img [src]="product.image" [alt]="product.image">
          </a>
        </td>
        <td>
          <a [routerLink]="'/prod/' + product.urlKey">
            <div class="my-fields">
              <span><strong>{{product.name}}</strong></span>
              <span><strong>id: {{product.id}} | {{product.brand}}</strong></span>
            </div>
          </a>
        </td>
        <td [style]="{'color':product.available===category.STOCK ? '#4fbe04' : 'gray'}">
          <strong>{{product.available}}</strong>
        </td>
        <td><strong>{{product.category}}</strong></td>
        <td>{{product.subcategory}}</td>
        <td>
          <div class="my-fields">
            <span class="price"><strong>{{product.price | number: '1.2-2'}}</strong></span>
            <span [ngStyle]="{'color':product.badge==category.TOP_FAVORITE ?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
              {{product.badge}}
            </span>
          </div>
        </td>
        <!-- <td>
            <div class="my-fields">
              <span class="line">Display: <strong>{{product.display ? product.display : " - "}}</strong></span>
              <span class="line">Power: <strong>{{product.power ? product.power : " - "}}</strong></span>
              <span class="line">Capacity: <strong>{{product.capacity ? product.capacity : " - "}}</strong></span>
              <span class="line">Connect: <strong>{{product.connect ? product.connect : " - "}}</strong></span>
            </div>
          </td> -->
        <td>
          <a [routerLink]="'/admin/product/update/' + product.urlKey">
            <button class="btn-edit">
              <mat-icon>edit</mat-icon>
            </button>
          </a>

          <button class="btn-delete" (click)="deleteProductDialog(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>