.under-construction {
    text-align: center;
    margin: 100px auto;
}

img {
    width: 340px;
}

h1 {
    font-size: 40px;
}

@media(max-width: 360px) {
    .my-content {
        padding: 0 10px;
    }

    .under-construction {
        margin: 30px auto;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }
}