.container-chg {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
}

.column-chg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1500px;
    /* border: 2px solid black; */
}

.product {
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.title h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 50px;
}

.row-chg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    overflow: hidden;
    /* border: 1px solid black;      */
}

.slider span {
    position: absolute;
    padding: 2px 8px;
    top: 0;
    left: 0;
    color: white;
    border-radius: 0 10px 10px 0;
    background: rgb(223, 33, 119);
    z-index: 1;
}

.slide {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 500%;
    transition: 0.5s;
}

.slide img {
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.small-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.small-images a {
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid grey;
}

.small-images img {
    width: 100%;
    height: 100%;
}

.small-images img:hover {
    cursor: pointer;
}

.order {
    width: 400px;
    /* border: 1px solid black; */
}

.order h1 {
    color: rgb(223, 33, 119);
    font-size: 36px;
    margin: 0;
    text-align: left;
}

.avail {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

.avail.tax {
    margin-top: 10px;
    color: rgb(168, 168, 168);
}

.avail.stock {
    color: rgb(0, 184, 0);
    margin-bottom: 30px;
}

.avail.deposit {
    color: rgb(104, 104, 104);
}

.guaranty {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(104, 104, 104);
    /* border: 1px solid black; */
}

.guaranty mat-icon {
    color: rgb(223, 33, 119);
    font-size: 30px;
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
}

.guaranty p {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.order button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgb(223, 33, 119);
}

.order button:hover {
    background: rgb(182, 27, 97);
}

.loan {
    width: 400px;
    /* border: 1px solid black; */
}

.loan a {
    display: block;
    color: rgb(223, 33, 119);
    font-size: 20px;
    margin: 30px 0 10px 0;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


/* ===================================================== D E T A I L S */
.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 40px;
    width: 1500px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.box {
    display: none;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    order: 99;
    flex-grow: 1;
    width: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
}

.details>label {
    display: block;
    color: white;
    text-align: center;
    order: 1;
    font-size: 14px;
    padding: 6px 20px;
    margin-right: 4px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    background: rgb(220, 20, 110);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgb(0, 0, 0); */
}

.details>label:hover {
    color: black;
}

.details>input {
    display: none;
}

.details>input:checked+label {
    color: black;
    font-weight: bold;
    background: #fff;
}

.details>input:checked+label+.box {
    display: flex;
}

@media(max-width: 1600px) {
    .column-chg {
        width: 1200px;
    }

    .title h1 {
        margin: 40px 20px;
    }

    .row-chg {
        margin: 20px;
    }

    .order {
        width: 300px;
    }

    .guaranty mat-icon {
        width: 36px;
    }

    .loan {
        width: 300px;
    }

    .details {
        margin-top: 40px;
        width: 1200px;
    }
}

@media(max-width: 1280px) {
    .column-chg {
        width: 980px;
    }

    .title h1 {
        font-size: 26px;
        line-height: 36px;
        margin: 40px 20px;
    }

    .row-chg {
        margin: 20px;
    }

    .slider {
        width: 400px;
    }

    .slide img {
        width: 400px;
        height: 400px;
    }

    .order {
        width: 240px;
    }

    .guaranty mat-icon {
        width: 42px;
    }

    .loan {
        width: 240px;
    }

    .details {
        margin-top: 30px;
        width: 980px;
    }
}

@media(max-width: 1040px) {
    .column-chg {
        align-items: center;
        width: 100%;
    }

    .product {
        margin: 0 16px;
    }

    .title h1 {
        font-size: 20px;
        line-height: 30px;
        width: 500px;
        margin: 30px auto;
    }

    .row-chg {
        flex-direction: column;
        align-items: center;
    }

    .order {
        margin-top: 20px;
        width: 500px;
    }

    .order h1 {
        font-size: 28px;
    }

    .guaranty mat-icon {
        width: 32px;
    }

    .loan {
        margin-top: 30px;
        width: 500px;
    }

    .details {
        width: 540px;
    }
}

@media(max-width: 550px) {
    .title h1 {
        font-size: 18px;
        line-height: 28px;
        width: 90%;
        margin: 16px;
    }

    .row-chg {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .slider {
        width: 360px;
    }

    .slide img {
        width: 360px;
        height: 360px;
    }

    .order {
        width: 92%;
    }

    .order h1 {
        font-size: 26px;
    }

    .loan {
        width: 92%;
    }

    .details {
        flex-direction: column;
        width: 350px;
        margin-top: 20px;
    }

    .details>label {
        margin: 0;
        margin-bottom: 4px;
    }

    form input {
        font-size: 14px;
        padding: 8px;
    }

    .details h1 {
        font-size: 18px;
    }
}

@media(max-width: 380px) {
    .title h1 {
        font-size: 16px;
        line-height: 22px;
        width: 90%;
        margin: 16px;
    }

    .slider {
        width: 260px;
    }

    .slide img {
        width: 260px;
        height: 260px;
    }

    .details {
        width: 260px;
    }

    .details>label {
        font-size: 13px;
    }

    form input {
        font-size: 12px;
        padding: 6px;
    }

    .details h1 {
        font-size: 16px;
    }
}