<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container-bag">
    <div class="column-bag">

        <app-ng-dynamic-breadcrumb [bgColor]="'#00000000'" [fontSize]="'16px'" [fontColor]="'#ff4196'"
            [lastLinkColor]="'#000'" [symbol]="' / '">
        </app-ng-dynamic-breadcrumb>

        <div class="row-bag">
            <!-- f i l t e r s ==================================================================================== -->
            <div class="filters-bag">
                <!-- available filter ----------------------------------------------------------- -->
                <div class="available">
                    <h3><strong>Disponibilitate</strong></h3>
                    <div class="filter-group" *ngIf="stock_out.length!==0">
                        <input type="checkbox" id="stock" name="stock" [(ngModel)]="stock_chk"
                            (change)="filter_stock()">
                        <label for="stock"> In Stoc ({{stock_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="deposit_out.length!==0">
                        <input type="checkbox" id="deposit" name="deposit" [(ngModel)]="deposit_chk"
                            (change)="filter_deposit()">
                        <label for="deposit"> In Depozit ({{deposit_out.length}})</label>
                    </div>
                </div>

                <!-- price filter ---------------------------------------------------------------- -->
                <div class="price">
                    <h3><strong>Pret</strong></h3>
                    <div class="filter-group" *ngIf="under100_out.length!==0">
                        <input type="checkbox" id="under100" name="under100" [(ngModel)]="under100_chk"
                            (change)="filter_under100()">
                        <label for="under100"> Sub 100 ({{under100_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under200_out.length!==0">
                        <input type="checkbox" id="under200" name="under200" [(ngModel)]="under200_chk"
                            (change)="filter_under200()">
                        <label for="under200"> 100 - 200 ({{under200_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under300_out.length!==0">
                        <input type="checkbox" id="under300" name="under300" [(ngModel)]="under300_chk"
                            (change)="filter_under300()">
                        <label for="under300"> 200 - 300 ({{under300_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under400_out.length!==0">
                        <input type="checkbox" id="under400" name="under400" [(ngModel)]="under400_chk"
                            (change)="filter_under400()">
                        <label for="under400"> 300 - 400 ({{under400_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="over400_out.length!==0">
                        <input type="checkbox" id="over400" name="over400" [(ngModel)]="over400_chk"
                            (change)="filter_over400()">
                        <label for="over400"> Peste 400 ({{over400_out.length}})</label>
                    </div>
                </div>

                <!-- brand filter --------------------------------------------------------------- -->
                <div class="brand">
                    <h3><strong>Brand</strong></h3>
                    <div class="filter-group" *ngIf="hama_out.length!==0">
                        <input type="checkbox" id="hama" name="hama" [(ngModel)]="hama_chk" (change)="filter_hama()">
                        <label for="hama"> HAMA ({{hama_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="promate_out.length!==0">
                        <input type="checkbox" id="promate" name="promate" [(ngModel)]="promate_chk"
                            (change)="filter_promate()">
                        <label for="promate"> PROMATE ({{promate_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="rivacase_out.length!==0">
                        <input type="checkbox" id="rivacase" name="rivacase" [(ngModel)]="rivacase_chk"
                            (change)="filter_rivacase()">
                        <label for="rivacase"> RIVACASE ({{rivacase_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="samsonite_out.length!==0">
                        <input type="checkbox" id="samsonite" name="samsonite" [(ngModel)]="samsonite_chk"
                            (change)="filter_samsonite()">
                        <label for="samsonite"> SAMSONITE ({{samsonite_out.length}})</label>
                    </div>
                </div>

                <!-- category filter ----------------------------------------------------------- -->
                <div class="category">
                    <h3><strong>Categorie</strong></h3>
                    <div class="filter-group" *ngIf="bag_out.length!==0">
                        <input type="checkbox" id="bag" name="bag" [(ngModel)]="bag_chk" (change)="filter_bag()">
                        <label for="bag"> Geanta ({{bag_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="sleeve_out.length!==0">
                        <input type="checkbox" id="sleeve" name="sleeve" [(ngModel)]="sleeve_chk"
                            (change)="filter_sleeve()">
                        <label for="sleeve"> Husa ({{sleeve_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="backpack_out.length!==0">
                        <input type="checkbox" id="backpack" name="backpack" [(ngModel)]="backpack_chk"
                            (change)="filter_backpack()">
                        <label for="backpack"> Rucsac ({{backpack_out.length}})</label>
                    </div>
                </div>
            </div>

            <!-- p r o d u c t s ==================================================================================== -->
            <div class="products">

                <div class="products-header">
                    <h1>Genti si huse laptop</h1>

                    <div class="categorySelect">
                        <label for="categorySelect">Sorteaza dupa: </label>
                        <select name="categorySelect" [(ngModel)]="laptopBags_sorting">
                            <option value="name" (click)="name_alphabetic()">Nume</option>
                            <option value="lowToHigh" (click)="price_ascending()">Pret crescator</option>
                            <option value="highToLow" (click)="price_descending()">Pret descrescator</option>
                            <option value="bestSold" (click)="sold()">Cele mai vandute</option>
                        </select>
                    </div>
                </div>

                <div class="cards-container">
                    <div class="card" *ngFor="let item of laptopBags;">
                        <a [routerLink]="item.linkName">
                            <img [src]="item.src1" [alt]="item.alt" />
                            <h4><strong>{{item.description}}</strong></h4>
                        </a>
                        <p class="avail stock" *ngIf="item.available==='STOCK'">in stoc</p>
                        <p class="avail deposit" *ngIf="item.available==='DEPOSIT'">in depozitul central</p>
                        <p class="val"><strong>{{item.price}} Lei</strong></p>
                        <button (click)="addToCart(item)">Adauga in cos</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>