.container-not-found {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.row-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 50px 10px;
  border: 3px solid red;
}

span {
  font-size: 40px;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: red;
}

a {
  display: block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
