<div class="cards-container"
    [ngClass]="{'cards-container-grid':displayType==='grid','cards-container-list':displayType==='list'}">

    <div class="card" [ngClass]="{'card-grid':displayType==='grid','card-list':displayType==='list'}"
        *ngFor="let product of productsOut">

        <div class="fav-comp">
            <mat-icon [ngStyle]="{color: product.favorite ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleFavorites(product)">
                {{product.favorite ? 'favorite' : 'favorite_border'}}
            </mat-icon>
            <mat-icon [ngStyle]="{color: product.compare ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleCompares(product)">
                {{product.compare ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>
        </div>

        <!-- ============================================================================================= -->
        <div [ngClass]="{'image-grid':displayType==='grid','image-list':displayType==='list'}">
            <a [routerLink]="'/prod/' + product.linkName">
                <img [src]="product.image" />
            </a>
        </div>

        <div [ngClass]="{'main-grid':displayType==='grid', 'main-list':displayType==='list'}">
            <div class="description">
                <span [ngStyle]="{'background':product.badge==='TOP_FAVORITE'?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                    {{product.badge === "TOP_FAVORITE" ? "Top Favorit" : "Super Pret"}}
                </span>

                <a [routerLink]="'/prod/' + product.linkName">
                    <p>{{product.description}}</p>
                </a>

                <div class="specifications" *ngIf="displayType==='list'">
                    <div>
                        <p>{{product.category}}</p>
                        <p>{{product.name}}</p>
                        <p>{{product.linkName}}</p>
                    </div>
                    <div>
                        <p>{{product.category}}</p>
                        <p>{{product.name}}</p>
                        <p>{{product.linkName}}</p>
                    </div>
                </div>
            </div>

            <div class="details">
                <p class="stock" *ngIf="product.available==='STOCK'">in stoc</p>
                <p class="deposit" *ngIf="product.available==='DEPOSIT'">in depozit</p>
                <h1><strong>{{product.price}} Lei</strong></h1>

                <button (click)="addToCart(product)">Adauga in cos</button>
            </div>
        </div>

    </div>

</div>