<div class="cards-container"
    [ngClass]="{'cards-container-grid':displayType==='grid','cards-container-list':displayType==='list'}">

    <div class="card" [ngClass]="{'card-grid':displayType==='grid','card-list':displayType==='list'}"
        *ngFor="let product of productsOut">

        <div class="fav-comp">
            <mat-icon [ngStyle]="{color: product.favorite ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleFavorites(product)">
                {{product.favorite ? 'favorite' : 'favorite_border'}}
            </mat-icon>
            <mat-icon [ngStyle]="{color: product.compare ? 'rgb(220, 20, 110)' : 'grey'}"
                (click)="handleCompares(product)">
                {{product.compare ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>
        </div>


        <!-- I M A G E ===================================================================================== -->
        <div [ngClass]="{'image-grid':displayType==='grid','image-list':displayType==='list'}">
            <a [routerLink]="'/p/'+product.department.toLowerCase()+'/'+product.type.toLowerCase()+'/'
                +product.category.toLowerCase()+'/'+product.linkName">
                <img [src]="product.image" />
            </a>
        </div>


        <!-- B O D Y ======================================================================================= -->
        <div [ngClass]="{'body-grid':displayType==='grid', 'body-list':displayType==='list'}">


            <!-- m a i n ---------------------------------------------------------------------------- -->
            <div [ngClass]="{'main-grid':displayType==='grid', 'main-list':displayType==='list'}">
                <span [ngClass]="{'badge-grid':displayType==='grid', 'badge-list':displayType==='list'}"
                    [ngStyle]="{'background':product.badge==='TOP_FAVORITE'?'rgb(0, 154, 230)':'rgb(220, 20, 110)'}">
                    {{product.badge === "TOP_FAVORITE" ? "Top Favorit" : "Super Pret"}}
                </span>

                <a [routerLink]="'/p/'+product.department.toLowerCase()+'/'+product.type.toLowerCase()+'/'
                    +product.category.toLowerCase()+'/'+product.linkName">
                    <p>{{product.description}}</p>
                </a>

                <div class="specifications" *ngIf="displayType==='list'">
                    <div>
                        <p>{{product.name}}</p>
                        <p>{{product.linkName}}</p>
                        <p>departament: {{product.department}}</p>
                        <p>type: {{product.type}}</p>
                        <p>category: {{product.category}}</p>
                        <p>subcategory: {{product.subcategory}}</p>
                    </div>
                    <div>
                        <p>{{product.name}}</p>
                        <p>{{product.linkName}}</p>
                        <p>departament: {{product.department}}</p>
                        <p>type: {{product.type}}</p>
                        <p>category: {{product.category}}</p>
                        <p>subcategory: {{product.subcategory}}</p>
                    </div>
                </div>
            </div>


            <!-- d e t a i l s------------------------------------------------------------------------ -->
            <div [ngClass]="{'details-grid':displayType==='grid', 'details-list':displayType==='list'}">
                <p [ngClass]="{'available-grid':displayType==='grid', 'available-list':displayType==='list'}"
                    [ngStyle]="{color: product.available==='STOCK' ? 'rgb(0, 184, 0)' : 'grey'}">
                    {{product.available==='STOCK'? 'in stoc' : ''}}
                    {{product.available==='DEPOSIT'? 'in depozit': ""}}
                </p>

                <h1><strong>{{product.price}} Lei</strong></h1>

                <button (click)="addToCart(product)">Adauga in cos</button>
            </div>

        </div>

    </div>

</div>