.cards-container {
    display: grid;
    margin-top: 12px;
    gap: 10px;
    /* border: 1px solid black; */
}

.cards-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}

.cards-container-list {
    grid-template-columns: 1fr;
}

.card {
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: flex-start;
    padding: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 1px solid black;*/
}

.card-grid {
    flex-direction: column;
    min-width: 150px;
}

.card-list {
    flex-direction: row;
    /* min-width: 200px; */
}

.fav-comp {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 10px;
}

mat-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 24px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    /* border: 2px solid black; */
}

mat-icon:hover {
    color: rgb(220, 20, 110);
    font-size: 26px;
}

/* ----------------------------------------------------------- */
.card a {
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
}

.card a span {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding: 0 6px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 0 4px 4px 0;
}

.image-grid {
    width: 100%;
}

.image-list {
    width: 20%;
    min-width: 100px;
}

.main-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-list {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.card a img {
    width: 100%;
}

.description {
    width: 80%;
}

.details {
    width: 20%;
    min-width: 130px;
}

.specifications {
    display: flex;
    flex-direction: row;
}



.card a p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    height: 62px;
    margin: 0;
    text-align: left;
    overflow-y: hidden;
    /* border: 1px solid black; */
}

.stock,
.deposit {
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.stock {
    color: rgb(0, 184, 0);
}

.deposit {
    color: rgb(0, 0, 0, 0.5);
}

.card h1 {
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
    color: rgb(223, 33, 119);
    /* border: 1px solid black; */
}

.card button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    background: rgb(223, 33, 119);
}

.card button:hover {
    background: rgb(182, 27, 97);
}

@media(max-width: 1260px) {
    .cards-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .specifications {
        flex-direction: column;
    }
}

@media(max-width: 766px) {    
    .card a p {
        font-size: 14px;
        line-height: 18px;
        height: 56px;
        /* border: 1px solid black; */
    }

    .card h1 {
        font-size: 22px;
        margin: 0 0 4px 0;
    }
}

@media(max-width: 550px) {
    .cards-container-grid {
        grid-template-columns: 1fr 1fr;
    }

    .main-list {
        flex-direction: column;
    }

    .specifications {
        display: none;
    }
}

@media(max-width: 400px) {
    .card h1 {
        font-size: 20px;
    }

    .card button {
        font-size: 14px;
    }
}