.container-offer {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
}

.content-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1500px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: white;
    /* border: 2px solid black; */
}

.header {
    width: 100%;
}

h1 {
    width: 100%;
    margin: 40px 0;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.header img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 40px;
    /* border: 2px solid black;  */
}

.image img {
    width: 360px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.description {
    padding: 0 20px;
    /* border: 1px solid black; */
}

p {
    font-size: 15px;
}

@media(max-width: 1530px) {
    .content-offer {
        width: 1200px;
    }      
}

@media(max-width: 1260px) {
    .content-offer {
        width: 990px;
    }
}

@media(max-width: 1020px) {
    .container-offer {
        padding: 0 10px;
    }

    .content-offer {
        width: 100%;
    }

    h1 {
        margin: 30px 0;
        font-size: 26px;
    }

    .image img {
        width: 300px;
    } 
}

@media(max-width: 766px) {
    .body {
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 10px;
    }
}

@media(max-width: 550px) {
    .body {
        flex-direction: column;
        padding-bottom: 20px;
    }

    h1 {
        margin: 20px 0;
        font-size: 22px;
    }
}

@media(max-width: 330px) {
    .image img {
        width: 100%;
    } 
}