.container-offer {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
}

.row-offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1500px;
    /* border: 2px solid black; */
}

.card-offer {
    width: 100%;    
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    background: white;
    box-sizing: border-box;
    /* border: 1px solid black;*/
}

h1 {
    margin: 20px;
}

@media(max-width: 1600px) {
    .row-offer {
        width: 1200px;
    }
    
    .card-offer h1 {
        font-size: 22px;
    }
}

@media(max-width: 1280px) {
    .row-offer {
        width: 980px;
    }
    
    .card-offer h1 {
        font-size: 20px;
    }
}

@media(max-width: 1040px) {
    .row-offer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 16px;
    }

    .card-offer {
        width: 100%;
    } 
    
    .card-offer h1 {
        font-size: 22px;
    }
}

@media(max-width: 550px) {
    .card-offer h1 {
        font-size: 18px;
    }
}