<div class="my-container">
    <div class="my-content">

        <div class="header">
            <img src="assets/main/special-offer.jpg" alt="special-offer.jpg">
        </div>

        <div class="body">

            <h1>Prinde oferta la cele mai bune laptopuri</h1>

            <div class="offert">
                <div class="image" (click)="offer()">
                    <img src="assets/main/special-laptop.jpg" alt="special-laptop.jpg">
                </div>

                <div class="description">
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Te gândeai să îți cumperi un MacBook Pro cu procesor M2? Episodul cu numărul 376 din seria
                        „RESIGILATUL ZILEI” vă aduce fix acest produs. L-am găsit în variantă resigilată la magazinul
                        nostru, ceea ce înseamnă că primești garanție 2 ani, drept de retur gratuit fără explicații timp
                        de
                        30 de zile, iar el are urme fine de utilizare și accesorii desigilate. Costă 5899 lei, deși un
                        astfel de laptop nou se vinde la sume de peste 6400-6500 lei conform siturilor de sondaj.
                        Laptopul aduce un display de 13.3 inch în diagonală. Acest panou IPS are rezoluție de 2560 x
                        1600
                        pixeli, o densitate a pixelilor de 227 ppi și aduce o luminozitate de până la 500 de nits. Vine
                        și
                        cu tehnologie True Tone, culorile fiind ajustate în funcție de mediul ambiental. Sub capotă avem
                        un
                        CPU Apple M2. E fabricat pe un proces de 5nm, are 20 de miliarde de tranzistori și 100 GBps de
                        memorie unificată cu lățime de bandă, dublu față de cât are M1. De asemenea, avem un GPU 10-core
                        aici care, conform Apple, aduce o performanță grafică cu 25% mai mare față de M1.
                    </p>
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        În configurația de față primim 8 GB RAM și un SSD de 256 GB rapid. Pe partea de conectivitate
                        regăsim aici Wi-Fi 6, Bluetooth 5.0, dar și o varietate de porturi:
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        - Port de încărcare (USB-C)
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        - DisplayPort
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        - Thunderbolt 3 (viteze de până la 40 Gb/s)
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        - USB 4.0 (viteze de până la 40 Gb/s)
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        - USB-C 3.1 Gen 2 (viteze de până la 10 Gb/s)
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        - jack de 3.5 mm pentru căști
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Se încarcă la 67W printr-un port USB-C, are baterie de 58.2 Wh, iar autonomia ajunge până la 20
                        de
                        ore în cazul playback-ului video continuu în aplicația de streaming Apple TV. În cazul navigării
                        web
                        obținem 17 ore, iar autonomia scade în cazul task-urilor mai solicitante, evident. Avem și un
                        trackpad de dimensiuni generoase cu Force Touch, dar și o tastatură iluminată și un senzor Touch
                        ID
                        pentru extra-securitate.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>