#slider {
    position: relative;
    width: 1200px;
    height: 552px;
    overflow: hidden;    
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid black; */
}

.slide {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    transition: 1s;
    z-index: 1;
    /* border: 2px solid rgb(0, 64, 255); */
}

.display {
    float: left;
    /* border: 2px solid red; */
}
        
.controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
    height: 100%;
    margin: 0;
    /* border: 2px solid black; */
}

.previous,
.next {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 6rem;
    width: 3rem;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    /* border: 2px solid red; */
    z-index: 1;
}

.svg {
    margin: 40% auto 60% auto;
    /* border: 2px solid red; */
}

.dots {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    z-index: 1;
}

label {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    /* border: 1px solid black; */
}

span {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;   
    border-radius: 50%;    
    border: 2px solid rgb(220, 20, 110);
    background: none;
    /* border: 2px solid black; */
}

input {
    margin-left: 10px;
    opacity: 0;
    cursor: pointer;
}

label:hover input~span {
    border: 2px solid rgb(255, 255, 255, 0.8);
    background: rgb(255, 255, 255, 0.8)
}

label input:checked~span {
    outline: 2px solid rgb(220, 20, 110);
    border: 2px solid rgb(220, 20, 110);
    background: rgb(220, 20, 110);
}

@media (max-width: 1600px) {
    #slider {
        width: 900px;
        height: 100%;
        max-height: 408px;
    }

    .display {
        width: 20%;
    }
}

@media (max-width: 1280px) {
    #slider {
        width: 680px;
    }

    .slide {
        margin: 7% auto;
    }

    .controls {
        height: 86%;
    }

    label {
        margin-bottom: 10px;
    }
}

@media (max-width: 1040px) {
    #slider {
        margin: auto;
        width: 100%;
        /* border: 2px solid rgb(0, 0, 0); */
    }

    .slide {
        margin: auto;
        /* border: 2px solid red; */
    }

    .controls {
        height: 100%;
    }

}

@media (max-width: 1040px) {
    span {
        top: 6px;
        left: 6px;
        width: 6px;
        height: 6px;
    }
}