<div class="specifications-content">

    <h1>Specificatii</h1>

    <div class="specifications">
        <div class="left-side">
            <!-- Laptops - Desktops ------------------------------------------------------------------------- -->
            <table *ngIf="ps.display_size || ps.display_frequency || ps.display_touch">
                <thead>
                    <h2>{{name.TITLE_DISPLAY}}</h2>
                </thead>

                <tbody>
                    <tr *ngIf="ps.display_size">
                        <th>{{name.DISPLAY_SIZE}}</th>
                        <td>{{ps.display_size}}</td>
                    </tr>
                    <tr *ngIf="ps.display_resolution">
                        <th>{{name.DISPLAY_RESOLUTION}}</th>
                        <td>{{ps.display_resolution}}</td>
                    </tr>
                    <tr *ngIf="ps.display_frequency">
                        <th>{{name.DISPLAY_FREQUENCY}}</th>
                        <td>{{ps.display_frequency}}</td>
                    </tr>
                    <tr *ngIf="ps.display_touch">
                        <th>{{name.DISPLAY_TOUCH}}</th>
                        <td>{{ps.display_touch}}</td>
                    </tr>
                </tbody>
            </table>
            <table
                *ngIf="ps.motherboard_brand || ps.motherboard_chipset || ps.motherboard_slot || ps.motherboard_audio">
                <thead>
                    <h2>{{name.TITLE_MOTHERBOARD}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.motherboard_brand">
                        <th>{{name.MOTHERBOARD_BRAND}}</th>
                        <td>{{ps.motherboard_brand}}</td>
                    </tr>
                    <tr *ngIf="ps.motherboard_chipset">
                        <th>{{name.MOTHERBOARD_CHIPSET}}</th>
                        <td>{{ps.motherboard_chipset}}</td>
                    </tr>
                    <tr *ngIf="ps.motherboard_slot">
                        <th>{{name.MOTHERBOARD_SLOT}}</th>
                        <td>{{ps.motherboard_slot}}</td>
                    </tr>
                    <tr *ngIf="ps.motherboard_audio">
                        <th>{{name.MOTHERBOARD_AUDIO}}</th>
                        <td>{{ps.motherboard_audio}}</td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="ps.processor_brand || ps.processor_type || ps.processor_model || ps.processor_frequency">
                <thead>
                    <h2>{{name.TITLE_PROCESSOR}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.processor_brand">
                        <th>{{name.PROCESSOR_BRAND}}</th>
                        <td>{{ps.processor_brand}}</td>
                    </tr>
                    <tr *ngIf="ps.processor_type">
                        <th>{{name.PROCESSOR_TYPE}}</th>
                        <td>{{ps.processor_type}}</td>
                    </tr>
                    <tr *ngIf="ps.processor_model">
                        <th>{{name.PROCESSOR_MODEL}}</th>
                        <td>{{ps.processor_model}}</td>
                    </tr>
                    <tr *ngIf="ps.processor_frequency">
                        <th>{{name.PROCESSOR_FREQUENCY}}</th>
                        <td>{{ps.processor_frequency}}</td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="ps.memory_type || ps.memory_capacity || ps.memory_frequency">
                <thead>
                    <h2>{{name.TITLE_MEMORY}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.memory_type">
                        <th>{{name.MEMORY_TYPE}}</th>
                        <td>{{ps.memory_type}}</td>
                    </tr>
                    <tr *ngIf="ps.memory_capacity">
                        <th>{{name.MEMORY_CAPACITY}}</th>
                        <td>{{ps.memory_capacity}}</td>
                    </tr>
                    <tr *ngIf="ps.memory_frequency">
                        <th>{{name.MEMORY_FREQUENCY}}</th>
                        <td>{{ps.memory_frequency}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Bags - Chargers - Hards - ExtBaterries - Rams - Monitors---------------------------------------------- -->
            <table
                *ngIf="ps.type || ps.model || ps.capacity || ps.connection || ps.output || ps.compatibility || ps.screen_size || ps.frequency || ps.power">
                <thead>
                    <h2>{{name.TITLE_GENERAL}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.brand">
                        <th>{{name.BRAND}}</th>
                        <td>{{ps.brand}}</td>
                    </tr>
                    <tr *ngIf="ps.type">
                        <th>{{name.TYPE}}</th>
                        <td>{{ps.type}}</td>
                    </tr>
                    <tr *ngIf="ps.model">
                        <th>{{name.MODEL}}</th>
                        <td>{{ps.model}}</td>
                    </tr>
                    <tr *ngIf="ps.capacity">
                        <th>{{name.CAPACITY}}</th>
                        <td>{{ps.capacity}}</td>
                    </tr>
                    <tr *ngIf="ps.connection">
                        <th>{{name.CONNECTION}}</th>
                        <td>{{ps.connection}}</td>
                    </tr>
                    <tr *ngIf="ps.output">
                        <th>{{name.OUTPUT}}</th>
                        <td>{{ps.output}}</td>
                    </tr>
                    <tr *ngIf="ps.compatibility">
                        <th>{{name.COMPATIBILITY}}</th>
                        <td>{{ps.compatibility}}</td>
                    </tr>
                    <tr *ngIf="ps.screen_size">
                        <th>{{name.SCREEN_SIZE}}</th>
                        <td>{{ps.screen_size}}</td>
                    </tr>
                    <tr *ngIf="ps.frequency">
                        <th>{{name.FREQUENCY}}</th>
                        <td>{{ps.frequency}}</td>
                    </tr>
                    <tr *ngIf="ps.power">
                        <th>{{name.POWER}}</th>
                        <td>{{ps.power}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="right-side">
            <!-- Laptops - Desktops ------------------------------------------------------------------------- -->
            <table
                *ngIf="ps.hard_type_1 || ps.hard_capacity_1 || ps.hard_slot_1 || ps.hard_type_2 || ps.hard_capacity_2 || ps.hard_slot_2">
                <thead>
                    <h2>{{name.TITLE_HARD}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.hard_type_1">
                        <th>{{name.HARD_TYPE_1}}</th>
                        <td>{{ps.hard_type_1}}</td>
                    </tr>
                    <tr *ngIf="ps.hard_capacity_1">
                        <th>{{name.HARD_CAPACITY_1}}</th>
                        <td>{{ps.hard_capacity_1}}</td>
                    </tr>
                    <tr *ngIf="ps.hard_slot_1">
                        <th>{{name.HARD_SLOT_1}}</th>
                        <td>{{ps.hard_slot_1}}</td>
                    </tr>
                    <tr *ngIf="ps.hard_type_2">
                        <th>{{name.HARD_TYPE_2}}</th>
                        <td>{{ps.hard_type_2}}</td>
                    </tr>
                    <tr *ngIf="ps.hard_capacity_2">
                        <th>{{name.HARD_CAPACITY_2}}</th>
                        <td>{{ps.hard_capacity_2}}</td>
                    </tr>
                    <tr *ngIf="ps.hard_slot_2">
                        <th>{{name.HARD_SLOT_2}}</th>
                        <td>{{ps.hard_slot_2}}</td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="ps.connectivity_bluetooth || ps.connectivity_wireless">
                <thead>
                    <h2>{{name.TITLE_CONNECTIVITY}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.connectivity_bluetooth">
                        <th>{{name.CONNECTIVITY_BLUETOOTH}}</th>
                        <td>{{ps.connectivity_bluetooth}}</td>
                    </tr>
                    <tr *ngIf="ps.connectivity_wireless">
                        <th>{{name.CONNECTIVITY_WIRELESS}}</th>
                        <td>{{ps.connectivity_wireless}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Bags - Chargers - Hards - ExtBaterries - Rams - Monitors---------------------------------------------- -->
            <table
                *ngIf="ps.read_speed || ps.write_speed || ps.material || ps.color || ps.weight || ps.speed || ps.hdmi || ps.speaker || ps.radiator || ps.voltage">
                <thead>
                    <h2>{{name.TITLE_OTHER}}</h2>
                </thead>
                <tbody>
                    <tr *ngIf="ps.read_speed">
                        <th>{{name.READ_SPEED}}</th>
                        <td>{{ps.read_speed}}</td>
                    </tr>
                    <tr *ngIf="ps.write_speed">
                        <th>{{name.WRITE_SPEED}}</th>
                        <td>{{ps.write_speed}}</td>
                    </tr>
                    <tr *ngIf="ps.material">
                        <th>{{name.MATERIAL}}</th>
                        <td>{{ps.material}}</td>
                    </tr>
                    <tr *ngIf="ps.color">
                        <th>{{name.COLOR}}</th>
                        <td>{{ps.color}}</td>
                    </tr>
                    <tr *ngIf="ps.weight">
                        <th>{{name.WEIGHT}}</th>
                        <td>{{ps.weight}}</td>
                    </tr>
                    <tr *ngIf="ps.speed">
                        <th>{{name.SPEED}}</th>
                        <td>{{ps.speed}}</td>
                    </tr>
                    <tr *ngIf="ps.hdmi">
                        <th>{{name.HDMI}}</th>
                        <td>{{ps.hdmi}}</td>
                    </tr>
                    <tr *ngIf="ps.speaker">
                        <th>{{name.SPEAKER}}</th>
                        <td>{{ps.speaker}}</td>
                    </tr>
                    <tr *ngIf="ps.radiator">
                        <th>{{name.RADIATOR}}</th>
                        <td>{{ps.radiator}}</td>
                    </tr>
                    <tr *ngIf="ps.voltage">
                        <th>{{name.VOLTAGE}}</th>
                        <td>{{ps.voltage}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>