@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-pink, 500);
$my-accent: mat-palette($mat-grey, 700);
$my-warn: mat-palette($mat-red, A700);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-theme);




.alternative {
  $my-primary: mat-palette($mat-amber, 800);
  $my-accent: mat-palette($mat-light-green, 800);
  $my-theme: mat-light-theme($my-primary, $my-accent);
  @include angular-material-theme($my-theme);
}



/* mat-accordeon ============================================== */
.mat-expansion-panel-body {
  padding: 10px 20px !important;
}

.mat-accordion .mat-expansion-indicator::after {
  margin: 0 6px;
  color: rgb(232, 232, 232);
}

.mat-accordion .mat-expansion-panel {
  border-radius: 0 !important;
}

.mat-expansion-indicator::after {
  translate: 0 -4px !important; 
}


// colors
// $accent-color:          #333 !default;
// $accent-opposite-color: #fff !default;
// $light-opposite-color:  #333 !default;


// .departments
// $departments-icon-color:    rgba(#fff, .2)  !default;
// $departments-arrow-color:   rgba(#fff, .2)  !default;
// $departments-item-hover-bg: rgba(#fff, .08) !default;