.my-container {
    width: 100%;
    cursor: default;
    // border: 2px solid black;
}

.my-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1500px;
    min-height: 70vh;
    // border: 2px solid black;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
    // border: 1px solid red;
}

button {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 10px;
}

@media(max-width: 1530px) {
    .my-content {
        width: 1200px;
    }
}

@media(max-width: 1260px) {
    .my-content {
        width: 990px;
    }
}

@media(max-width: 1020px) {
    .my-content {
        width: 100%;
        padding: 0 10px;
    }
}