/* mat-accordeon ============================================== */
.mat-expansion-panel {
    border-radius: 0 !important;
    // border: 2px solid rgb(255, 0, 0) !important;
}

.mat-expansion-panel-body {
    padding: 10px !important;
    // border: 2px solid rgb(255, 0, 0) !important;
}

.mat-expansion-indicator {
    margin-right: 4px;
}

.mat-expansion-indicator::after{
    color: rgb(255, 255, 255) !important;
    translate: 0 -2px !important;
}