<app-navbar-main></app-navbar-main>

<app-navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></app-navbar-desktop>

<div class="container-admin">
  <div class="content-admin">

    <div class="title">
      <h1><strong>ORDERS {{order.orderId}}</strong></h1>
      <h3>Orders number: {{orders.length}}</h3>
    </div>


    <table class="table-row">
      <thead class="bottom-line">
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Payment Type</th>
          <th>Fav Delivery</th>
          <th>Subtotal</th>
          <th>Total Price</th>

          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody class="bottom-line" *ngFor="let order of orders">
        <tr class="client">
          <td><strong>{{order.orderId}}</strong></td>
          <td>{{order.createdAt}}</td>
          <td>{{order.paymentType}}</td>
          <td>{{order.favoriteDelivery}} Lei</td>
          <td>{{order.subtotal}} Lei</td>
          <td>{{order.totalPrice}} Lei</td>

          <td>
            <button class="btn-status" [ngStyle]="{'background': getStatus(order.status)}"
              (click)="updateStatus(order)">{{order.status}}
            </button>
          </td>
          <td>
            <button class="btn-delete" (click)="deleteOrderDialog(order)">Delete</button>
          </td>
        </tr>
        <tr class="client">
          <td>{{order.userIdGet}}</td>
          <td>{{order.nameGet}}</td>
          <td>{{order.emailGet}}</td>
          <td>{{order.addressGet}}</td>
          <td colspan="4">{{order.phoneGet}}</td>
        </tr>
        <tr *ngFor="let item of order.items">
          <td>{{item.itemId}}</td>
          <td colspan="1"><strong>{{item.productName}}</strong></td>
          <td>{{item.quantity}} buc</td>
          <td colspan="5">{{item.price}} Lei</td>
        </tr>
      </tbody>
    </table>


    <table class="table-col" *ngFor="let order of orders">
      <tbody>
        <tr>
          <th colspan="3">{{order.orderId}}</th>
        </tr>
        <tr>
          <th>Date</th>
          <td colspan="2">{{order.createdAt}}</td>
        </tr>
        <tr>
          <th>Payment Type</th>
          <td colspan="2">{{order.paymentType}}</td>
        </tr>
        <tr>
          <th>Fav Delivery</th>
          <td colspan="2">{{order.favoriteDelivery}} Lei</td>
        </tr>
        <tr>
          <th>Subtotal</th>
          <td colspan="2">{{order.subtotal}} Lei</td>
        </tr>
        <tr>
          <th>Total Price</th>
          <td colspan="2"><strong>{{order.totalPrice}} Lei</strong></td>
        </tr>
        <tr class="user">
          <th>User Id</th>
          <td colspan="2">{{order.userIdGet}}</td>
        </tr>
        <tr class="user">
          <th>Name</th>
          <td colspan="2">{{order.nameGet}}</td>
        </tr>
        <tr class="user">
          <th>Email</th>
          <td colspan="2">{{order.emailGet}}</td>
        </tr>
        <tr class="user">
          <th>Address</th>
          <td colspan="2">{{order.addressGet}}</td>
        </tr>
        <tr class="user">
          <th>Phone</th>
          <td colspan="2">{{order.phoneGet}}</td>
        </tr>
        <tr *ngFor="let item of order.items">
          <td><strong>{{item.productName}}</strong></td>
          <td>{{item.quantity}} buc</td>
          <td>{{item.price}} lei</td>
        </tr>
        <tr class="action">
          <th>Action</th>
          <td colspan="2">
            <button class="btn-status" [ngStyle]="{'background': getStatus(order.status)}"
              (click)="updateStatus(order)">{{order.status}}</button>
            <button class="btn-delete" (click)="deleteOrderDialog(order)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>