<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="container">
    <div class="column">

        <div class="row">
            <!-- f i l t e r s ==================================================================================== -->
            <div class="filters">
                <!-- available filter ----------------------------------------------------------- -->
                <div class="available">
                    <h3><strong>Disponibilitate</strong></h3>
                    <div class="filter-group" *ngIf="stock_out.length!==0">
                        <input type="checkbox" id="stock" name="stock" [(ngModel)]="stock_chk"
                            (change)="filter_stock()">
                        <label for="stock"> In Stoc ({{stock_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="deposit_out.length!==0">
                        <input type="checkbox" id="deposit" name="deposit" [(ngModel)]="deposit_chk"
                            (change)="filter_deposit()">
                        <label for="deposit"> In Depozit ({{deposit_out.length}})</label>
                    </div>
                </div>

                <!-- price filter ---------------------------------------------------------------- -->
                <div class="price">
                    <h3><strong>Pret</strong></h3>
                    <div class="filter-group" *ngIf="under100_out.length!==0">
                        <input type="checkbox" id="under100" name="under100" [(ngModel)]="under100_chk"
                            (change)="filter_under100()">
                        <label for="under100"> Sub 100 ({{under100_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="under200_out.length!==0">
                        <input type="checkbox" id="under200" name="under200" [(ngModel)]="under200_chk"
                            (change)="filter_under200()">
                        <label for="under200"> 100 - 200 ({{under200_out.length}})</label>
                    </div>                   
                    <div class="filter-group" *ngIf="over200_out.length!==0">
                        <input type="checkbox" id="over200" name="over200" [(ngModel)]="over200_chk"
                            (change)="filter_over200()">
                        <label for="over200"> Peste 200 ({{over200_out.length}})</label>
                    </div>
                </div>

                <!-- brand filter --------------------------------------------------------------- -->
                <div class="brand">
                    <h3><strong>Brand</strong></h3>
                    <div class="filter-group" *ngIf="hama_out.length!==0">
                        <input type="checkbox" id="hama" name="hama" [(ngModel)]="hama_chk" (change)="filter_hama()">
                        <label for="hama"> HAMA ({{hama_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="lenovo_out.length!==0">
                        <input type="checkbox" id="lenovo" name="lenovo" [(ngModel)]="lenovo_chk"
                            (change)="filter_lenovo()">
                        <label for="lenovo"> LENOVO ({{lenovo_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="iphone_out.length!==0">
                        <input type="checkbox" id="iphone" name="iphone" [(ngModel)]="iphone_chk"
                            (change)="filter_iphone()">
                        <label for="iphone"> IPHONE ({{iphone_out.length}})</label>
                    </div>
                </div>

                <!-- category filter ----------------------------------------------------------- -->
                <div class="category">
                    <h3><strong>Categorie</strong></h3>
                    <div class="filter-group" *ngIf="plugIn_out.length!==0">
                        <input type="checkbox" id="plugIn" name="plugIn" [(ngModel)]="plugIn_chk" (change)="filter_plugIn()">
                        <label for="plugIn"> Retea ({{plugIn_out.length}})</label>
                    </div>
                    <div class="filter-group" *ngIf="car_out.length!==0">
                        <input type="checkbox" id="car" name="car" [(ngModel)]="car_chk"
                            (change)="filter_car()">
                        <label for="car"> Auto ({{car_out.length}})</label>
                    </div>
                </div>
            </div>

            <!-- p r o d u c t s ==================================================================================== -->
            <div class="products">

                <div class="products-header">
                    <h1>Incarcatoare laptop</h1>

                    <div class="categorySelect">
                        <label for="categorySelect">Sorteaza dupa: </label>
                        <select name="categorySelect" [(ngModel)]="laptopChargers_sorting">
                            <option value="name" (click)="name_alphabetic()">Nume</option>
                            <option value="lowToHigh" (click)="price_ascending()">Pret crescator</option>
                            <option value="highToLow" (click)="price_descending()">Pret descrescator</option>
                            <option value="bestSold" (click)="sold()">Cele mai vandute</option>
                        </select>
                    </div>
                </div>

                <div class="cards-container">
                    <div class="card" *ngFor="let item of laptopChargers;">
                        <a [routerLink]="'/chg/' + item.linkName">
                            <img [src]="item.src1" [alt]="item.alt" />
                            <h4><strong>{{item.description}}</strong></h4>
                        </a>
                        <p class="avail stock" *ngIf="item.available==='STOCK'">in stoc</p>
                        <p class="avail deposit" *ngIf="item.available==='DEPOSIT'">in depozitul central</p>
                        <p class="val"><strong>{{item.price}} Lei</strong></p>
                        <button (click)="addToCart(item)">Adauga in cos</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
