<div class="container">
    <div class="content">

        <div id="slider">
            <div class="slide" id="slide" [style]="slide">

                <div class="card" *ngFor="let phoneCard of phoneCards">
                    <a routerLink={{phoneCard.link}}>
                        <img class="image" src={{phoneCard.src}} alt={{phoneCard.alt}}>

                        <span style="background: rgb(0, 154, 230)">
                            {{phoneCard.alert === "Top Favorite" ? phoneCard.alert : ""}}
                        </span>

                        <span style="background: rgb(220, 20, 110)">
                            {{phoneCard.alert === "Super Pret" ? phoneCard.alert : ""}}
                        </span>

                        <h3>{{phoneCard.name}}</h3>

                        <p>{{phoneCard.price}} Lei</p>
                    </a>
                </div>

            </div>
        </div>

        <div class="controls">
            <div class="btn-container">
                <button class="previous" *ngIf="isPreviousVisible" (click)="previous()">
                    <img class="svg" src="assets/svgs/chevron-l.svg" alt="chevron-right">
                </button>
            </div>
            <div class="dots"></div>

            <div class="btn-container">
                <button class="next" *ngIf="isNextVisible" (click)="next()">
                    <img class="svg" src="assets/svgs/chevron-r.svg" alt="chevron-right">
                </button>
            </div>
        </div>


    </div>
</div>