.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

/* ============================== frames */
.content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1570px;
    height: 120%;
    transition: 0.2s;
    /* border: 2px solid black; */
}

#slider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 1512px;
    transition: 0.2s;
    /* border: 2px solid rgb(3, 60, 181); */
}

.controls {
    position: absolute;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 108%;
    /* border: 2px solid rgb(238, 3, 255); */
}

.slide {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 500%;
    left: 0; 
    transition: 1s;
    /* border: 2px solid rgb(108, 0, 208);     */
}

/* ============================================== card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 350px;
    margin: 12px  6px;
    cursor: pointer;
    z-index: 1;
    background: white;
    box-shadow: 0px 6px 10px 0px rgba(62, 62, 62, 0.2);
    /* border: 2px solid rgb(89, 165, 2); */
}

.card a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin: 8px;
}

.image {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.card span {
    position: absolute;
    left: 0;
    top: 62%;    
    width: 80px;
    border-radius: 0 4px 4px 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.card > a > h3 {
    overflow-y: hidden;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    margin: 20px 4px;
    /* border: 2px solid red; */
}

.card > a > p {
    font-size: 22px;
    font-weight: bold;
    color: rgb(220, 20, 110);
    margin: 4px;
    /* border: 2px solid red; */
}

/* ============================================== buttons */
.btn-container {
    display: flex;
    align-items: center;
    width: 30px;
    height: 80px;
    z-index: 1;
    /* border: 2px solid red; */
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

.previous,
.next {
    background: white;
    border: none;
    cursor: pointer; 
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border: 2px solid red; */
}

/* .svg {
    border: 2px solid red;
} */

.dot {
    display: inline-block;
    cursor: pointer;
    background: rgb(203, 203, 203, 0.5);
    margin: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    z-index: 1;
    border: 3px solid rgba(54, 54, 54, 0.8);
}

.dot:hover {
    background: rgba(54, 54, 54, 0.5);
}

input {
    display: none;
}




/* ============================================== @ media */
@media (max-width: 1600px) {
    .content {
        width: 1270px;
    }
    #slider {
        width: 1210px;
    }

    .card {
        width: 230px;
        height: 336px;
    }   
}

@media (max-width: 1280px) {
    .content {
        width: 1030px;
    }

    #slider {
        width: 968px;
    }
}

@media (max-width: 1040px) {
    .content {
        width: 790px;
    }

    #slider {
        width: 726px;
    }
}

@media (max-width: 820px) {
    .content {
        width: 546px;
    }

    #slider {
        width: 484px;
    }
}

@media (max-width: 560px) {
    .content {
        width: 306px;
    }

    #slider {
        width: 242px;
    }
}