.card {
    margin-right: 4px;
    z-index: 1;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 4px;
    max-width: 114px;
    max-height: 114px;
}

.active {
    border-radius: 4px;
    border: 2px solid rgb(220, 20, 110);
}

img {
    border-radius: 4px;
}

@media(max-width: 1530px) {

}

@media(max-width: 1260px) {

}

@media(max-width: 1020px) {
    
}