<app-navbar-main></app-navbar-main>

<app-navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></app-navbar-desktop>

<div class="container-aux">

    <div class="row-aux">
        <div class="breadcrumb">
            <breadcrumb [currentLevelCrumb]="currentLevel">
            </breadcrumb>
        </div>
    </div>

    <!-- C A R D U R I -------------------------------------------------------------------------------------- -->
    <div class="row-aux">
        <div class="card" [routerLink]="card.link" *ngFor="let card of cards" (click)="noRoute(card)">
            <img [src]="card.image" [alt]="card.image" />
            <h1>{{card.name}}</h1>
        </div>
    </div>
</div>