<app-navbar-main></app-navbar-main>

<app-navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></app-navbar-desktop>

<div class="delimiter"></div>



<div class="container-owl">
  <div class="content-owl">

    <div class="info-block">
      <app-info-block></app-info-block>
    </div>

    <div class="carousel-laptop">
      <app-carousel-laptop></app-carousel-laptop>
    </div>

    <div class="carousel-aux">
      <app-carousel-aux></app-carousel-aux>
    </div>

  </div>
</div>



<app-footer></app-footer>