.content-home {
  width: 1500px;
  margin: auto;
  /* border: 2px solid black; */
}

.carousel-container {
  display: flex;
  justify-content: right;
  width: 100%;
}

.carousel-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.info-block {
  margin-top: 20px;
}

.carousel-owl-lpt {
  margin-top: 30px;
}

.carousel-owl-dps {
  margin-top: 20px;
}

@media (max-width: 1530px) {
  .content-home {
    width: 1200px;
  }

  .carousel-slider {
    width: 900px;
  }
}

@media (max-width: 1260px) {
  .content-home {
    width: 990px;
  }

  .carousel-slider {
    width: 690px;
    height: 414px;
  }
}

@media (max-width: 1020px) {
  .content-home {
    width: 100%;
  }

  .carousel-container {
    margin-top: 10px;
  }

  .carousel-slider {
    width: 100%;
    height: auto;
  }

  .info-block {
    margin: 10px;
  }

  .carousel-owl-lpt {
    margin: 20px 4px 0 4px;
  }
  .carousel-owl-dps {
    margin: 10px 4px 0 4px;
  } 
}