<navbar-main></navbar-main>

<navbar-desktop [isDesktopMenuOpen]="isDesktopMenuOpen" [isCarouselOpen]="isCarouselOpen"></navbar-desktop>

<div class="delimiter"></div>



<div class="container-owl">
  <div class="content-owl">

    <div class="info-block">
      <info-block></info-block>
    </div>

    <div class="carousel-laptop">
      <carousel-laptop></carousel-laptop>
    </div>

    <div class="carousel-aux">
      <carousel-aux></carousel-aux>
    </div>

  </div>
</div>



<app-footer></app-footer>